.spectrum-Site {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.spectrum-Site-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  max-height: 100%;
  height: 100%;
}
.spectrum-Site-header {
  display: none;

  box-sizing: border-box;
  height: 48px;
  padding: 8px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.spectrum-Site-sideBar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  max-width: 100%;

  transition: none;
}
.spectrum-Site-sideBarHeader {
  -ms-flex-positive: 0;
      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;

  padding: 28px 24px;

  text-decoration: none;
}
.spectrum-Site-sideBarHeader:focus {
  outline: none;
}
.spectrum-Site-sideBarHeader:focus h2 {
  text-decoration: underline;
}
.spectrum-Site-search {
  padding: 0 24px 24px 24px;
}
[dir="ltr"] .spectrum-Site-searchResults {
  left: -100%;
}
[dir="rtl"] .spectrum-Site-searchResults {
  right: -100%;
}
.spectrum-Site-searchResults {
  top: -100%;
  max-height: calc(90vh - 120px);
  z-index: 101;
  position: absolute;

  overflow-y: auto;
}
.spectrum-Site-noSearchResults {
  padding: 32px 32px 32px;
}
[dir="ltr"] .spectrum-Site-logo {
  margin-right: 16px;
}
[dir="rtl"] .spectrum-Site-logo {
  margin-left: 16px;
}
.spectrum-Site-logo {
  color: #FA0F00;
}
.spectrum--medium .spectrum-Site-logo {
    height: 32px;
  }
.spectrum--large .spectrum-Site-logo {
    height: 40px;
  }
.spectrum-Site-nav {
  -ms-flex-positive: 1;
      flex-grow: 1;

  padding: 0px 24px 40px;
}
.spectrum-Site-bottomNav {
  margin-top: 80px;
}
.spectrum-Site-page {
  padding: 40px 52px 24px 52px;
  max-width: 1080px;
  margin: auto;
  box-sizing: border-box;
}
.spectrum-Site-hero {
  max-width: 1080px;
  margin: auto;
}
.spectrum-Site-heroHeading {
  margin-bottom: 16px;
}
.spectrum-Site-heroHeading .spectrum-Heading {
  margin-top: 0 !important;
}
[dir="ltr"] .spectrum-Site-heroImage {
  margin-left: auto;
}
[dir="rtl"] .spectrum-Site-heroImage {
  margin-right: auto;
}
[dir="ltr"] .spectrum-Site-heroImage {
  margin-right: auto;
}
[dir="rtl"] .spectrum-Site-heroImage {
  margin-left: auto;
}
.spectrum-Site-heroImage {
  display: block;
  max-width: 100%;
  margin-top: 56px;
  margin-bottom: 56px;
  border-radius: 4px;
}
.spectrum-Site-mainContent {
  -ms-flex-positive: 1;
      flex-grow: 1;
  border-top: none;
  border-bottom: none;
  overflow-y: auto;
}
.spectrum-Site-footerContainer {
  max-width: 1080px;
  margin: 40px auto;
  padding: 0 56px;
}
[dir="ltr"] .spectrum-Site-overlay {
  right: 0;
}
[dir="rtl"] .spectrum-Site-overlay {
  left: 0;
}
[dir="ltr"] .spectrum-Site-overlay {
  left: 0;
}
[dir="rtl"] .spectrum-Site-overlay {
  right: 0;
}
.spectrum-Site-overlay {
  display: none;
  visibility: hidden;

  opacity: 0;

  pointer-events: none;
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99;

  overflow: hidden;
}
@media screen and (max-width: 960px) {
  .spectrum-Site-content {
    max-height: calc(100% - 48px);
  }

  .spectrum-Site-overlay {
    display: block;
    transition: opacity 160ms ease-out 0ms,
                visibility 0ms linear 160ms;
  }

  .spectrum-Site-overlay.is-open {
    visibility: visible;

    opacity: 1;

    pointer-events: auto;
    transition: opacity 160ms ease-in 0ms;
  }

  .spectrum-Site-overlay {
    visibility: visible;
  }

  [dir="ltr"] .spectrum-Site-sideBar {
    right: 100%;
  }

  [dir="rtl"] .spectrum-Site-sideBar {
    left: 100%;
  }

  .spectrum-Site-sideBar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 100;

    transform: translateX(0);
    transition: transform 160ms ease-in-out;
  }

  .spectrum-Site-sideBar.is-open {
    transform: translateX(100%);
  }

  .spectrum-Site-header {
    display: block;
  }

  [dir="ltr"] .spectrum-Site-page {
    padding-left: 24px;
  }

  [dir="rtl"] .spectrum-Site-page {
    padding-right: 24px;
  }

  [dir="ltr"] .spectrum-Site-page {
    padding-right: 24px;
  }

  [dir="rtl"] .spectrum-Site-page {
    padding-left: 24px;
  }

  .spectrum-Site-hero {
    max-width: 100%;
  }

  .spectrum-Site-heroHeading h1.spectrum-Heading1--display {
    font-size: 36px;
  }
}
.spectrum-CSSComponent {
  max-width: 1080px;
  margin: 40px auto;
  padding: 0 56px;
}
.spectrum-CSSComponent-heading {
  margin-bottom: 40px;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}
.spectrum-CSSComponent-link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  color: inherit;
  text-decoration: none;
  outline: none;
}
.spectrum-CSSComponent-link.focus-ring,
.spectrum-CSSComponent-link:hover {
  text-decoration: underline;
}
.spectrum-CSSComponent-statusContainer {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-flex-positive: 1;
      flex-grow: 1;
  vertical-align: bottom;
  margin: 0 16px;
}
[dir="ltr"] .spectrum-CSSComponent-detailsTable th {
  padding-right: 24px;
}
[dir="rtl"] .spectrum-CSSComponent-detailsTable th {
  padding-left: 24px;
}
.spectrum-CSSComponent-detailsTable th {
  text-align: left;
  height: 28px;
  font-weight: 400;
}
.spectrum-CSSComponent-detailsTable {
  border-spacing: 0;
  margin-top: 40px;
  margin-bottom: 36px;
}
.spectrum-CSSComponent-sectionHeading {
  margin-top: 48px;
  margin-bottom: 32px;
}
.spectrum-CSSExample-status,
.spectrum-CSSComponent-status {
  padding: 0 !important;
  min-height: 0 !important;
}
[dir="ltr"] .spectrum-CSSComponent-status::before {
  margin-left: 0 !important;
}
[dir="rtl"] .spectrum-CSSComponent-status::before {
  margin-right: 0 !important;
}
[dir="ltr"] .spectrum-CSSExample-status {
  margin-left: 16px;
}
[dir="rtl"] .spectrum-CSSExample-status {
  margin-right: 16px;
}
.spectrum-CSSComponent-version {
  -ms-flex-positive: 1;
      flex-grow: 1;
  text-align: right;
}
.spectrum-CSSComponent-description {
  margin-top: 24px;
  margin-bottom: 48px;
}
.spectrum-CSSComponent-resources {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: row;
      flex-direction: row;
  margin-bottom: 56px;
}
[dir="ltr"] .spectrum-CSSComponent-resources .spectrum-Card {
  margin-right: 24px;
}
[dir="rtl"] .spectrum-CSSComponent-resources .spectrum-Card {
  margin-left: 24px;
}
.spectrum-CSSComponent-resources .spectrum-Card {
  margin-bottom: 24px;
}
.spectrum--dark .spectrum-CSSComponent-resource--github, .spectrum--darkest .spectrum-CSSComponent-resource--github {
    background-color: rgba(245, 245, 245, 0.1) !important;
    color: rgb(245, 245, 245);
  }
.spectrum-CSSComponent-resource--npm {
  background-color: rgba(203, 56, 55, 0.1) !important;
}
.spectrum-CSSComponent-cardImage {
  text-decoration: none;
}
.spectrum-CSSComponent-switcher {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
[dir="ltr"] .spectrum-CSS-switcherContainer {
  margin-left: 32px;
}
[dir="rtl"] .spectrum-CSS-switcherContainer {
  margin-right: 32px;
}
.spectrum-CSS-switcherContainer {
  white-space: nowrap;
}
.spectrum-CSSExample {
  margin-bottom: 64px;
}
.spectrum-CSSExample-container {
  position: relative;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;

  border-radius: 4px;
}
.spectrum-CSSExample-heading {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 8px !important;
}
.spectrum-CSSExample-example,
.spectrum-CSSExample-markup {
  box-sizing: border-box;
}
.spectrum-CSSExample-example {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;

  min-height: 0;

  padding: 32px 40px;

  border-radius: 4px 4px 0 0;
}
.spectrum-CSSExample-markup {
  position: relative;
  max-width: 100%;
  max-height: 192px;

  padding: 10px 18px;

  border-radius: 0 0 4px 4px;

  overflow: hidden;
}
.spectrum-CSSExample-markup.is-open {
  max-height: 100%;

  padding-bottom: 56px;
}
.spectrum-CSSExample-markup.is-open .spectrum-CSSExample-markupToggle::before {
  display: none;
}
.spectrum-CSSExample-markupToggle + pre {
  padding-bottom: 8px;
}
.spectrum-CSSExample-example--spacious {
  position: relative;
  height: 150px;
}
.spectrum-CSSExample-example--overlay {
  position: relative;
  min-height: 64px;
}
[dir="ltr"] .spectrum-CSSExample-dialog {
  margin-left: auto;
}
[dir="rtl"] .spectrum-CSSExample-dialog {
  margin-right: auto;
}
[dir="ltr"] .spectrum-CSSExample-dialog {
  margin-right: auto;
}
[dir="rtl"] .spectrum-CSSExample-dialog {
  margin-left: auto;
}
[dir="ltr"] .spectrum-CSSExample-dialog {
  left: 0;
}
[dir="rtl"] .spectrum-CSSExample-dialog {
  right: 0;
}
.spectrum-CSSExample-dialog {
  position: relative !important;
  transform: none !important;
  width: auto !important;
  height: auto !important;
  top: 0;
  z-index: 1 !important;
  transition: none;
}
[dir="ltr"] .spectrum-Button.spectrum-CSSExample-overlayShowButton {
  left: 50%;
}
[dir="rtl"] .spectrum-Button.spectrum-CSSExample-overlayShowButton {
  right: 50%;
}
.spectrum-Button.spectrum-CSSExample-overlayShowButton {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.spectrum-CSSExample-markup pre code {
  white-space: pre-wrap;
}
[dir="ltr"] .spectrum-CSSExample-markupToggle {
  left: 0;
}
[dir="rtl"] .spectrum-CSSExample-markupToggle {
  right: 0;
}
[dir="ltr"] .spectrum-CSSExample-markupToggle {
  right: 0;
}
[dir="rtl"] .spectrum-CSSExample-markupToggle {
  left: 0;
}
.spectrum-CSSExample-markupToggle {
  position: absolute;
  z-index: 0;
  bottom: 0;

  box-sizing: border-box;
  padding: 24px 24px;

  font-size: 15px;
  text-align: left
}
@media screen and (max-width: 960px) {
  .spectrum-CSSComponent {
    padding: 0 20px;
    margin: 8px auto;
  }

  .spectrum-CSSComponent-description {
    margin-bottom: 12px;
  }

  .spectrum-CSSExample {
    margin-bottom: 16px;
  }

  .spectrum-CSSExample-example {
    padding: 16px 16px;
  }

  .spectrum-CSSComponent-header {
    margin-bottom: 12px;
  }

  .spectrum-CSSComponent-statusContainer,
  .spectrum-CSSComponent-version {
    display: none;
  }
  .spectrum-CSSComponent-title {
    font-size: 28px;
  }
}
.spectrum-CenteredImage {
  width: 100%;
  max-width: 720px;
  margin: auto;
  display: block;
}
.spectrum-CodeBlock {
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  padding: 14px 16px;

  margin: 20px 0;
}
.spectrum-HomeCards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(380px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-gap: 1rem;
  margin: 56px 0;
}
.spectrum-HomeCard {
  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: start;

      align-items: flex-start;

  margin-bottom: 28px;
  padding: 0 20px;
}
.spectrum-HomeCard-image {
  width: 100px;
  margin-right: 20px;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
}
.spectrum-HomeCard-content {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
}
.u-scrollable {
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;
}
.u-scrollable::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.u-scrollable::-webkit-scrollbar-thumb {
  border-radius: 8px;
  width: 8px;
  height: 8px;
  border-top: 2px solid rgba(0, 0, 0, 0);
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
}
