.spectrum--dark .spectrum-Divider--large {
  background-color: rgb(203, 203, 203);
}
.spectrum--dark .spectrum-Divider--medium {
  background-color: rgb(74, 74, 74);
}
.spectrum--dark .spectrum-Divider--small {
  background-color: rgb(74, 74, 74);
}
