.spectrum--lightest .spectrum-Divider--large {
  background-color: rgb(73, 73, 73);
}
.spectrum--lightest .spectrum-Divider--medium {
  background-color: rgb(234, 234, 234);
}
.spectrum--lightest .spectrum-Divider--small {
  background-color: rgb(234, 234, 234);
}
