.spectrum-Dialog {
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  width: -webkit-fit-content;
  width: fit-content;
  min-width: 288px;
  max-width: 100%;

  max-height: inherit;

  outline: none;
}
.spectrum-Dialog--small {
  width: 400px;
}
.spectrum-Dialog--medium {
  width: 480px;
}
.spectrum-Dialog--large {
  width: 640px;
}
.spectrum-Dialog-hero {
  grid-area: hero;
  height: 128px;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;

  background-size: cover;
  background-position: center center;
  overflow: hidden;
}
.spectrum-Dialog .spectrum-Dialog-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40px auto 1fr auto minmax(
      0,
      auto
    ) 40px;
      grid-template-columns: 40px auto 1fr auto minmax(
      0,
      auto
    ) 40px;
  -ms-grid-rows: auto 40px auto auto 1fr auto 40px;
      grid-template-rows: auto 40px auto auto 1fr auto 40px;
  grid-template-areas:
    "hero hero    hero    hero        hero        hero"
    ".    .       .       .           .           ."
    ".    heading header  header      typeIcon    ."
    ".    divider divider divider     divider     ."
    ".    content content content     content     ."
    ".    footer  footer  buttonGroup buttonGroup ."
    ".    .       .       .           .           .";
  width: 100%;
}
[dir="ltr"] .spectrum-Dialog-heading {

  padding-right: 16px;
}
[dir="rtl"] .spectrum-Dialog-heading {

  padding-left: 16px;
}
.spectrum-Dialog-heading {
  grid-area: heading;

  margin: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;

  outline: none;
}
[dir="ltr"] .spectrum-Dialog-heading.spectrum-Dialog-heading--noHeader {
    padding-right: 0;
}
[dir="rtl"] .spectrum-Dialog-heading.spectrum-Dialog-heading--noHeader {
    padding-left: 0;
}
.spectrum-Dialog-heading.spectrum-Dialog-heading--noHeader {
    grid-area: heading-start / heading-start / header-end / header-end;
  }
.spectrum-Dialog-header {
  grid-area: header;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: end;
      justify-content: flex-end;

  box-sizing: border-box;

  outline: none;
}
.spectrum-Dialog-typeIcon {
  grid-area: typeIcon;
}
.spectrum-Dialog .spectrum-Dialog-divider {
  grid-area: divider;
  width: 100%;
  margin-top: 12px;
  margin-bottom: 16px;
}
.spectrum-Dialog--noDivider .spectrum-Dialog-divider {
    display: none;
  }
.spectrum-Dialog--noDivider .spectrum-Dialog-heading {
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
  }
.spectrum-Dialog-content {
  grid-area: content;
  box-sizing: border-box;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  outline: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 2px;
  margin: 0 -2px;
}
.spectrum-Dialog-footer {
  grid-area: footer;
  padding-top: 40px;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  outline: none;
}
.spectrum-Dialog-footer > *,
  .spectrum-Dialog-footer > .spectrum-Button + .spectrum-Button {
    margin-bottom: 0;
  }
[dir="ltr"] .spectrum-Dialog-buttonGroup {
  padding-left: 16px;
}
[dir="rtl"] .spectrum-Dialog-buttonGroup {
  padding-right: 16px;
}
.spectrum-Dialog-buttonGroup {
  grid-area: buttonGroup;
  padding-top: 40px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.spectrum-Dialog-buttonGroup.spectrum-Dialog-buttonGroup--noFooter {
    grid-area: footer-start / footer-start / buttonGroup-end / buttonGroup-end;
  }
.spectrum-Dialog.spectrum-Dialog--dismissable .spectrum-Dialog-grid {
  -ms-grid-columns: 40px auto 1fr auto minmax(
      0,
      auto
    ) minmax(0, 32px) 40px;
      grid-template-columns: 40px auto 1fr auto minmax(
      0,
      auto
    ) minmax(0, 32px) 40px;
  -ms-grid-rows: auto 40px auto auto 1fr auto 40px;
      grid-template-rows: auto 40px auto auto 1fr auto 40px;
  grid-template-areas:
    "hero hero    hero    hero        hero        hero        hero"
    ".    .       .       .           .           closeButton closeButton"
    ".    heading header  header      typeIcon    closeButton closeButton"
    ".    divider divider divider     divider     divider     ."
    ".    content content content     content     content     ."
    ".    footer  footer  buttonGroup buttonGroup buttonGroup ."
    ".    .       .       .           .           .           .";
}
.spectrum-Dialog.spectrum-Dialog--dismissable .spectrum-Dialog-grid .spectrum-Dialog-buttonGroup {
    display: none;
  }
.spectrum-Dialog.spectrum-Dialog--dismissable .spectrum-Dialog-grid .spectrum-Dialog-footer {
    grid-area: footer / footer/ buttonGroup / buttonGroup;
  }
[dir="ltr"] .spectrum-Dialog-closeButton {

  margin-right: 12px;
}
[dir="rtl"] .spectrum-Dialog-closeButton {

  margin-left: 12px;
}
.spectrum-Dialog-closeButton {
  grid-area: closeButton;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  justify-self: end;
  margin-top: 12px;
}
.spectrum-Dialog--error {
  width: 480px;
}
.spectrum-Dialog--fullscreen {
  width: 100%;
  height: 100%;
}
.spectrum-Dialog--fullscreenTakeover {
  width: 100%;
  height: 100%;

  border-radius: 0;
}
.spectrum-Dialog--fullscreen,
.spectrum-Dialog--fullscreenTakeover {
  max-height: none;
  max-width: none;
}
.spectrum-Dialog--fullscreen.spectrum-Dialog .spectrum-Dialog-grid, .spectrum-Dialog--fullscreenTakeover.spectrum-Dialog .spectrum-Dialog-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 40px 1fr auto auto 40px;
        grid-template-columns: 40px 1fr auto auto 40px;
    -ms-grid-rows: 40px auto auto 1fr 40px;
        grid-template-rows: 40px auto auto 1fr 40px;
    grid-template-areas:
      ".    .       .       .            ."
      ".    heading header  buttonGroup  ."
      ".    divider divider divider      ."
      ".    content content content      ."
      ".    .       .       .            .";
  }
.spectrum-Dialog--fullscreen .spectrum-Dialog-heading, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-heading {
    font-size: 28px;
  }
.spectrum-Dialog--fullscreen .spectrum-Dialog-content, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-content {
    max-height: none;
  }
.spectrum-Dialog--fullscreen .spectrum-Dialog-footer,
  .spectrum-Dialog--fullscreen .spectrum-Dialog-buttonGroup,
  .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-footer,
  .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-buttonGroup {
    padding-top: 0px;
  }
.spectrum-Dialog--fullscreen .spectrum-Dialog-footer, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-footer {
    display: none;
  }
.spectrum-Dialog--fullscreen .spectrum-Dialog-buttonGroup, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-buttonGroup {
    grid-area: buttonGroup;
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
  }
@media screen and (max-inline-size: 700px) {
  .spectrum-Dialog .spectrum-Dialog-grid {
    -ms-grid-columns: 40px auto 1fr auto minmax(
        0,
        auto
      ) 40px;
        grid-template-columns: 40px auto 1fr auto minmax(
        0,
        auto
      ) 40px;
    -ms-grid-rows: auto 40px auto auto auto 1fr auto 40px;
        grid-template-rows: auto 40px auto auto auto 1fr auto 40px;
    grid-template-areas:
      "hero hero    hero    hero        hero        hero"
      ".    .       .       .           .           ."
      ".    heading heading heading     typeIcon    ."
      ".    header  header  header      header      ."
      ".    divider divider divider     divider     ."
      ".    content content content     content     ."
      ".    footer  footer  buttonGroup buttonGroup ."
      ".    .       .       .           .           .";
  }

  .spectrum-Dialog.spectrum-Dialog--dismissable .spectrum-Dialog-grid {
    -ms-grid-columns: 40px auto 1fr auto minmax(
        0,
        auto
      ) minmax(0, 32px) 40px;
        grid-template-columns: 40px auto 1fr auto minmax(
        0,
        auto
      ) minmax(0, 32px) 40px;
    -ms-grid-rows: auto 40px auto auto auto 1fr auto 40px;
        grid-template-rows: auto 40px auto auto auto 1fr auto 40px;
    grid-template-areas:
      "hero hero    hero    hero        hero        hero        hero"
      ".    .       .       .           .           closeButton closeButton"
      ".    heading heading heading     typeIcon    closeButton closeButton"
      ".    header  header  header      header      header      ."
      ".    divider divider divider     divider     divider     ."
      ".    content content content     content     content     ."
      ".    footer  footer  buttonGroup buttonGroup buttonGroup ."
      ".    .       .       .           .           .           .";
  }

  .spectrum-Dialog .spectrum-Dialog-header {
    -ms-flex-pack: start;
        justify-content: flex-start;
  }
    .spectrum-Dialog--fullscreen.spectrum-Dialog .spectrum-Dialog-grid, .spectrum-Dialog--fullscreenTakeover.spectrum-Dialog .spectrum-Dialog-grid {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 40px 1fr 40px;
          grid-template-columns: 40px 1fr 40px;
      -ms-grid-rows: 40px auto auto auto 1fr auto 40px;
          grid-template-rows: 40px auto auto auto 1fr auto 40px;
      grid-template-areas:
        ".    .            ."
        ".    heading      ."
        ".    header       ."
        ".    divider      ."
        ".    content      ."
        ".    buttonGroup  ."
        ".    .            .";
    }

    .spectrum-Dialog--fullscreen .spectrum-Dialog-buttonGroup, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-buttonGroup {
      padding-top: 40px;
    }

    .spectrum-Dialog--fullscreen .spectrum-Dialog-heading, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-heading {
      font-size: 18px;
    }
}
