.spectrum--large .spectrum-Dialog {
  min-width: 288px;
}
.spectrum--large .spectrum-Dialog--small {
  width: 400px;
}
.spectrum--large .spectrum-Dialog--medium {
  width: 480px;
}
.spectrum--large .spectrum-Dialog--large {
  width: 640px;
}
.spectrum--large .spectrum-Dialog-hero {
  height: 160px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.spectrum--large .spectrum-Dialog .spectrum-Dialog-grid {
  -ms-grid-columns: 24px auto 1fr auto minmax(
      0,
      auto
    ) 24px;
      grid-template-columns: 24px auto 1fr auto minmax(
      0,
      auto
    ) 24px;
  -ms-grid-rows: auto 24px auto auto 1fr auto 24px;
      grid-template-rows: auto 24px auto auto 1fr auto 24px;
}
.spectrum--large [dir="ltr"] .spectrum-Dialog-heading {

  padding-right: 20px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-heading {

  padding-left: 20px;
}
.spectrum--large .spectrum-Dialog-heading {

  font-size: 19px;
  font-weight: 700;
  line-height: 1.3;
}
.spectrum--large .spectrum-Dialog .spectrum-Dialog-divider {
  margin-top: 12px;
  margin-bottom: 16px;
}
.spectrum--large .spectrum-Dialog--noDivider .spectrum-Dialog-heading {
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
    padding-bottom: 30px;
  }
.spectrum--large .spectrum-Dialog-content {

  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  padding: 0 2px;
  margin: 0 -2px;
}
.spectrum--large .spectrum-Dialog-footer {
  padding-top: 40px;
}
.spectrum--large [dir="ltr"] .spectrum-Dialog-buttonGroup {
  padding-left: 20px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-buttonGroup {
  padding-right: 20px;
}
.spectrum--large .spectrum-Dialog-buttonGroup {
  padding-top: 40px;
}
.spectrum--large .spectrum-Dialog.spectrum-Dialog--dismissable .spectrum-Dialog-grid {
  -ms-grid-columns: 24px auto 1fr auto minmax(
      0,
      auto
    ) minmax(0, 40px) 24px;
      grid-template-columns: 24px auto 1fr auto minmax(
      0,
      auto
    ) minmax(0, 40px) 24px;
  -ms-grid-rows: auto 24px auto auto 1fr auto 24px;
      grid-template-rows: auto 24px auto auto 1fr auto 24px;
}
.spectrum--large [dir="ltr"] .spectrum-Dialog-closeButton {

  margin-right: 8px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-closeButton {

  margin-left: 8px;
}
.spectrum--large .spectrum-Dialog-closeButton {
  margin-top: 8px;
}
.spectrum--large .spectrum-Dialog--error {
  width: 480px;
}
.spectrum--large .spectrum-Dialog--fullscreen.spectrum-Dialog .spectrum-Dialog-grid, .spectrum--large .spectrum-Dialog--fullscreenTakeover.spectrum-Dialog .spectrum-Dialog-grid {
    -ms-grid-columns: 24px 1fr auto auto 24px;
        grid-template-columns: 24px 1fr auto auto 24px;
    -ms-grid-rows: 24px auto auto 1fr 24px;
        grid-template-rows: 24px auto auto 1fr 24px;
  }
.spectrum--large .spectrum-Dialog--fullscreen .spectrum-Dialog-heading, .spectrum--large .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-heading {
    font-size: 28px;
  }
@media screen and (max-inline-size: 700px) {
  .spectrum--large .spectrum-Dialog .spectrum-Dialog-grid {
    -ms-grid-columns: 24px auto 1fr auto minmax(
        0,
        auto
      ) 24px;
        grid-template-columns: 24px auto 1fr auto minmax(
        0,
        auto
      ) 24px;
    -ms-grid-rows: auto 24px auto auto auto 1fr auto 24px;
        grid-template-rows: auto 24px auto auto auto 1fr auto 24px;
  }

  .spectrum--large .spectrum-Dialog.spectrum-Dialog--dismissable .spectrum-Dialog-grid {
    -ms-grid-columns: 24px auto 1fr auto minmax(
        0,
        auto
      ) minmax(0, 40px) 24px;
        grid-template-columns: 24px auto 1fr auto minmax(
        0,
        auto
      ) minmax(0, 40px) 24px;
    -ms-grid-rows: auto 24px auto auto auto 1fr auto 24px;
        grid-template-rows: auto 24px auto auto auto 1fr auto 24px;
  }
    .spectrum--large .spectrum-Dialog--fullscreen.spectrum-Dialog .spectrum-Dialog-grid, .spectrum--large .spectrum-Dialog--fullscreenTakeover.spectrum-Dialog .spectrum-Dialog-grid {
      -ms-grid-columns: 24px 1fr 24px;
          grid-template-columns: 24px 1fr 24px;
      -ms-grid-rows: 24px auto auto auto 1fr auto 24px;
          grid-template-rows: 24px auto auto auto 1fr auto 24px;
    }

    .spectrum--large .spectrum-Dialog--fullscreen .spectrum-Dialog-buttonGroup, .spectrum--large .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-buttonGroup {
      padding-top: 40px;
    }

    .spectrum--large .spectrum-Dialog--fullscreen .spectrum-Dialog-heading, .spectrum--large .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-heading {
      font-size: 19px;
    }
}
