.spectrum--large .spectrum-TreeView-item.is-drop-target .spectrum-TreeView-itemLink:before {
        border-width: 2px;
      }
.spectrum--large .spectrum-TreeView-item.is-selected .spectrum-TreeView-itemLink:not(.focus-ring):before {
        border-width: 1px;
      }
.spectrum--large .spectrum-TreeView-itemLink {

  padding-top: 8px;

  padding-bottom: 8px;
  padding-left: 40px;
  padding-right: 40px;

  height: 40px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
    margin-right: 10px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
    margin-left: 10px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-itemLink:before {
    left: 2px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-itemLink:before {
    right: 2px;
}
.spectrum--large .spectrum-TreeView-itemLink:before {

    height: 41px;
    border-width: 2px 0 2px 0;
  }
.spectrum--large .spectrum-TreeView-itemLink.focus-ring:before {
      border-width: 2px;
    }
.spectrum--large .spectrum-TreeView--standalone .spectrum-TreeView-itemLink:before {
      border-radius: 5px;
      border-width: 2px;
    }
.spectrum--large [dir="ltr"] .spectrum-TreeView--thumbnail .spectrum-TreeView-itemThumbnail {
    margin-right: 10px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView--thumbnail .spectrum-TreeView-itemThumbnail {
    margin-left: 10px;
}
.spectrum--large .spectrum-TreeView--thumbnail .spectrum-TreeView-itemLink {
    height: 56px;
  }
.spectrum--large .spectrum-TreeView--thumbnail .spectrum-TreeView-itemLink:before {
      height: 56px;
    }
.spectrum--large [dir="ltr"] .spectrum-TreeView-itemIndicator {

  left: 13px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-itemIndicator {

  right: 13px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-itemIndicator {
  margin-left: -50px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-itemIndicator {
  margin-right: -50px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-itemIndicator {
  margin-right: 14px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-itemIndicator {
  margin-left: 14px;
}
.spectrum--large .spectrum-TreeView-itemIndicator {
  top: -6px;
  margin-bottom: -13px;

  padding-left: 15px;

  padding-right: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  transition: transform ease 130ms;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView .spectrum-TreeView {

  padding-left: 20px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView .spectrum-TreeView {

  padding-right: 20px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent1 {
  padding-left: 20px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent1 {
  padding-right: 20px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent2 {
  padding-left: 40px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent2 {
  padding-right: 40px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent3 {
  padding-left: 60px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent3 {
  padding-right: 60px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent4 {
  padding-left: 80px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent4 {
  padding-right: 80px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent5 {
  padding-left: 100px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent5 {
  padding-right: 100px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent6 {
  padding-left: 120px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent6 {
  padding-right: 120px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent7 {
  padding-left: 140px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent7 {
  padding-right: 140px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent8 {
  padding-left: 160px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent8 {
  padding-right: 160px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent9 {
  padding-left: 180px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent9 {
  padding-right: 180px;
}
.spectrum--large [dir="ltr"] .spectrum-TreeView-item--indent10 {
  padding-left: 200px;
}
.spectrum--large [dir="rtl"] .spectrum-TreeView-item--indent10 {
  padding-right: 200px;
}
.spectrum--large .spectrum-TreeView-heading {
  padding: 8px;
  font-weight: 700;
}
.spectrum--large .spectrum-TreeView-heading:not(:first-child) {
    margin-top: 20px;
  }
.spectrum-TreeView {
  display: block;
  position: relative;

  padding: 0;

  list-style: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.spectrum-TreeView-item {
  overflow: hidden;
}
[dir="ltr"] .spectrum-TreeView-item.is-open > .spectrum-TreeView-itemLink > .spectrum-TreeView-itemIndicator { transform: rotate(90deg); }
[dir="rtl"] .spectrum-TreeView-item.is-open > .spectrum-TreeView-itemLink > .spectrum-TreeView-itemIndicator { transform: matrix(-1, 0, 0, 1, 0, 0) rotate(90deg); }
.spectrum-TreeView-item.is-open > .spectrum-TreeView {
      height: auto;
      visibility: visible;
    }
.spectrum-TreeView-item.is-drop-target .spectrum-TreeView-itemLink:before {
        border-width: 2px;
      }
.spectrum-TreeView-item.is-selected .spectrum-TreeView-itemLink:not(.focus-ring):before {
        border-width: 1px;
      }
.spectrum-TreeView-itemLabel {
  overflow: hidden;
  text-overflow: ellipsis;
}
.spectrum-TreeView-itemLink {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;

  box-sizing: border-box;
  cursor: pointer;

  padding-top: 6px;

  padding-bottom: 6px;
  padding-left: 32px;
  padding-right: 32px;

  text-decoration: none;

  height: 32px;
  white-space: nowrap;
  overflow: hidden;

  outline: none;
}
[dir="ltr"] .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
    margin-right: 8px;
}
[dir="rtl"] .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
    margin-left: 8px;
}
.spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
    vertical-align: top;
  }
[dir="ltr"] .spectrum-TreeView-itemLink:before {
    left: 2px;
}
[dir="rtl"] .spectrum-TreeView-itemLink:before {
    right: 2px;
}
[dir="ltr"] .spectrum-TreeView-itemLink:before {
    right: 0;
}
[dir="rtl"] .spectrum-TreeView-itemLink:before {
    left: 0;
}
.spectrum-TreeView-itemLink:before {
    content: '';

    box-sizing: border-box;

    position: absolute;

    height: 32px;

    border-style: solid;
    border-color: transparent;
    border-width: 2px 0 2px 0;
    background-color: transparent;
  }
.spectrum-TreeView-itemLink.focus-ring:before {
      border-width: 2px;
    }
.spectrum-TreeView--standalone .spectrum-TreeView-itemLink:before {
      border-radius: 4px;
      border-width: 2px;
    }
[dir="ltr"] .spectrum-TreeView--thumbnail .spectrum-TreeView-itemThumbnail {
    margin-right: 8px;
}
[dir="rtl"] .spectrum-TreeView--thumbnail .spectrum-TreeView-itemThumbnail {
    margin-left: 8px;
}
.spectrum-TreeView--thumbnail .spectrum-TreeView-itemLink {
    height: 44px;
  }
.spectrum-TreeView--thumbnail .spectrum-TreeView-itemLink:before {
      height: 44px;
    }
[dir="ltr"] .spectrum-TreeView-itemIndicator {

  float: left;
}
[dir="rtl"] .spectrum-TreeView-itemIndicator {

  float: right;
}
[dir="ltr"] .spectrum-TreeView-itemIndicator {

  left: 10px;
}
[dir="rtl"] .spectrum-TreeView-itemIndicator {

  right: 10px;
}
[dir="ltr"] .spectrum-TreeView-itemIndicator {
  margin-left: -40px;
}
[dir="rtl"] .spectrum-TreeView-itemIndicator {
  margin-right: -40px;
}
[dir="ltr"] .spectrum-TreeView-itemIndicator {
  margin-right: 11px;
}
[dir="rtl"] .spectrum-TreeView-itemIndicator {
  margin-left: 11px;
}
[dir="rtl"] .spectrum-TreeView-itemIndicator { transform: matrix(-1, 0, 0, 1, 0, 0) ; }
.spectrum-TreeView-itemIndicator {
  display: block;
  box-sizing: content-box;
  position: relative;
  z-index: 1;
  top: -5px;
  margin-bottom: -10px;

  padding-left: 12px;

  padding-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: transform ease 130ms;

  pointer-events: all !important;
}
[dir="ltr"] .spectrum-TreeView .spectrum-TreeView {

  padding-left: 16px;
}
[dir="rtl"] .spectrum-TreeView .spectrum-TreeView {

  padding-right: 16px;
}
.spectrum-TreeView .spectrum-TreeView {
  position: static;
  height: 0;
  visibility: hidden;
}
[dir="ltr"] .spectrum-TreeView-item--indent1 {
  padding-left: 16px;
}
[dir="rtl"] .spectrum-TreeView-item--indent1 {
  padding-right: 16px;
}
[dir="ltr"] .spectrum-TreeView-item--indent2 {
  padding-left: 32px;
}
[dir="rtl"] .spectrum-TreeView-item--indent2 {
  padding-right: 32px;
}
[dir="ltr"] .spectrum-TreeView-item--indent3 {
  padding-left: 48px;
}
[dir="rtl"] .spectrum-TreeView-item--indent3 {
  padding-right: 48px;
}
[dir="ltr"] .spectrum-TreeView-item--indent4 {
  padding-left: 64px;
}
[dir="rtl"] .spectrum-TreeView-item--indent4 {
  padding-right: 64px;
}
[dir="ltr"] .spectrum-TreeView-item--indent5 {
  padding-left: 80px;
}
[dir="rtl"] .spectrum-TreeView-item--indent5 {
  padding-right: 80px;
}
[dir="ltr"] .spectrum-TreeView-item--indent6 {
  padding-left: 96px;
}
[dir="rtl"] .spectrum-TreeView-item--indent6 {
  padding-right: 96px;
}
[dir="ltr"] .spectrum-TreeView-item--indent7 {
  padding-left: 112px;
}
[dir="rtl"] .spectrum-TreeView-item--indent7 {
  padding-right: 112px;
}
[dir="ltr"] .spectrum-TreeView-item--indent8 {
  padding-left: 128px;
}
[dir="rtl"] .spectrum-TreeView-item--indent8 {
  padding-right: 128px;
}
[dir="ltr"] .spectrum-TreeView-item--indent9 {
  padding-left: 144px;
}
[dir="rtl"] .spectrum-TreeView-item--indent9 {
  padding-right: 144px;
}
[dir="ltr"] .spectrum-TreeView-item--indent10 {
  padding-left: 160px;
}
[dir="rtl"] .spectrum-TreeView-item--indent10 {
  padding-right: 160px;
}
.spectrum-TreeView-heading {
  padding: 6px;
  font-weight: 700;
}
.spectrum-TreeView-heading:not(:first-child) {
    margin-top: 16px;
  }
.spectrum--dark .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink {
      color: rgb(110, 110, 110);
    }
.spectrum--dark .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink .spectrum-Icon {
        color: rgb(90, 90, 90);
      }
.spectrum--dark .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
        background-color: rgba(55,142,240,0.15);
        border-color: rgb(38, 128, 235);
      }
.spectrum--dark .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
        color: rgb(255, 255, 255);
      }
.spectrum--dark .spectrum-TreeView-item.is-drop-target > .spectrum-TreeView-itemLink:before {
        background-color: rgba(55,142,240,0.15);
        border-color: rgb(38, 128, 235);
      }
.spectrum--dark .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
          background-color: rgba(255,255,255,0.07);
          border-color: transparent;
        }
.spectrum--dark .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink.focus-ring:before {
            border-color: rgb(38, 128, 235);
          }
.spectrum--dark .spectrum-TreeView-itemIcon {
  color: rgb(185, 185, 185);
}
.spectrum--dark .spectrum-TreeView-itemLink {
  color: rgb(227, 227, 227);
}
.spectrum--dark .spectrum-TreeView-itemLink:hover {
    color: rgb(255, 255, 255);
  }
.spectrum--dark .spectrum-TreeView-itemLink:hover:before {
      background-color: rgba(255,255,255,0.06);
    }
.spectrum--dark .spectrum-TreeView-itemLink:hover .spectrum-TreeView-itemIcon {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-TreeView-itemLink.focus-ring {
    color: rgb(255, 255, 255);
  }
.spectrum--dark .spectrum-TreeView-itemLink.focus-ring::before {
      background-color: rgba(255,255,255,0.06);

      border-color: rgb(38, 128, 235);
    }
.spectrum--dark .spectrum-TreeView-itemLink.focus-ring .spectrum-TreeView-itemIcon {
      color: rgb(255, 255, 255);
    }
.spectrum--darkest .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink {
      color: rgb(92, 92, 92);
    }
.spectrum--darkest .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink .spectrum-Icon {
        color: rgb(73, 73, 73);
      }
.spectrum--darkest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink {
      color: rgb(239, 239, 239);
    }
.spectrum--darkest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
        background-color: rgba(38,128,235,0.2);
        border-color: rgb(20, 115, 230);
      }
.spectrum--darkest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
        color: rgb(239, 239, 239);
      }
.spectrum--darkest .spectrum-TreeView-item.is-drop-target > .spectrum-TreeView-itemLink:before {
        background-color: rgba(38,128,235,0.2);
        border-color: rgb(20, 115, 230);
      }
.spectrum--darkest .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
          background-color: rgba(239,239,239,0.08);
          border-color: transparent;
        }
.spectrum--darkest .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink.focus-ring:before {
            border-color: rgb(20, 115, 230);
          }
.spectrum--darkest .spectrum-TreeView-itemIcon {
  color: rgb(162, 162, 162);
}
.spectrum--darkest .spectrum-TreeView-itemLink {
  color: rgb(200, 200, 200);
}
.spectrum--darkest .spectrum-TreeView-itemLink:hover {
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-TreeView-itemLink:hover:before {
      background-color: rgba(239,239,239,0.08);
    }
.spectrum--darkest .spectrum-TreeView-itemLink:hover .spectrum-TreeView-itemIcon {
      color: rgb(239, 239, 239);
    }
.spectrum--darkest .spectrum-TreeView-itemLink.focus-ring {
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-TreeView-itemLink.focus-ring::before {
      background-color: rgba(239,239,239,0.08);

      border-color: rgb(20, 115, 230);
    }
.spectrum--darkest .spectrum-TreeView-itemLink.focus-ring .spectrum-TreeView-itemIcon {
      color: rgb(239, 239, 239);
    }
.spectrum--light .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink {
      color: rgb(179, 179, 179);
    }
.spectrum--light .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink .spectrum-Icon {
        color: rgb(202, 202, 202);
      }
.spectrum--light .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
        background-color: rgba(20,115,230,0.1);
        border-color: rgb(38, 128, 235);
      }
.spectrum--light .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
        color: rgb(44, 44, 44);
      }
.spectrum--light .spectrum-TreeView-item.is-drop-target > .spectrum-TreeView-itemLink:before {
        background-color: rgba(20,115,230,0.1);
        border-color: rgb(38, 128, 235);
      }
.spectrum--light .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
          background-color: rgba(44,44,44,0.06);
          border-color: transparent;
        }
.spectrum--light .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink.focus-ring:before {
            border-color: rgb(38, 128, 235);
          }
.spectrum--light .spectrum-TreeView-itemIcon {
  color: rgb(110, 110, 110);
}
.spectrum--light .spectrum-TreeView-itemLink {
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-TreeView-itemLink:hover {
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-TreeView-itemLink:hover:before {
      background-color: rgba(44,44,44,0.04);
    }
.spectrum--light .spectrum-TreeView-itemLink:hover .spectrum-TreeView-itemIcon {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-TreeView-itemLink.focus-ring {
    color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-TreeView-itemLink.focus-ring::before {
      background-color: rgba(44,44,44,0.04);

      border-color: rgb(38, 128, 235);
    }
.spectrum--light .spectrum-TreeView-itemLink.focus-ring .spectrum-TreeView-itemIcon {
      color: rgb(44, 44, 44);
    }
.spectrum--lightest .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink .spectrum-Icon {
        color: rgb(211, 211, 211);
      }
.spectrum--lightest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
        background-color: rgba(38,128,235,0.1);
        border-color: rgb(55, 142, 240);
      }
.spectrum--lightest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
        color: rgb(50, 50, 50);
      }
.spectrum--lightest .spectrum-TreeView-item.is-drop-target > .spectrum-TreeView-itemLink:before {
        background-color: rgba(38,128,235,0.1);
        border-color: rgb(55, 142, 240);
      }
.spectrum--lightest .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
          background-color: rgba(50,50,50,0.06);
          border-color: transparent;
        }
.spectrum--lightest .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink.focus-ring:before {
            border-color: rgb(55, 142, 240);
          }
.spectrum--lightest .spectrum-TreeView-itemIcon {
  color: rgb(116, 116, 116);
}
.spectrum--lightest .spectrum-TreeView-itemLink {
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-TreeView-itemLink:hover {
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-TreeView-itemLink:hover:before {
      background-color: rgba(50,50,50,0.04);
    }
.spectrum--lightest .spectrum-TreeView-itemLink:hover .spectrum-TreeView-itemIcon {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-TreeView-itemLink.focus-ring {
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-TreeView-itemLink.focus-ring::before {
      background-color: rgba(50,50,50,0.04);

      border-color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-TreeView-itemLink.focus-ring .spectrum-TreeView-itemIcon {
      color: rgb(50, 50, 50);
    }
