.spectrum-QuickActions {
  visibility: hidden;

  opacity: 0;

  transition: transform 130ms ease-in-out,
              opacity 130ms ease-in-out,
              visibility 0ms linear 130ms;

  pointer-events: none;
}
.spectrum-QuickActions.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum-QuickActions--left.is-open {
  transform: translateX(6px);
}
.spectrum-QuickActions--right.is-open {
  transform: translateX(-6px);
}
.spectrum-QuickActions {
  box-sizing: border-box;

  display: -ms-inline-flexbox;

  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;

  padding-top: 4px;

  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;

  height: 40px;

  border-radius: 4px;
}
[dir="ltr"] .spectrum-QuickActions .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: 8px;
}
[dir="rtl"] .spectrum-QuickActions .spectrum-ActionButton + .spectrum-ActionButton {
    margin-right: 8px;
}
[dir="ltr"] .spectrum-QuickActions--textOnly .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: 4px;
}
[dir="rtl"] .spectrum-QuickActions--textOnly .spectrum-ActionButton + .spectrum-ActionButton {
    margin-right: 4px;
}

