.spectrum-Divider {
  width: 100%;
  overflow: visible;

  border: none;
  border-width: 2px;
  border-radius: 2px;
}
.spectrum-Divider--large {
  height: 4px;

  border-radius: 2px;
}
.spectrum-Divider--medium {
  height: 2px;

  border-radius: 1px;
}
.spectrum-Divider--small {
  height: 1px;

  border-radius: 1px;
}
.spectrum-Divider--vertical {
  height: 100%;
}
.spectrum-Divider--vertical.spectrum-Divider--large {
    width: 4px;
  }
.spectrum-Divider--vertical.spectrum-Divider--medium {
    width: 2px;
  }
.spectrum-Divider--vertical.spectrum-Divider--small {
    width: 1px;
  }
