.spectrum--light .spectrum-ColorWheel.is-disabled .spectrum-ColorWheel-outerCircle,
.spectrum--light .spectrum-ColorWheel.is-disabled .spectrum-ColorWheel-innerCircle {
      stroke: rgb(225, 225, 225);
    }
.spectrum--light .spectrum-ColorWheel.is-disabled .spectrum-ColorWheel-outerCircle {
      fill: rgb(225, 225, 225);
    }
.spectrum--light .spectrum-ColorWheel.is-disabled .spectrum-ColorWheel-segment {
      display: none;
    }
.spectrum--light .spectrum-ColorWheel-gradient {
  border-color: rgba(44,44,44,0.1);
}
.spectrum--light .spectrum-ColorWheel-outerCircle,
.spectrum--light .spectrum-ColorWheel-innerCircle {
  stroke: rgba(44,44,44,0.1);
}
