[dir="ltr"] .spectrum-Steplist {
  padding-left: 60px;
}
[dir="rtl"] .spectrum-Steplist {
  padding-right: 60px;
}
[dir="ltr"] .spectrum-Steplist {
  padding-right: 60px;
}
[dir="rtl"] .spectrum-Steplist {
  padding-left: 60px;
}
.spectrum-Steplist {
  z-index: 0;
  position: relative;

  display: block;
  vertical-align: top;
  margin: 0;
  padding-top: 22px;

  text-align: center;
  white-space: nowrap;
  font-size: 0;
  line-height: 16px;
}
.spectrum-Steplist--interactive .spectrum-Steplist-label,
  .spectrum-Steplist--interactive .spectrum-Steplist-markerContainer {
    cursor: pointer;
  }
.spectrum-Steplist--small {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 0;
  padding-right: 0;
}
[dir="ltr"] .spectrum-Steplist--small .spectrum-Steplist-item {
    padding-left: 0;
    padding-right: 40px;
}
[dir="rtl"] .spectrum-Steplist--small .spectrum-Steplist-item {
    padding-right: 0;
    padding-left: 40px;
}
.spectrum-Steplist--small .spectrum-Steplist-item {
    padding-top: 0;
    padding-bottom: 0;
    width: 80px;
  }
.spectrum-Steplist--small .spectrum-Steplist-item .spectrum-Steplist-label {
      display: none;
    }
.spectrum-Steplist--small .spectrum-Steplist-item:first-child, .spectrum-Steplist--small .spectrum-Steplist-item:last-child {
      width: 20px;
    }
[dir="ltr"] .spectrum-Steplist--small .spectrum-Steplist-item:first-child .spectrum-Steplist-markerContainer {
        margin-left: -10px;
}
[dir="rtl"] .spectrum-Steplist--small .spectrum-Steplist-item:first-child .spectrum-Steplist-markerContainer {
        margin-right: -10px;
}
[dir="ltr"] .spectrum-Steplist--small .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
        margin-right: -10px;
}
[dir="rtl"] .spectrum-Steplist--small .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
        margin-left: -10px;
}
[dir="ltr"] .spectrum-Steplist-item {
  padding-left: 0;
  padding-right: 40px;
}
[dir="rtl"] .spectrum-Steplist-item {
  padding-right: 0;
  padding-left: 40px;
}
.spectrum-Steplist-item {
  outline: none;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: bottom;

  box-sizing: content-box;
  width: 80px;
  padding-top: 0;
  padding-bottom: 0;
}
.spectrum-Steplist-item.is-complete .spectrum-Steplist-marker {
      border: none;
    }
.spectrum-Steplist-item.is-complete + .spectrum-Steplist-item .spectrum-Steplist-segment {
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
.spectrum-Steplist-item.is-selected:focus,
    .spectrum-Steplist-item.is-selected.is-focused,
    .spectrum-Steplist-item.is-selected *:focus {
      outline: none;
    }
.spectrum-Steplist-item.is-selected .spectrum-Steplist-marker {
      border: none;
    }
[dir="ltr"] .spectrum-Steplist-label {
  left: 50%;
}
[dir="rtl"] .spectrum-Steplist-label {
  right: 50%;
}
.spectrum-Steplist-label {
  position: absolute;
  bottom: 10px;

  display: block;
  width: 120px;

  font-size: 12px;
  white-space: normal;

  transform: translateX(-50%);
}
[dir="rtl"] .spectrum-Steplist-label {
    transform: translateX(50%);
  }
[dir="ltr"] .spectrum-Steplist-markerContainer {
  left: 50%;
}
[dir="rtl"] .spectrum-Steplist-markerContainer {
  right: 50%;
}
[dir="ltr"] .spectrum-Steplist-markerContainer {

  margin-left: -10px;
}
[dir="rtl"] .spectrum-Steplist-markerContainer {

  margin-right: -10px;
}
.spectrum-Steplist-markerContainer {
  display: block;

  z-index: 2;
  position: absolute;
  bottom: -10px;

  width: 20px;
  height: 20px;
}
[dir="ltr"] .spectrum-Steplist-marker {
  left: 50%;
}
[dir="rtl"] .spectrum-Steplist-marker {
  right: 50%;
}
[dir="ltr"] .spectrum-Steplist-marker {
  margin-left: -4px;
}
[dir="rtl"] .spectrum-Steplist-marker {
  margin-right: -4px;
}
.spectrum-Steplist-marker {
  box-sizing: border-box;
  display: block;

  position: absolute;
  top: 50%;
  margin-top: -4px;

  width: 8px;
  height: 8px;

  border-radius: 8px;

  border: 2px solid;
  border-color: transparent;
  background: transparent;
}
[dir="ltr"] .spectrum-Steplist-segment {
  right: 68px;
}
[dir="rtl"] .spectrum-Steplist-segment {
  left: 68px;
}
.spectrum-Steplist-segment {
  display: block;
  z-index: 1;
  position: absolute;

  box-sizing: content-box;
  width: 104px;
  bottom: -1px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
[dir="ltr"] .spectrum-Steplist-item:first-child .spectrum-Steplist-markerContainer {
    left: 0;
}
[dir="rtl"] .spectrum-Steplist-item:first-child .spectrum-Steplist-markerContainer {
    right: 0;
}
[dir="ltr"] .spectrum-Steplist-item:first-child .spectrum-Steplist-label {
    left: 0;
}
[dir="rtl"] .spectrum-Steplist-item:first-child .spectrum-Steplist-label {
    right: 0;
}
.spectrum-Steplist-item:first-child .spectrum-Steplist-segment {
    display: none;
  }
[dir="ltr"] .spectrum-Steplist-item:last-child .spectrum-Steplist-label {
    left: auto;
}
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-label {
    right: auto;
}
[dir="ltr"] .spectrum-Steplist-item:last-child .spectrum-Steplist-label {
    right: 0;
}
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-label {
    left: 0;
}
.spectrum-Steplist-item:last-child .spectrum-Steplist-label {

    transform: translateX(50%);
  }
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-label {
      transform: translateX(-50%);
    }
[dir="ltr"] .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    left: auto;
}
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    right: auto;
}
[dir="ltr"] .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    right: 0;
}
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    left: 0;
}
[dir="ltr"] .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {

    margin-left: 0;
}
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {

    margin-right: 0;
}
[dir="ltr"] .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    margin-right: -10px;
}
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    margin-left: -10px;
}
[dir="ltr"] .spectrum-Steplist-item:last-child .spectrum-Steplist-segment {
    right: 8px;
}
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-segment {
    left: 8px;
}
[dir="ltr"] .spectrum-Steplist-item:last-child .spectrum-Steplist-segment {
    left: auto;
}
[dir="rtl"] .spectrum-Steplist-item:last-child .spectrum-Steplist-segment {
    right: auto;
}
.spectrum-Steplist-item:first-child,
.spectrum-Steplist-item:last-child {
  width: 20px;
}
[dir="ltr"] .spectrum-Steplist-item:only-child .spectrum-Steplist-label {
    left: 50%;
}
[dir="rtl"] .spectrum-Steplist-item:only-child .spectrum-Steplist-label {
    right: 50%;
}
.spectrum-Steplist-item:only-child .spectrum-Steplist-label {
    transform: translate(-50%);
  }
[dir="rtl"] .spectrum-Steplist-item:only-child .spectrum-Steplist-label {
      transform: translateX(50%);
    }
[dir="ltr"] .spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    left: 50%;
}
[dir="rtl"] .spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    right: 50%;
}
[dir="ltr"] .spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    margin-right: 0;
}
[dir="rtl"] .spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    margin-left: 0;
}
[dir="ltr"] .spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    margin-left: -10px;
}
[dir="rtl"] .spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    margin-right: -10px;
}
