.spectrum--light .spectrum-Textfield:hover .spectrum-Textfield-input {
      border-color: rgb(179, 179, 179);
      box-shadow: none;
    }
.spectrum--light .spectrum-Textfield:hover .spectrum-Textfield-input::placeholder {
        color: rgb(44, 44, 44);
      }
.spectrum--light .spectrum-Textfield:hover .spectrum-Textfield-icon {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-Textfield:active .spectrum-Textfield-input {
      border-color: rgb(20, 115, 230);
    }
.spectrum--light .spectrum-Textfield:active .spectrum-Textfield-icon {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-Textfield.is-valid .spectrum-Textfield-validationIcon {
      color: rgb(18, 128, 92);
    }
.spectrum--light .spectrum-Textfield.is-invalid .spectrum-Textfield-validationIcon {
      color: rgb(201, 37, 45);
    }
.spectrum--light .spectrum-Textfield.is-invalid:hover .spectrum-Textfield-input {
        border-color: rgb(201, 37, 45);
      }
.spectrum--light .spectrum-Textfield.is-disabled .spectrum-Textfield-validationIcon {
      color: rgb(179, 179, 179);
    }
.spectrum--light .spectrum-Textfield.is-disabled .spectrum-Textfield-icon {
      color: rgb(179, 179, 179);
    }
.spectrum--light .spectrum-Textfield-icon {
  color: rgb(110, 110, 110);
}
.spectrum--light .spectrum-Textfield-input {
  background-color: rgb(255, 255, 255);
  border-color: rgb(202, 202, 202);
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-Textfield-input::placeholder {
    color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-Textfield.is-focused .spectrum-Textfield-input,
.spectrum--light .spectrum-Textfield-input:focus {
    border-color: rgb(20, 115, 230);
  }
.spectrum--light .spectrum-Textfield.is-keyboardFocused .spectrum-Textfield-input,
.spectrum--light .spectrum-Textfield-input.focus-ring {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Textfield.is-invalid .spectrum-Textfield-input {
    border-color: rgb(215, 55, 63);
  }
.spectrum--light .is-keyboardFocused.spectrum-Textfield.is-invalid .spectrum-Textfield-input,
.spectrum--light .spectrum-Textfield.is-invalid .spectrum-Textfield-input.focus-ring {
      border-color: rgb(38, 128, 235);
      box-shadow: 0 0 0 1px rgb(38, 128, 235);
    }
.spectrum--light .spectrum-Textfield.is-disabled .spectrum-Textfield-input,
.spectrum--light .spectrum-Textfield.is-disabled:hover .spectrum-Textfield-input,
.spectrum--light .spectrum-Textfield-input [disabled] {
    background-color: rgb(234, 234, 234);
    border-color: transparent;
    color: rgb(179, 179, 179);
    -webkit-text-fill-color: rgb(179, 179, 179);
  }
.spectrum--light .spectrum-Textfield.is-disabled .spectrum-Textfield-input::placeholder,
.spectrum--light .spectrum-Textfield.is-disabled:hover .spectrum-Textfield-input::placeholder,
.spectrum--light .spectrum-Textfield-input [disabled]::placeholder {
      color: rgb(179, 179, 179);
    }
.spectrum--light .spectrum-Textfield--quiet .spectrum-Textfield-input {
    background-color: transparent;
    border-color: rgb(202, 202, 202);
  }
.spectrum--light :hover.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(179, 179, 179);
    }
.spectrum--light :active.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(20, 115, 230);
    }
.spectrum--light .is-focused.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--light .spectrum-Textfield--quiet .spectrum-Textfield-input:focus {
      border-color: rgb(20, 115, 230);
    }
.spectrum--light .is-keyboardFocused.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--light .spectrum-Textfield--quiet .spectrum-Textfield-input.focus-ring {
      border-color: rgb(38, 128, 235);
      box-shadow: 0 1px 0 rgb(38, 128, 235);
    }
.spectrum--light .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(215, 55, 63);
    }
.spectrum--light .is-focused.is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--light .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input:focus {
        border-color: rgb(201, 37, 45);
      }
.spectrum--light .is-keyboardFocused.is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--light .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input.focus-ring {
        border-color: rgb(38, 128, 235);
        box-shadow: 0 1px 0 rgb(38, 128, 235);
      }
.spectrum--light .is-disabled:hover.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--light .is-disabled.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--light .spectrum-Textfield--quiet .spectrum-Textfield-input [disabled] {
      background-color: transparent;
      border-color: rgb(225, 225, 225);
    }
