.spectrum--lightest .spectrum-Textfield:hover .spectrum-Textfield-input {
      border-color: rgb(188, 188, 188);
      box-shadow: none;
    }
.spectrum--lightest .spectrum-Textfield:hover .spectrum-Textfield-input::placeholder {
        color: rgb(50, 50, 50);
      }
.spectrum--lightest .spectrum-Textfield:hover .spectrum-Textfield-icon {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-Textfield:active .spectrum-Textfield-input {
      border-color: rgb(38, 128, 235);
    }
.spectrum--lightest .spectrum-Textfield:active .spectrum-Textfield-icon {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-Textfield.is-valid .spectrum-Textfield-validationIcon {
      color: rgb(38, 142, 108);
    }
.spectrum--lightest .spectrum-Textfield.is-invalid .spectrum-Textfield-validationIcon {
      color: rgb(215, 55, 63);
    }
.spectrum--lightest .spectrum-Textfield.is-invalid:hover .spectrum-Textfield-input {
        border-color: rgb(215, 55, 63);
      }
.spectrum--lightest .spectrum-Textfield.is-disabled .spectrum-Textfield-validationIcon {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-Textfield.is-disabled .spectrum-Textfield-icon {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-Textfield-icon {
  color: rgb(116, 116, 116);
}
.spectrum--lightest .spectrum-Textfield-input {
  background-color: rgb(255, 255, 255);
  border-color: rgb(211, 211, 211);
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Textfield-input::placeholder {
    color: rgb(149, 149, 149);
  }
.spectrum--lightest .spectrum-Textfield.is-focused .spectrum-Textfield-input,
.spectrum--lightest .spectrum-Textfield-input:focus {
    border-color: rgb(38, 128, 235);
  }
.spectrum--lightest .spectrum-Textfield.is-keyboardFocused .spectrum-Textfield-input,
.spectrum--lightest .spectrum-Textfield-input.focus-ring {
    border-color: rgb(55, 142, 240);
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-Textfield.is-invalid .spectrum-Textfield-input {
    border-color: rgb(227, 72, 80);
  }
.spectrum--lightest .is-keyboardFocused.spectrum-Textfield.is-invalid .spectrum-Textfield-input,
.spectrum--lightest .spectrum-Textfield.is-invalid .spectrum-Textfield-input.focus-ring {
      border-color: rgb(55, 142, 240);
      box-shadow: 0 0 0 1px rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Textfield.is-disabled .spectrum-Textfield-input,
.spectrum--lightest .spectrum-Textfield.is-disabled:hover .spectrum-Textfield-input,
.spectrum--lightest .spectrum-Textfield-input [disabled] {
    background-color: rgb(244, 244, 244);
    border-color: transparent;
    color: rgb(188, 188, 188);
    -webkit-text-fill-color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Textfield.is-disabled .spectrum-Textfield-input::placeholder,
.spectrum--lightest .spectrum-Textfield.is-disabled:hover .spectrum-Textfield-input::placeholder,
.spectrum--lightest .spectrum-Textfield-input [disabled]::placeholder {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-Textfield--quiet .spectrum-Textfield-input {
    background-color: transparent;
    border-color: rgb(211, 211, 211);
  }
.spectrum--lightest :hover.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(188, 188, 188);
    }
.spectrum--lightest :active.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(38, 128, 235);
    }
.spectrum--lightest .is-focused.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--lightest .spectrum-Textfield--quiet .spectrum-Textfield-input:focus {
      border-color: rgb(38, 128, 235);
    }
.spectrum--lightest .is-keyboardFocused.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--lightest .spectrum-Textfield--quiet .spectrum-Textfield-input.focus-ring {
      border-color: rgb(55, 142, 240);
      box-shadow: 0 1px 0 rgb(55, 142, 240);
    }
.spectrum--lightest .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(227, 72, 80);
    }
.spectrum--lightest .is-focused.is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--lightest .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input:focus {
        border-color: rgb(215, 55, 63);
      }
.spectrum--lightest .is-keyboardFocused.is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--lightest .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input.focus-ring {
        border-color: rgb(55, 142, 240);
        box-shadow: 0 1px 0 rgb(55, 142, 240);
      }
.spectrum--lightest .is-disabled:hover.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--lightest .is-disabled.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--lightest .spectrum-Textfield--quiet .spectrum-Textfield-input [disabled] {
      background-color: transparent;
      border-color: rgb(234, 234, 234);
    }
