.spectrum--large .spectrum-Dropzone {
  border-width: 2px;
  border-radius: 5px;
  padding: 112px;
}
.spectrum-Dropzone {
  text-align: center;
  border-width: 2px;
  border-radius: 4px;
  padding: 72px;
  border-style: dashed;
}
.spectrum-Dropzone.is-dragged {
    border-style: solid;
  }
.spectrum-Dropzone:focus {
    outline: 0;
    border-style: dashed;
  }
.spectrum-Dropzone:focus.focus-ring {
      border-style: solid;
    }
.spectrum--dark .spectrum-Dropzone {
  border-color: rgb(74, 74, 74);
}
.spectrum--dark .spectrum-Dropzone.is-dragged {
    border-color: rgb(38, 128, 235);
    background-color: rgba(55,142,240,0.15);
  }
.spectrum--dark .spectrum-Dropzone.is-dragged .spectrum-IllustratedMessage-illustration {
      color: rgb(38, 128, 235);
    }
.spectrum--dark .spectrum-Dropzone:focus {
    border-color: rgb(74, 74, 74);
  }
.spectrum--dark .spectrum-Dropzone:focus .spectrum-IllustratedMessage-illustration {
      color: rgb(188, 188, 188);
    }
.spectrum--dark .spectrum-Dropzone:focus.focus-ring {
      border-color: rgb(38, 128, 235);
    }
.spectrum--dark .spectrum-Dropzone:focus.is-dragged.focus-ring .spectrum-IllustratedMessage-illustration {
        color: rgb(38, 128, 235);
      }
.spectrum--darkest .spectrum-Dropzone {
  border-color: rgb(57, 57, 57);
}
.spectrum--darkest .spectrum-Dropzone.is-dragged {
    border-color: rgb(20, 115, 230);
    background-color: rgba(38,128,235,0.2);
  }
.spectrum--darkest .spectrum-Dropzone.is-dragged .spectrum-IllustratedMessage-illustration {
      color: rgb(20, 115, 230);
    }
.spectrum--darkest .spectrum-Dropzone:focus {
    border-color: rgb(57, 57, 57);
  }
.spectrum--darkest .spectrum-Dropzone:focus .spectrum-IllustratedMessage-illustration {
      color: rgb(188, 188, 188);
    }
.spectrum--darkest .spectrum-Dropzone:focus.focus-ring {
      border-color: rgb(20, 115, 230);
    }
.spectrum--darkest .spectrum-Dropzone:focus.is-dragged.focus-ring .spectrum-IllustratedMessage-illustration {
        color: rgb(20, 115, 230);
      }
.spectrum--light .spectrum-Dropzone {
  border-color: rgb(225, 225, 225);
}
.spectrum--light .spectrum-Dropzone.is-dragged {
    border-color: rgb(38, 128, 235);
    background-color: rgba(20,115,230,0.1);
  }
.spectrum--light .spectrum-Dropzone.is-dragged .spectrum-IllustratedMessage-illustration {
      color: rgb(38, 128, 235);
    }
.spectrum--light .spectrum-Dropzone:focus {
    border-color: rgb(225, 225, 225);
  }
.spectrum--light .spectrum-Dropzone:focus .spectrum-IllustratedMessage-illustration {
      color: rgb(188, 188, 188);
    }
.spectrum--light .spectrum-Dropzone:focus.focus-ring {
      border-color: rgb(38, 128, 235);
    }
.spectrum--light .spectrum-Dropzone:focus.is-dragged.focus-ring .spectrum-IllustratedMessage-illustration {
        color: rgb(38, 128, 235);
      }
.spectrum--lightest .spectrum-Dropzone {
  border-color: rgb(234, 234, 234);
}
.spectrum--lightest .spectrum-Dropzone.is-dragged {
    border-color: rgb(55, 142, 240);
    background-color: rgba(38,128,235,0.1);
  }
.spectrum--lightest .spectrum-Dropzone.is-dragged .spectrum-IllustratedMessage-illustration {
      color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Dropzone:focus {
    border-color: rgb(234, 234, 234);
  }
.spectrum--lightest .spectrum-Dropzone:focus .spectrum-IllustratedMessage-illustration {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-Dropzone:focus.focus-ring {
      border-color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Dropzone:focus.is-dragged.focus-ring .spectrum-IllustratedMessage-illustration {
        color: rgb(55, 142, 240);
      }
