.spectrum--darkest .spectrum-Picker .spectrum-Picker-trigger:hover .spectrum-Picker-icon {
      color: rgb(255, 255, 255);
    }
.spectrum--darkest .spectrum-Picker .spectrum-Picker-trigger.is-selected .is-placeholder {
        color: rgb(255, 255, 255);
      }
.spectrum--darkest .spectrum-Picker.is-invalid .spectrum-Icon:not(.spectrum-Picker-icon):not(.spectrum-Menu-checkmark) {
      color: rgb(236, 91, 98);
    }
.spectrum--darkest .spectrum-Picker.is-invalid.is-disabled .spectrum-Icon,
.spectrum--darkest .spectrum-Picker.is-invalid.is-disabled .spectrum-Icon:not(.spectrum-Picker-icon):not(.spectrum-Menu-checkmark) {
        color: rgb(73, 73, 73);
      }
.spectrum--darkest .spectrum-Picker.is-disabled .spectrum-Picker-icon,
.spectrum--darkest .spectrum-Picker.is-disabled .spectrum-Picker-trigger:hover .spectrum-Picker-icon {
        color: rgb(73, 73, 73);
      }
.spectrum--darkest .spectrum-Picker.is-disabled .spectrum-Picker-label.is-placeholder {
        color: rgb(151, 151, 151);
      }
.spectrum--darkest .spectrum-Picker-icon {
  color: rgb(162, 162, 162);
}
.spectrum--darkest .spectrum-Picker-label.is-placeholder {
    color: rgb(162, 162, 162);
  }
.spectrum--darkest .spectrum-Picker-label.is-placeholder:hover {
      color: rgb(255, 255, 255);
    }
.spectrum--darkest .spectrum-Picker-label.is-placeholder:active {
      color: rgb(255, 255, 255);
    }
.spectrum--darkest .spectrum-Picker-trigger.focus-ring .spectrum-Picker-label.is-placeholder {
    color: rgb(255, 255, 255);
  }
.spectrum--darkest .spectrum-Picker-trigger.focus-ring .spectrum-Picker-icon {
    color: rgb(255, 255, 255)
  }
