.spectrum-ColorSlider.is-focused .spectrum-ColorSlider-handle {
  width: 32px;
  height: 32px;

  margin-left: -16px;
  margin-top: -16px;
}
.spectrum-ColorSlider-slider {
  opacity: 0.0001;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 0;
  margin: 0;
  pointer-events: none;
}
.spectrum-ColorSlider {
  position: relative;
  display: block;
  width: 192px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  cursor: default;
}
.spectrum-ColorSlider.is-focused {
    z-index: 2;
  }
.spectrum-ColorSlider.is-disabled {
    pointer-events: none;
  }
.spectrum-ColorSlider--vertical {
  display: inline-block;

  width: 24px;
  height: 192px;
}
.spectrum-ColorSlider--vertical .spectrum-ColorSlider-handle {
    left: 50%;
    top: 0;
  }
.spectrum-ColorSlider-handle {
  left: 0;
  top: 50%;
}
.spectrum-ColorSlider-handle:after {
    border-radius: 0%;
    width: 24px;
    height: 24px;
  }
.spectrum-ColorSlider-checkerboard {
  background-size:
    16px
    16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;
}
.spectrum-ColorSlider-checkerboard:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
  }
.spectrum-ColorSlider-gradient,
.spectrum-ColorSlider-checkerboard {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
