.spectrum--large .spectrum-Steplist {
  padding-top: 22px;
  padding-left: 60px;
  padding-right: 60px;
}
.spectrum--large .spectrum-Steplist--small {
  padding: 11px 0;
}
.spectrum--large .spectrum-Steplist-item {
  width: 80px;
  padding: 0 40px 0 0;
}
.spectrum--large .spectrum-Steplist-item.is-complete + .spectrum-Steplist-item .spectrum-Steplist-segment {
      border-bottom-width: 2px;
    }
.spectrum--large .spectrum-Steplist-label {
  bottom: 10px;
  width: 120px;

  font-size: 12px;
}
.spectrum--large .spectrum-Steplist-markerContainer {

  width: 20px;
  height: 20px;

  margin-left: -10px;
}
.spectrum--large .spectrum-Steplist-marker {
  margin-top: -4px;
  margin-left: -4px;

  width: 8px;
  height: 8px;

  border-radius: 8px;
}
.spectrum--large .spectrum-Steplist-segment {
  right: 68px;
  width: 104px;
  bottom: -1px;
  border-bottom-width: 2px;
}
.spectrum--large .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    margin-right: -10px;
  }
.spectrum--large .spectrum-Steplist-item:last-child .spectrum-Steplist-segment {
    right: 8px;
  }
.spectrum--large .spectrum-Steplist-item:first-child,
.spectrum--large .spectrum-Steplist-item:last-child {
  width: 20px;
}
.spectrum--large .spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    margin-left: -10px;
  }
.spectrum-Steplist {
  z-index: 0;
  position: relative;

  display: block;
  vertical-align: top;
  margin: 0;
  padding-top: 22px;
  padding-left: 60px;
  padding-right: 60px;

  text-align: center;
  white-space: nowrap;
  font-size: 0;
  line-height: 16px;
}
.spectrum-Steplist--interactive .spectrum-Steplist-label,
  .spectrum-Steplist--interactive .spectrum-Steplist-markerContainer {
    cursor: pointer;
  }
.spectrum-Steplist--small {
  padding: 11px 0;
}
.spectrum-Steplist--small .spectrum-Steplist-item {
    padding: 0 40px 0 0;
    width: 80px;
  }
.spectrum-Steplist--small .spectrum-Steplist-item .spectrum-Steplist-label {
      display: none;
    }
.spectrum-Steplist--small .spectrum-Steplist-item:first-child, .spectrum-Steplist--small .spectrum-Steplist-item:last-child {
      width: 20px;
    }
.spectrum-Steplist--small .spectrum-Steplist-item:first-child .spectrum-Steplist-markerContainer {
        margin-left: -10px;
      }
.spectrum-Steplist--small .spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
        margin-right: -10px;
      }
.spectrum-Steplist-item {
  outline: none;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: bottom;

  box-sizing: content-box;
  width: 80px;
  padding: 0 40px 0 0;
}
.spectrum-Steplist-item.is-complete .spectrum-Steplist-marker {
      border: none;
    }
.spectrum-Steplist-item.is-complete + .spectrum-Steplist-item .spectrum-Steplist-segment {
      border-bottom-width: 2px;
      border-bottom-style: solid;
    }
.spectrum-Steplist-item.is-selected:focus,
    .spectrum-Steplist-item.is-selected.is-focused,
    .spectrum-Steplist-item.is-selected *:focus {
      outline: none;
    }
.spectrum-Steplist-item.is-selected .spectrum-Steplist-marker {
      border: none;
    }
.spectrum-Steplist-label {
  position: absolute;
  left: 50%;
  bottom: 10px;

  display: block;
  width: 120px;

  font-size: 12px;
  white-space: normal;

  transform: translateX(-50%);
}
.spectrum-Steplist-markerContainer {
  display: block;

  z-index: 2;
  position: absolute;
  bottom: -10px;
  left: 50%;

  width: 20px;
  height: 20px;

  margin-left: -10px;
}
.spectrum-Steplist-marker {
  box-sizing: border-box;
  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -4px;
  margin-left: -4px;

  width: 8px;
  height: 8px;

  border-radius: 8px;

  border: 2px solid;
  border-color: transparent;
  background: transparent;
}
.spectrum-Steplist-segment {
  display: block;
  z-index: 1;
  position: absolute;
  right: 68px;

  box-sizing: content-box;
  width: 104px;
  bottom: -1px;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
.spectrum-Steplist-item:first-child .spectrum-Steplist-markerContainer {
    left: 0;
  }
.spectrum-Steplist-item:first-child .spectrum-Steplist-label {
    left: 0;
  }
.spectrum-Steplist-item:first-child .spectrum-Steplist-segment {
    display: none;
  }
.spectrum-Steplist-item:last-child .spectrum-Steplist-label {
    left: auto;
    right: 0;

    transform: translateX(50%);
  }
.spectrum-Steplist-item:last-child .spectrum-Steplist-markerContainer {
    left: auto;
    right: 0;

    margin-left: 0;
    margin-right: -10px;
  }
.spectrum-Steplist-item:last-child .spectrum-Steplist-segment {
    right: 8px;
    left: auto;
  }
.spectrum-Steplist-item:first-child,
.spectrum-Steplist-item:last-child {
  width: 20px;
}
.spectrum-Steplist-item:only-child .spectrum-Steplist-label {
    left: 50%;
    transform: translate(-50%);
  }
.spectrum-Steplist-item:only-child .spectrum-Steplist-markerContainer {
    left: 50%;
    margin-right: 0;
    margin-left: -10px;
  }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-label {
    color: rgb(144, 144, 144)
  }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-marker {
    border-color: rgb(74, 74, 74)
  }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-segment {
    border-bottom-color: rgb(74, 74, 74)
  }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-label {
        color: rgb(185, 185, 185)
      }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-marker {
        background-color: rgb(144, 144, 144)
      }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-label {
        color: rgb(227, 227, 227)
      }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-marker {
        background-color: rgb(227, 227, 227)
      }
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-segment,
.spectrum--dark .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-segment {
        border-bottom-color: rgb(110, 110, 110)
      }
.spectrum--dark .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item:focus .spectrum-Steplist-marker,
.spectrum--dark .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item.is-focused .spectrum-Steplist-marker,
.spectrum--dark .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item *:focus .spectrum-Steplist-marker {
          background-color: rgb(38, 128, 235)
        }
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-label {
    color: rgb(124, 124, 124)
  }
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-marker {
    border-color: rgb(57, 57, 57)
  }
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-segment {
    border-bottom-color: rgb(57, 57, 57)
  }
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-label {
        color: rgb(162, 162, 162)
      }
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-marker {
        background-color: rgb(124, 124, 124)
      }
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-label {
        color: rgb(200, 200, 200)
      }
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-marker {
        background-color: rgb(200, 200, 200)
      }
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-segment,
.spectrum--darkest .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-segment {
        border-bottom-color: rgb(92, 92, 92)
      }
.spectrum--darkest .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item:focus .spectrum-Steplist-marker,
.spectrum--darkest .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item.is-focused .spectrum-Steplist-marker,
.spectrum--darkest .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item *:focus .spectrum-Steplist-marker {
          background-color: rgb(20, 115, 230)
        }
.spectrum--light .spectrum-Steplist .spectrum-Steplist-label {
    color: rgb(142, 142, 142)
  }
.spectrum--light .spectrum-Steplist .spectrum-Steplist-marker {
    border-color: rgb(225, 225, 225)
  }
.spectrum--light .spectrum-Steplist .spectrum-Steplist-segment {
    border-bottom-color: rgb(225, 225, 225)
  }
.spectrum--light .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-label {
        color: rgb(110, 110, 110)
      }
.spectrum--light .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-marker {
        background-color: rgb(142, 142, 142)
      }
.spectrum--light .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-label {
        color: rgb(75, 75, 75)
      }
.spectrum--light .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-marker {
        background-color: rgb(75, 75, 75)
      }
.spectrum--light .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-segment,
.spectrum--light .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-segment {
        border-bottom-color: rgb(179, 179, 179)
      }
.spectrum--light .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item:focus .spectrum-Steplist-marker,
.spectrum--light .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item.is-focused .spectrum-Steplist-marker,
.spectrum--light .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item *:focus .spectrum-Steplist-marker {
          background-color: rgb(38, 128, 235)
        }
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-label {
    color: rgb(149, 149, 149)
  }
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-marker {
    border-color: rgb(234, 234, 234)
  }
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-segment {
    border-bottom-color: rgb(234, 234, 234)
  }
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-label {
        color: rgb(116, 116, 116)
      }
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-marker {
        background-color: rgb(149, 149, 149)
      }
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-label {
        color: rgb(80, 80, 80)
      }
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-marker {
        background-color: rgb(80, 80, 80)
      }
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-item.is-complete .spectrum-Steplist-segment,
.spectrum--lightest .spectrum-Steplist .spectrum-Steplist-item.is-selected .spectrum-Steplist-segment {
        border-bottom-color: rgb(188, 188, 188)
      }
.spectrum--lightest .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item:focus .spectrum-Steplist-marker,
.spectrum--lightest .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item.is-focused .spectrum-Steplist-marker,
.spectrum--lightest .spectrum-Steplist.spectrum-Steplist--interactive .spectrum-Steplist-item *:focus .spectrum-Steplist-marker {
          background-color: rgb(55, 142, 240)
        }
