.spectrum--large .spectrum-SearchWithin {
  width: 250px;
}
.spectrum--large [dir="ltr"] .spectrum-SearchWithin-pickerTrigger {
  border-top-right-radius: 0;
}
.spectrum--large [dir="rtl"] .spectrum-SearchWithin-pickerTrigger {
  border-top-left-radius: 0;
}
.spectrum--large [dir="ltr"] .spectrum-SearchWithin-pickerTrigger {
  border-bottom-right-radius: 0;
}
.spectrum--large [dir="rtl"] .spectrum-SearchWithin-pickerTrigger {
  border-bottom-left-radius: 0;
}
.spectrum--large [dir="ltr"] .spectrum-SearchWithin-input {
  margin-left: -1px;
}
.spectrum--large [dir="rtl"] .spectrum-SearchWithin-input {
  margin-right: -1px;
}
.spectrum--large [dir="ltr"] .spectrum-SearchWithin-input {
  border-top-left-radius: 0;
}
.spectrum--large [dir="rtl"] .spectrum-SearchWithin-input {
  border-top-right-radius: 0;
}
.spectrum--large [dir="ltr"] .spectrum-SearchWithin-input {
  border-bottom-left-radius: 0;
}
.spectrum--large [dir="rtl"] .spectrum-SearchWithin-input {
  border-bottom-right-radius: 0;
}
.spectrum-SearchWithin {
  width: 250px;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
}
.spectrum-SearchWithin-picker {
  width: auto;
  min-width: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
[dir="ltr"] .spectrum-SearchWithin-pickerTrigger {
  border-top-right-radius: 0;
}
[dir="rtl"] .spectrum-SearchWithin-pickerTrigger {
  border-top-left-radius: 0;
}
[dir="ltr"] .spectrum-SearchWithin-pickerTrigger {
  border-bottom-right-radius: 0;
}
[dir="rtl"] .spectrum-SearchWithin-pickerTrigger {
  border-bottom-left-radius: 0;
}
[dir="ltr"] .spectrum-SearchWithin-input {
  margin-left: -1px;
}
[dir="rtl"] .spectrum-SearchWithin-input {
  margin-right: -1px;
}
[dir="ltr"] .spectrum-SearchWithin-input {
  border-top-left-radius: 0;
}
[dir="rtl"] .spectrum-SearchWithin-input {
  border-top-right-radius: 0;
}
[dir="ltr"] .spectrum-SearchWithin-input {
  border-bottom-left-radius: 0;
}
[dir="rtl"] .spectrum-SearchWithin-input {
  border-bottom-right-radius: 0;
}
.spectrum-SearchWithin-input {
  -ms-flex: 1;
      flex: 1;
  min-width: inherit;
}
.spectrum-SearchWithin > .spectrum-Textfield {
  flex-grow: 1;
}
.spectrum-SearchWithin-input:hover, .spectrum-SearchWithin-input:focus {
    position: relative;
  }
[dir="ltr"] .spectrum-SearchWithin-clearButton {
  right: 0;
}
[dir="rtl"] .spectrum-SearchWithin-clearButton {
  left: 0;
}
.spectrum-SearchWithin-clearButton {
  position: absolute;
  top: 0;
}
