.spectrum-StatusLight {
  min-height: 32px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: start;
      align-items: flex-start;

  padding-top: 4px;

  padding-bottom: 6px;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.44;
}
.spectrum-StatusLight::before {
    content: '';
    -ms-flex-positive: 0;
        flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 6px;
    margin-bottom: 4px;
    margin-left: 12px;
    margin-right: 12px;
    -ms-high-contrast-adjust: none;
    forced-color-adjust: none;
  }
.spectrum-StatusLight--neutral {
  font-style: italic;
}
