.spectrum--lightest .spectrum-Checkbox {
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Checkbox-checkmark,
.spectrum--lightest .spectrum-Checkbox-partialCheckmark {
  color: rgb(255, 255, 255);
}
.spectrum--lightest .spectrum-Checkbox-box:before {
    forced-color-adjust: none;
    border-color: rgb(149, 149, 149);
    background-color: rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Checkbox-label {
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before {
    border-color: rgb(38, 128, 235);
  }
.spectrum--lightest .spectrum-Checkbox:hover.is-indeterminate .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox:hover .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before {
      border-color: rgb(20, 115, 230);
    }
.spectrum--lightest .spectrum-Checkbox:active.is-indeterminate .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox:active .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before {
      border-color: rgb(13, 102, 208);
    }
.spectrum--lightest .spectrum-Checkbox {
  border-color: rgb(149, 149, 149);
}
.spectrum--lightest .spectrum-Checkbox:hover .spectrum-Checkbox-box:before {
        border-color: rgb(116, 116, 116);
      }
.spectrum--lightest .spectrum-Checkbox:hover .spectrum-Checkbox-label {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-Checkbox:active .spectrum-Checkbox-box:before {
        border-color: rgb(80, 80, 80);
      }
.spectrum--lightest .spectrum-Checkbox:active .spectrum-Checkbox-label {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-Checkbox .spectrum-Checkbox-input:disabled + .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox .spectrum-Checkbox-input:checked:disabled + .spectrum-Checkbox-box:before {
      border-color: rgb(211, 211, 211);
      background-color: rgb(255, 255, 255);
    }
.spectrum--lightest .spectrum-Checkbox .spectrum-Checkbox-input:disabled ~ .spectrum-Checkbox-label,
.spectrum--lightest .spectrum-Checkbox .spectrum-Checkbox-input:checked:disabled ~ .spectrum-Checkbox-label {
    forced-color-adjust: none;
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Checkbox-input + .spectrum-Checkbox-box:after {
      box-shadow: 0 0 0 2px rgb(55, 142, 240);
      opacity: 0;
    }
.spectrum--lightest .spectrum-Checkbox-input.focus-ring + .spectrum-Checkbox-box:before {
      border-color: rgb(116, 116, 116);
    }
.spectrum--lightest .spectrum-Checkbox-input.focus-ring + .spectrum-Checkbox-box:after {
      opacity: 1;
    }
.spectrum--lightest .spectrum-Checkbox.is-indeterminate .spectrum-Checkbox-input.focus-ring + .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox-input:checked.focus-ring + .spectrum-Checkbox-box:before {
        border-color: rgb(20, 115, 230);
      }
.spectrum--lightest .spectrum-Checkbox-input.focus-ring ~ .spectrum-Checkbox-label {
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-Checkbox--quiet .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox--quiet.is-indeterminate .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox--quiet.is-indeterminate .spectrum-Checkbox-input.focus-ring + .spectrum-Checkbox-box:before {
    border-color: rgb(116, 116, 116);
  }
.spectrum--lightest .spectrum-Checkbox--quiet:hover.is-indeterminate .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox--quiet:hover .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before {
      border-color: rgb(80, 80, 80);
    }
.spectrum--lightest .spectrum-Checkbox--quiet:active.is-indeterminate .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox--quiet:active .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before {
      border-color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-Checkbox.is-invalid .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox.is-invalid .spectrum-Checkbox-box:before {
      border-color: rgb(227, 72, 80);
    }
.spectrum--lightest .spectrum-Checkbox.is-invalid .spectrum-Checkbox-label {
    color: rgb(215, 55, 63);
  }
.spectrum--lightest .spectrum-Checkbox.is-invalid.is-indeterminate .spectrum-Checkbox-input.focus-ring + .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox.is-invalid .spectrum-Checkbox-input.focus-ring + .spectrum-Checkbox-box:before {
        border-color: rgb(215, 55, 63);
      }
.spectrum--lightest .spectrum-Checkbox.is-invalid.is-indeterminate .spectrum-Checkbox-input.focus-ring ~ .spectrum-Checkbox-label,
.spectrum--lightest .spectrum-Checkbox.is-invalid .spectrum-Checkbox-input.focus-ring ~ .spectrum-Checkbox-label {
      color: rgb(201, 37, 45);
    }
.spectrum--lightest .spectrum-Checkbox.is-invalid:hover .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox.is-invalid:hover .spectrum-Checkbox-box:before {
        border-color: rgb(215, 55, 63);
      }
.spectrum--lightest .spectrum-Checkbox.is-invalid:hover .spectrum-Checkbox-label {
      color: rgb(201, 37, 45);
    }
.spectrum--lightest .spectrum-Checkbox.is-invalid:active .spectrum-Checkbox-input:checked + .spectrum-Checkbox-box:before,
.spectrum--lightest .spectrum-Checkbox.is-invalid:active .spectrum-Checkbox-box:before {
        border-color: rgb(201, 37, 45);
      }
.spectrum--lightest .spectrum-Checkbox.is-invalid:active .spectrum-Checkbox-label {
      color: rgb(201, 37, 45);
    }
@media (forced-colors: active) {
    .spectrum--lightest .spectrum-Checkbox-input.focus-ring + .spectrum-Checkbox-box {
      forced-color-adjust: none;
      outline-color: rgb(55, 142, 240);
      outline-style: auto;
      outline-offset: 2px;
      outline-width: 2px;    }
  .spectrum--lightest :root {
    --spectrum-checkbox-emphasized-box-background-color : transparent;
    --spectrum-checkbox-emphasized-box-background-color-disabled : transparent;
    --spectrum-checkbox-emphasized-box-border-color-disabled : GrayText;
    --spectrum-checkbox-text-color-disabled : GrayText;
    --spectrum-checkbox-box-border-color-key-focus: FieldText;
    --spectrum-checkbox-emphasized-box-border-color: FieldText;
    --spectrum-checkbox-quiet-box-border-color: FieldText; 
    --spectrum-checkbox-box-border-color-selected-hover : Highlight;
    --spectrum-checkbox-emphasized-box-border-color-selected-hover : Highlight;
    --spectrum-checkbox-quiet-box-border-color-selected-hover : Highlight;
    --spectrum-checkbox-emphasized-box-border-color-selected: Highlight; 
    --spectrum-checkbox-quiet-box-border-color-selected: Highlight;
    --spectrum-checkbox-checkmark-color: HighlightText;
    --spectrum-checkbox-focus-ring-color-key-focus: Highlight;
    --spectrum-checkbox-focus-ring-gap-key-focus: 2px;
    --spectrum-checkbox-focus-ring-size-key-focus: 3px;
    --spectrum-checkbox-box-border-color-error: FieldText;
    --spectrum-checkbox-box-border-color-error-hover: FieldText;
    --spectrum-checkbox-box-border-color-error-selected: FieldText;
    --spectrum-checkbox-text-color-error: FieldText;
  }        
}
