.spectrum--large .spectrum-ColorSlider.is-focused .spectrum-ColorSlider-handle {
  width: 40px;
  height: 40px;

  margin-left: -20px;
  margin-top: -20px;
}
.spectrum--large .spectrum-ColorSlider {
  width: 240px;
  height: 30px;
}
.spectrum--large .spectrum-ColorSlider--vertical {

  width: 30px;
  height: 240px;
}
.spectrum--large .spectrum-ColorSlider-handle:after {
    border-radius: 0%;
    width: 30px;
    height: 30px;
  }
.spectrum--large .spectrum-ColorSlider-checkerboard {
  background-size:
    16px
    16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;
}
.spectrum--large .spectrum-ColorSlider-checkerboard:before {
    border-radius: 5px;
  }
.spectrum--large .spectrum-ColorSlider-gradient,
.spectrum--large .spectrum-ColorSlider-checkerboard {
  border-radius: 5px;
}
.spectrum-ColorSlider.is-focused .spectrum-ColorSlider-handle {
  width: 32px;
  height: 32px;

  margin-left: -16px;
  margin-top: -16px;
}
.spectrum-ColorSlider-slider {
  opacity: 0.0001;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  z-index: 0;
  margin: 0;
  pointer-events: none;
}
.spectrum-ColorSlider {
  position: relative;
  display: block;
  width: 192px;
  height: 24px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  cursor: default;
}
.spectrum-ColorSlider.is-focused {
    z-index: 2;
  }
.spectrum-ColorSlider.is-disabled {
    pointer-events: none;
  }
.spectrum-ColorSlider--vertical {
  display: inline-block;

  width: 24px;
  height: 192px;
}
.spectrum-ColorSlider--vertical .spectrum-ColorSlider-handle {
    left: 50%;
    top: 0;
  }
.spectrum-ColorSlider-handle {
  left: 0;
  top: 50%;
}
.spectrum-ColorSlider-handle:after {
    border-radius: 0%;
    width: 24px;
    height: 24px;
  }
.spectrum-ColorSlider-checkerboard {
  background-size:
    16px
    16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;
}
.spectrum-ColorSlider-checkerboard:before {
    content: '';
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
  }
.spectrum-ColorSlider-gradient,
.spectrum-ColorSlider-checkerboard {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.spectrum--dark .spectrum-ColorSlider-checkerboard {
  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--dark .spectrum-ColorSlider-checkerboard:before {
    box-shadow: inset 0 0 0 1px rgba(255,255,255,0.1);
  }
.spectrum--dark .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-checkerboard {
      background: rgb(74, 74, 74);
    }
.spectrum--dark .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-checkerboard:before {
        box-shadow: 0 0 0 1px rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-gradient {
      display: none
    }
.spectrum--darkest .spectrum-ColorSlider-checkerboard {
  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--darkest .spectrum-ColorSlider-checkerboard:before {
    box-shadow: inset 0 0 0 1px rgba(239,239,239,0.1);
  }
.spectrum--darkest .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-checkerboard {
      background: rgb(57, 57, 57);
    }
.spectrum--darkest .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-checkerboard:before {
        box-shadow: 0 0 0 1px rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-gradient {
      display: none
    }
.spectrum--light .spectrum-ColorSlider-checkerboard {
  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--light .spectrum-ColorSlider-checkerboard:before {
    box-shadow: inset 0 0 0 1px rgba(44,44,44,0.1);
  }
.spectrum--light .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-checkerboard {
      background: rgb(225, 225, 225);
    }
.spectrum--light .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-checkerboard:before {
        box-shadow: 0 0 0 1px rgb(225, 225, 225);
      }
.spectrum--light .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-gradient {
      display: none
    }
.spectrum--lightest .spectrum-ColorSlider-checkerboard {
  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--lightest .spectrum-ColorSlider-checkerboard:before {
    box-shadow: inset 0 0 0 1px rgba(50,50,50,0.1);
  }
.spectrum--lightest .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-checkerboard {
      background: rgb(234, 234, 234);
    }
.spectrum--lightest .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-checkerboard:before {
        box-shadow: 0 0 0 1px rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-ColorSlider.is-disabled .spectrum-ColorSlider-gradient {
      display: none
    }
