.spectrum--large .spectrum-ColorWheel.is-focused .spectrum-ColorWheel-handle {
  width: 40px;
  height: 40px;

  margin-left: -20px;
  margin-top: -20px;
}
.spectrum--large .spectrum-ColorWheel {
  width: 208px;
  height: 208px;

  border-radius: 100%;
}
.spectrum--large .spectrum-ColorWheel-gradient {
  width: 208px;
  height: 208px;

  border-width: 1px;
}
.spectrum--large .spectrum-ColorWheel-outerCircle,
.spectrum--large .spectrum-ColorWheel-innerCircle {

  stroke-width: 1px;
}
