.spectrum--dark .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
      border-color: rgb(55, 142, 240);
    }
.spectrum--dark .spectrum-Radio-label {
  color: rgb(227, 227, 227);
}
.spectrum--dark .spectrum-Radio-button:before {
    background-color: rgb(47, 47, 47);
    border-color: rgb(144, 144, 144);
  }
.spectrum--dark .spectrum-Radio:hover .spectrum-Radio-button:before {
        border-color: rgb(185, 185, 185);
        box-shadow: none;
      }
.spectrum--dark .spectrum-Radio:hover .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(75, 156, 245);
      }
.spectrum--dark .spectrum-Radio:hover .spectrum-Radio-label {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Radio:active .spectrum-Radio-button:before {
        border-color: rgb(227, 227, 227);
      }
.spectrum--dark .spectrum-Radio:active .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(90, 169, 250);
      }
.spectrum--dark .spectrum-Radio:active .spectrum-Radio-label {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Radio--quiet .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
      border-color: rgb(185, 185, 185);
    }
.spectrum--dark .spectrum-Radio--quiet:hover .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(227, 227, 227);
      }
.spectrum--dark .spectrum-Radio--quiet:active .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(255, 255, 255);
      }
.spectrum--dark .spectrum-Radio.is-invalid:hover .spectrum-Radio-input + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio--quiet.is-invalid:hover .spectrum-Radio-input + .spectrum-Radio-button:before {
        border-color: rgb(247, 109, 116);
      }
.spectrum--dark .spectrum-Radio.is-invalid:hover .spectrum-Radio-label,
.spectrum--dark .spectrum-Radio--quiet.is-invalid:hover .spectrum-Radio-label {
      color: rgb(247, 109, 116);
    }
.spectrum--dark .spectrum-Radio.is-invalid:active .spectrum-Radio-input + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio--quiet.is-invalid:active .spectrum-Radio-input + .spectrum-Radio-button:before {
        border-color: rgb(255, 123, 130);
      }
.spectrum--dark .spectrum-Radio.is-invalid:active .spectrum-Radio-label,
.spectrum--dark .spectrum-Radio--quiet.is-invalid:active .spectrum-Radio-label {
      color: rgb(255, 123, 130);
    }
.spectrum--dark .spectrum-Radio.is-invalid .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio.is-invalid .spectrum-Radio-input:checked + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio--quiet.is-invalid .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio--quiet.is-invalid .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(236, 91, 98);
      }
.spectrum--dark .spectrum-Radio.is-invalid .spectrum-Radio-label,
.spectrum--dark .spectrum-Radio--quiet.is-invalid .spectrum-Radio-label {
      color: rgb(236, 91, 98);
    }
.spectrum--dark .spectrum-Radio .spectrum-Radio-input:disabled + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio .spectrum-Radio-input:checked:disabled + .spectrum-Radio-button:before {
      border-color: rgb(90, 90, 90);
    }
.spectrum--dark .spectrum-Radio .spectrum-Radio-input:disabled ~ .spectrum-Radio-label,
.spectrum--dark .spectrum-Radio .spectrum-Radio-input:checked:disabled ~ .spectrum-Radio-label {
    color: rgb(110, 110, 110);
  }
.spectrum--dark .spectrum-Radio .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before {
        border-color: rgb(185, 185, 185);
      }
.spectrum--dark .spectrum-Radio .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--dark .spectrum-Radio:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--dark .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--dark .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after {
        box-shadow: 0 0 0 2px rgb(38, 128, 235);
      }
.spectrum--dark .spectrum-Radio .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio:hover .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--dark .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before {
        border-color: rgb(75, 156, 245);
      }
