.spectrum--dark .spectrum-Divider--large {
  background-color: rgb(227, 227, 227);
}
.spectrum--dark .spectrum-Divider--medium {
  background-color: rgb(74, 74, 74);
}
.spectrum--dark .spectrum-Divider--small {
  background-color: rgb(74, 74, 74);
}
