.spectrum--dark .spectrum-Tags-item {
  color: rgb(185, 185, 185);
  background-color: rgb(47, 47, 47);
  border-color: rgb(144, 144, 144);
}
.spectrum--dark .spectrum-Tags-item .spectrum-Tags-itemIcon {
    color: rgb(144, 144, 144);
  }
.spectrum--dark .spectrum-Tags-item:hover {
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
  }
.spectrum--dark .spectrum-Tags-item:hover .spectrum-Tags-itemIcon {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Tags-item.focus-ring {
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 2px rgb(38, 128, 235);
  }
.spectrum--dark .spectrum-Tags-item.focus-ring .spectrum-Tags-itemIcon {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Tags-item.is-selected {
    background-color: rgb(185, 185, 185);
    color: rgb(37, 37, 37);
    border-color: transparent;
  }
.spectrum--dark .spectrum-Tags-item.is-selected .spectrum-Tags-itemIcon {
      color: rgb(37, 37, 37);
    }
.spectrum--dark .spectrum-Tags-item.is-selected:hover {
      background-color: rgb(227, 227, 227);
    }
.spectrum--dark .spectrum-Tags-item.is-selected.focus-ring {
      box-shadow: 0 0 0 2px rgb(38, 128, 235);
      border-color: rgb(37, 37, 37);
    }
.spectrum--dark .spectrum-Tags-item.is-selected.is-invalid {
      border-color: transparent;
      background-color: rgb(236, 91, 98);
    }
.spectrum--dark .spectrum-Tags-item.is-selected.is-invalid .spectrum-Tags-itemIcon,
.spectrum--dark .spectrum-Tags-item.is-selected.is-invalid .spectrum-Tags-itemLabel,
.spectrum--dark .spectrum-Tags-item.is-selected.is-invalid .spectrum-Tags-itemClearButton {
        color: rgb(37, 37, 37);
      }
.spectrum--dark .spectrum-Tags-item.is-selected.is-invalid.focus-ring {
        box-shadow: 0 0 0 2px rgb(38, 128, 235);
        border-color: rgb(37, 37, 37);
      }
.spectrum--dark .spectrum-Tags-item.is-selected.is-invalid:hover {
        border-color: transparent;
        background-color: rgb(247, 109, 116);
      }
.spectrum--dark .spectrum-Tags-item.is-selected.is-invalid:hover .spectrum-Tags-itemIcon {
          color: rgb(37, 37, 37);
        }
.spectrum--dark .spectrum-Tags-item.is-invalid {
    color: rgb(236, 91, 98);
    border-color: rgb(236, 91, 98);

  }
.spectrum--dark .spectrum-Tags-item.is-invalid:hover {
      color: rgb(247, 109, 116);
      border-color: rgb(247, 109, 116);
    }
.spectrum--dark .spectrum-Tags-item.is-invalid:hover .spectrum-Tags-itemIcon,
.spectrum--dark .spectrum-Tags-item.is-invalid:hover .spectrum-Tags-itemClearButton {
        color: rgb(247, 109, 116);
      }
.spectrum--dark .spectrum-Tags-item.is-invalid.focus-ring {
      color: rgb(247, 109, 116);
      border-color: rgb(38, 128, 235);
      box-shadow: 0 0 0 2px rgb(38, 128, 235);
    }
.spectrum--dark .spectrum-Tags-item.is-invalid .spectrum-Tags-itemIcon,
.spectrum--dark .spectrum-Tags-item.is-invalid .spectrum-Tags-itemClearButton {
      color: rgb(236, 91, 98);
    }
.spectrum--dark .spectrum-Tags-item.is-disabled {
    color: rgb(110, 110, 110);
    background-color: rgb(62, 62, 62);
    border-color: rgb(62, 62, 62);
  }
.spectrum--dark .spectrum-Tags-item.is-disabled .spectrum-Avatar {
      opacity: 0.3;
    }
.spectrum--dark .spectrum-Tags-item.is-disabled .spectrum-Tags-itemIcon {
      color: rgb(110, 110, 110);
    }
.spectrum--dark .spectrum-Tags-item--removable:hover {
    color: rgb(255, 255, 255);
  }
.spectrum--dark .spectrum-Tags-item--removable:active {
    color: rgb(185, 185, 185);
  }
.spectrum--dark .spectrum-Tags-item--removable.is-invalid:hover {
      border-color: rgb(247, 109, 116);
    }
.spectrum--dark .spectrum-Tags-item--removable.is-invalid:hover .spectrum-Tags-itemClearButton {
        color: rgb(247, 109, 116);
      }
.spectrum--dark .spectrum-Tags-item--removable.is-invalid:active {
      border-color: rgb(255, 123, 130);
    }
.spectrum--dark .spectrum-Tags-item--removable.is-focused {
    color: rgb(185, 185, 185);
  }
.spectrum--dark .spectrum-Tags-item--removable.is-focused.is-invalid {
      color: rgb(185, 185, 185);
    }
.spectrum--dark .spectrum-Tags-item--removable.is-selected {
    color: rgb(37, 37, 37);
  }
.spectrum--dark .spectrum-Tags-item--removable.is-selected.is-focused {
       color: rgb(37, 37, 37);
    }
.spectrum--dark .spectrum-Tags-item--removable.is-selected .spectrum-Tags-itemClearButton {
      color: rgb(37, 37, 37);
    }
.spectrum--dark .spectrum-Tags-item--removable.is-selected .spectrum-Tags-itemClearButton:hover {
         color: rgb(37, 37, 37);
      }
.spectrum--dark .spectrum-Tags-item--removable.is-selected.is-invalid:hover .spectrum-Tags-itemClearButton {
          color: rgb(37, 37, 37);
        }
.spectrum--dark .spectrum-Tags-item--removable .spectrum-Tags-itemClearButton.is-focused {
      border-color: rgb(38, 128, 235);
      background-color: rgb(144, 144, 144);
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Tags-item--removable .spectrum-Tags-itemClearButton:hover {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Tags-item--removable .spectrum-Tags-itemClearButton:active {
      background-color: rgb(74, 74, 74);
    }
