.spectrum--large .spectrum-ColorHandle.is-focused,
.spectrum--large .spectrum-ColorHandle.focus-ring {
  width: 40px;
  height: 40px;

  margin-left: -20px;
  margin-top: -20px;
}
.spectrum--large .spectrum-ColorHandle {
  width: 20px;
  height: 20px;

  margin-left: -10px;
  margin-top: -10px;

  border-width: 2px;

  background-size:
    16px
    16px;
  background-position:
    -2px -2px,
    -2px 6px,
    6px -10px,
    -10px -2px;

  transition:
    width 130ms ease-in-out,
    height 130ms ease-in-out,
    border-width 130ms ease-in-out,
    margin-left 130ms ease-in-out,
    margin-top 130ms ease-in-out;
}
.spectrum--large .spectrum-ColorHandle:after {
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
  }
.spectrum-ColorHandle.is-focused,
.spectrum-ColorHandle.focus-ring {
  width: 32px;
  height: 32px;

  margin-left: -16px;
  margin-top: -16px;
}
.spectrum-ColorHandle {
  display: block;
  position: absolute;
  z-index: 1;
  box-sizing: border-box;
  width: 16px;
  height: 16px;

  margin-left: -8px;
  margin-top: -8px;

  border-width: 2px;
  border-style: solid;

  background-size:
    16px
    16px;
  background-position:
    -2px -2px,
    -2px 6px,
    6px -10px,
    -10px -2px;

  transition:
    width 130ms ease-in-out,
    height 130ms ease-in-out,
    border-width 130ms ease-in-out,
    margin-left 130ms ease-in-out,
    margin-top 130ms ease-in-out;
}
.spectrum-ColorHandle,
  .spectrum-ColorHandle:after {
    border-radius: 100%;
  }
.spectrum-ColorHandle:after {
    content: '';
    left: calc(50% - 12px);
    top: calc(50% - 12px);
    position: absolute;
    display: block;
    width: 24px;
    height: 24px;
  }
.spectrum-ColorHandle.is-disabled {
    pointer-events: none;
  }
.spectrum-ColorHandle-color {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.spectrum--dark .spectrum-ColorHandle {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.42);

  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--dark .spectrum-ColorHandle.is-disabled {
    border-color: rgb(90, 90, 90);
    background: rgb(74, 74, 74);
    box-shadow: none;
  }
.spectrum--dark .spectrum-ColorHandle.is-disabled .spectrum-ColorHandle-color {
      display: none;
    }
.spectrum--dark .spectrum-ColorHandle-color {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.42);
}
.spectrum--darkest .spectrum-ColorHandle {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.42);

  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--darkest .spectrum-ColorHandle.is-disabled {
    border-color: rgb(73, 73, 73);
    background: rgb(57, 57, 57);
    box-shadow: none;
  }
.spectrum--darkest .spectrum-ColorHandle.is-disabled .spectrum-ColorHandle-color {
      display: none;
    }
.spectrum--darkest .spectrum-ColorHandle-color {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.42);
}
.spectrum--light .spectrum-ColorHandle {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.42);

  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--light .spectrum-ColorHandle.is-disabled {
    border-color: rgb(202, 202, 202);
    background: rgb(225, 225, 225);
    box-shadow: none;
  }
.spectrum--light .spectrum-ColorHandle.is-disabled .spectrum-ColorHandle-color {
      display: none;
    }
.spectrum--light .spectrum-ColorHandle-color {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.42);
}
.spectrum--lightest .spectrum-ColorHandle {
  border-color: rgb(255, 255, 255);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.42);

  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--lightest .spectrum-ColorHandle.is-disabled {
    border-color: rgb(211, 211, 211);
    background: rgb(234, 234, 234);
    box-shadow: none;
  }
.spectrum--lightest .spectrum-ColorHandle.is-disabled .spectrum-ColorHandle-color {
      display: none;
    }
.spectrum--lightest .spectrum-ColorHandle-color {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.42);
}
