

.spectrum--dark  {
  background-color: rgb(84, 84, 84);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.spectrum--darkest  {
  background-color: rgb(53, 53, 53);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.spectrum--light  {
  background-color: rgb(184, 184, 184);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.spectrum--lightest  {
  background-color: rgb(240, 240, 240);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
