.spectrum--large .spectrum-Menu {

  margin-top: 5px;

  margin-bottom: 5px;
}
.spectrum--large .spectrum-Menu > .spectrum-Menu-sectionHeading {
    margin-top: 4px;
    margin-bottom: 4px;
  }
.spectrum--large [dir="ltr"] .spectrum-Menu.is-selectable .spectrum-Menu-item {
      padding-right: 41px;
}
.spectrum--large [dir="rtl"] .spectrum-Menu.is-selectable .spectrum-Menu-item {
      padding-left: 41px;
}
.spectrum--large [dir="ltr"] .spectrum-Menu.is-selectable .spectrum-Menu-item.is-selected {
        padding-right: 11px;
}
.spectrum--large [dir="rtl"] .spectrum-Menu.is-selectable .spectrum-Menu-item.is-selected {
        padding-left: 11px;
}
.spectrum--large [dir="ltr"] .spectrum-Menu-item {

  border-left: 2px solid transparent;
}
.spectrum--large [dir="rtl"] .spectrum-Menu-item {

  border-right: 2px solid transparent;
}
.spectrum--large .spectrum-Menu-item {

  padding: 9px 12px 9px 10px;

  min-height: 48px;

  font-size: 17px;
  font-weight: 400;
}
.spectrum--large [dir="ltr"] .spectrum-Menu-item.is-selected {
    padding-right: 11px;
}
.spectrum--large [dir="rtl"] .spectrum-Menu-item.is-selected {
    padding-left: 11px;
}
.spectrum--large [dir="ltr"] .spectrum-Menu-item .spectrum-Icon + .spectrum-Menu-itemLabel,.spectrum--large [dir="ltr"] 
  .spectrum-Menu-item .spectrum-Menu-itemIcon  + .spectrum-Menu-itemLabel {
    margin-left: 10px;
}
.spectrum--large [dir="rtl"] .spectrum-Menu-item .spectrum-Icon + .spectrum-Menu-itemLabel,.spectrum--large [dir="rtl"] 
  .spectrum-Menu-item .spectrum-Menu-itemIcon  + .spectrum-Menu-itemLabel {
    margin-right: 10px;
}
.spectrum--large .spectrum-Menu-item .spectrum-Icon + .spectrum-Menu-itemLabel,
  .spectrum--large .spectrum-Menu-item .spectrum-Menu-itemIcon  + .spectrum-Menu-itemLabel {

    width: calc(100% - 63px);
  }
.spectrum--large .spectrum-Menu-itemLabel {
  line-height: 1.3;
  width: calc(100% - 31px);
}
.spectrum--large [dir="ltr"] .spectrum-Menu-checkmark,.spectrum--large [dir="ltr"] 
.spectrum-Menu-chevron {
  margin-left: 15px;
}
.spectrum--large [dir="rtl"] .spectrum-Menu-checkmark,.spectrum--large [dir="rtl"] 
.spectrum-Menu-chevron {
  margin-right: 15px;
}
.spectrum--large .spectrum-Menu-checkmark,
.spectrum--large .spectrum-Menu-chevron {
  margin-top: 5px;
}
.spectrum--large .spectrum-Menu-divider {

  height: 2px;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  margin-left: 12px;
  margin-right: 12px;
}
.spectrum--large .spectrum-Menu-sectionHeading {
  margin: 8px 0 0 0;
  padding: 0 45px 0 15px;

  font-size: 13px;
  font-weight: 400;
  line-height: 25px;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
