.spectrum--dark .spectrum-Dialog-heading {
  color: rgb(255, 255, 255);
}
.spectrum--dark .spectrum-Dialog-content {
  color: rgb(227, 227, 227);
}
.spectrum--dark .spectrum-Dialog-typeIcon {
  color: rgb(255, 255, 255);
}
.spectrum--dark .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(247, 109, 116);
  }
.spectrum--dark .spectrum-Dialog--warning .spectrum-Dialog-typeIcon {
    color: rgb(249, 164, 63);
  }
