.spectrum--darkest .spectrum-Dialog-heading {
  color: rgb(239, 239, 239);
}
.spectrum--darkest .spectrum-Dialog-content {
  color: rgb(200, 200, 200);
}
.spectrum--darkest .spectrum-Dialog-typeIcon {
  color: rgb(239, 239, 239);
}
.spectrum--darkest .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(236, 91, 98);
  }
.spectrum--darkest .spectrum-Dialog--warning .spectrum-Dialog-typeIcon {
    color: rgb(242, 148, 35);
  }
