.spectrum--light .spectrum-Dialog-heading {
  color: rgb(44, 44, 44);
}
.spectrum--light .spectrum-Dialog-content {
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-Dialog-typeIcon {
  color: rgb(44, 44, 44);
}
.spectrum--light .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(201, 37, 45);
  }
.spectrum--light .spectrum-Dialog--warning .spectrum-Dialog-typeIcon {
    color: rgb(203, 111, 16);
  }
