.spectrum--light .spectrum-Tags-item {
  color: rgb(110, 110, 110);
  background-color: rgb(250, 250, 250);
  border-color: rgb(142, 142, 142);
}
.spectrum--light .spectrum-Tags-item .spectrum-Tags-itemIcon {
    color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-Tags-item:hover {
    background-color: rgb(250, 250, 250);
    color: rgb(40, 40, 40);
    border-color: rgb(40, 40, 40);
  }
.spectrum--light .spectrum-Tags-item:hover .spectrum-Tags-itemIcon {
      color: rgb(40, 40, 40);
    }
.spectrum--light .spectrum-Tags-item.focus-ring {
    background-color: rgb(250, 250, 250);
    color: rgb(40, 40, 40);
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 2px rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Tags-item.focus-ring .spectrum-Tags-itemIcon {
      color: rgb(40, 40, 40);
    }
.spectrum--light .spectrum-Tags-item.is-selected {
    background-color: rgb(110, 110, 110);
    color: rgb(255, 255, 255);
    border-color: transparent;
  }
.spectrum--light .spectrum-Tags-item.is-selected .spectrum-Tags-itemIcon {
      color: rgb(255, 255, 255);
    }
.spectrum--light .spectrum-Tags-item.is-selected:hover {
      background-color: rgb(40, 40, 40);
    }
.spectrum--light .spectrum-Tags-item.is-selected.focus-ring {
      box-shadow: 0 0 0 2px rgb(38, 128, 235);
      border-color: rgb(255, 255, 255);
    }
.spectrum--light .spectrum-Tags-item.is-selected.is-invalid {
      border-color: transparent;
      background-color: rgb(215, 55, 63);
    }
.spectrum--light .spectrum-Tags-item.is-selected.is-invalid .spectrum-Tags-itemIcon,
.spectrum--light .spectrum-Tags-item.is-selected.is-invalid .spectrum-Tags-itemLabel,
.spectrum--light .spectrum-Tags-item.is-selected.is-invalid .spectrum-Tags-itemClearButton {
        color: rgb(255, 255, 255);
      }
.spectrum--light .spectrum-Tags-item.is-selected.is-invalid.focus-ring {
        box-shadow: 0 0 0 2px rgb(38, 128, 235);
        border-color: rgb(255, 255, 255);
      }
.spectrum--light .spectrum-Tags-item.is-selected.is-invalid:hover {
        border-color: transparent;
        background-color: rgb(201, 37, 45);
      }
.spectrum--light .spectrum-Tags-item.is-selected.is-invalid:hover .spectrum-Tags-itemIcon {
          color: rgb(255, 255, 255);
        }
.spectrum--light .spectrum-Tags-item.is-invalid {
    color: rgb(215, 55, 63);
    border-color: rgb(215, 55, 63);

  }
.spectrum--light .spectrum-Tags-item.is-invalid:hover {
      color: rgb(201, 37, 45);
      border-color: rgb(201, 37, 45);
    }
.spectrum--light .spectrum-Tags-item.is-invalid:hover .spectrum-Tags-itemIcon,
.spectrum--light .spectrum-Tags-item.is-invalid:hover .spectrum-Tags-itemClearButton {
        color: rgb(201, 37, 45);
      }
.spectrum--light .spectrum-Tags-item.is-invalid.focus-ring {
      color: rgb(201, 37, 45);
      border-color: rgb(38, 128, 235);
      box-shadow: 0 0 0 2px rgb(38, 128, 235);
    }
.spectrum--light .spectrum-Tags-item.is-invalid .spectrum-Tags-itemIcon,
.spectrum--light .spectrum-Tags-item.is-invalid .spectrum-Tags-itemClearButton {
      color: rgb(215, 55, 63);
    }
.spectrum--light .spectrum-Tags-item.is-disabled {
    color: rgb(179, 179, 179);
    background-color: rgb(234, 234, 234);
    border-color: rgb(234, 234, 234);
  }
.spectrum--light .spectrum-Tags-item.is-disabled .spectrum-Avatar {
      opacity: 0.3;
    }
.spectrum--light .spectrum-Tags-item.is-disabled .spectrum-Tags-itemIcon {
      color: rgb(179, 179, 179);
    }
.spectrum--light .spectrum-Tags-item--removable:hover {
    color: rgb(40, 40, 40);
  }
.spectrum--light .spectrum-Tags-item--removable:active {
    color: rgb(110, 110, 110);
  }
.spectrum--light .spectrum-Tags-item--removable.is-invalid:hover {
      border-color: rgb(201, 37, 45);
    }
.spectrum--light .spectrum-Tags-item--removable.is-invalid:hover .spectrum-Tags-itemClearButton {
        color: rgb(201, 37, 45);
      }
.spectrum--light .spectrum-Tags-item--removable.is-invalid:active {
      border-color: rgb(187, 18, 26);
    }
.spectrum--light .spectrum-Tags-item--removable.is-focused {
    color: rgb(110, 110, 110);
  }
.spectrum--light .spectrum-Tags-item--removable.is-focused.is-invalid {
      color: rgb(110, 110, 110);
    }
.spectrum--light .spectrum-Tags-item--removable.is-selected {
    color: rgb(255, 255, 255);
  }
.spectrum--light .spectrum-Tags-item--removable.is-selected.is-focused {
       color: rgb(255, 255, 255);
    }
.spectrum--light .spectrum-Tags-item--removable.is-selected .spectrum-Tags-itemClearButton {
      color: rgb(255, 255, 255);
    }
.spectrum--light .spectrum-Tags-item--removable.is-selected .spectrum-Tags-itemClearButton:hover {
         color: rgb(255, 255, 255);
      }
.spectrum--light .spectrum-Tags-item--removable.is-selected.is-invalid:hover .spectrum-Tags-itemClearButton {
          color: rgb(255, 255, 255);
        }
.spectrum--light .spectrum-Tags-item--removable .spectrum-Tags-itemClearButton.is-focused {
      border-color: rgb(38, 128, 235);
      background-color: rgb(142, 142, 142);
      color: rgb(40, 40, 40);
    }
.spectrum--light .spectrum-Tags-item--removable .spectrum-Tags-itemClearButton:hover {
      color: rgb(40, 40, 40);
    }
.spectrum--light .spectrum-Tags-item--removable .spectrum-Tags-itemClearButton:active {
      background-color: rgb(225, 225, 225);
    }
