.spectrum--darkest .spectrum-Heading--XXXL {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading--XXL {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading--XL {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading--L {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading--M {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading--S {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading--XS {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading--XXS {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XXXL--light {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XXL--light {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XL--light {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-L--light {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XXXL--heavy {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XXL--heavy {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XL--heavy {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-L--heavy {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XXXL--heading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XXL--heading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-XL--heading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading-L--heading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Body--XXXL {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body--XXL {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body--XL {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body--L {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body--M {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body--S {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body--XS {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Detail--XL {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Detail--L {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Detail--M {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Detail--S {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Code--XL {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Code--L {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Code--M {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Code--S {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Code--XS {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body--XXXL,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body--XXXL,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body--XXXL {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body--XXL,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body--XXL,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body--XXL {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body--XL,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body--XL,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body--XL {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body--L,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body--L,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body--L {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body--M,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body--M,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body--M {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body--S,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body--S,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body--S {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body--XS,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body--XS,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body--XS {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading--XXXL,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading--XXXL,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading--XXXL {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading--XXL,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading--XXL,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading--XXL {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading--XL,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading--XL,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading--XL {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading--L,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading--L,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading--L {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading--M,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading--M,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading--M {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading--S,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading--S,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading--S {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading--XS,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading--XS,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading--XS {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading--XXS,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading--XXS,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading--XXS {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XXXL--light,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XXXL--light,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XXXL--light {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XXL--light,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XXL--light,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XXL--light {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XL--light,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XL--light,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XL--light {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-L--light,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-L--light,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-L--light {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XXXL--heavy,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XXXL--heavy,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XXXL--heavy {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XXL--heavy,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XXL--heavy,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XXL--heavy {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XL--heavy,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XL--heavy,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XL--heavy {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-L--heavy,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-L--heavy,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-L--heavy {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XXXL--heading,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XXXL--heading,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XXXL--heading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XXL--heading,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XXL--heading,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XXL--heading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-XL--heading,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-XL--heading,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-XL--heading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading-L--heading,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading-L--heading,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading-L--heading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Detail--XL,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Detail--XL,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Detail--XL {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Detail--L,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Detail--L,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Detail--L {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Detail--M,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Detail--M,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Detail--M {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Detail--S,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Detail--S,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Detail--S {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Code--XL,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Code--XL,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Code--XL {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Code--L,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Code--L,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Code--L {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Code--M,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Code--M,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Code--M {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Code--S,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Code--S,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Code--S {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Code--XS,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Code--XS,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Code--XS {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body1 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body2 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body3 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body4 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Body5 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Heading1 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading2 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading3 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading4 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading5 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading6 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Subheading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Detail {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Heading1--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading2--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading1--strong {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading2--strong {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading1--display {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading2--display {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading1--display.spectrum-Heading1--strong {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading2--display.spectrum-Heading2--strong {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading1--display.spectrum-Heading1--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Heading2--display.spectrum-Heading2--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Body1 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Article .spectrum-Body2 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Article .spectrum-Body3 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Article .spectrum-Body4 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Article .spectrum-Body5 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading1 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading2 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading3 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading4 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading5 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading6 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Subheading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Detail {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading1--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading2--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading1--display {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading2--display {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading1--display.spectrum-Heading1--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Article .spectrum-Heading2--display.spectrum-Heading2--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body1,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body1,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body1 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body2,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body2,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body2 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body3,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body3,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body3 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body4,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body4,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body4 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Body5,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Body5,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Body5 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading1,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading1,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading1 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading2,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading2,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading2 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading3,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading3,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading3 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading4,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading4,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading4 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading5,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading5,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading5 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading6,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading6,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading6 {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Subheading,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Subheading,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Subheading {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Detail,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Detail,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Detail {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading1--quiet,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading1--quiet,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading1--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading2--quiet,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading2--quiet,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading2--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading1--strong,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading1--strong,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading1--strong {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading2--strong,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading2--strong,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading2--strong {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading1--display,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading1--display,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading1--display {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading2--display,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading2--display,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading2--display {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading1--display.spectrum-Heading1--strong,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading1--display.spectrum-Heading1--strong,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading1--display.spectrum-Heading1--strong {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading2--display.spectrum-Heading2--strong,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading2--display.spectrum-Heading2--strong,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading2--display.spectrum-Heading2--strong {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading1--display.spectrum-Heading1--quiet,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading1--display.spectrum-Heading1--quiet,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading1--display.spectrum-Heading1--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum:lang(ja) .spectrum-Heading2--display.spectrum-Heading2--quiet,
.spectrum--darkest .spectrum:lang(ko) .spectrum-Heading2--display.spectrum-Heading2--quiet,
.spectrum--darkest .spectrum:lang(zh) .spectrum-Heading2--display.spectrum-Heading2--quiet {
    
    color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-Code1 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Code2 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Code3 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Code4 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Code5 {
    
    color: rgb(200, 200, 200);
  }
.spectrum--darkest ,
.spectrum--darkest .spectrum-Body {
  color: rgb(200, 200, 200);
}
.spectrum--darkest .spectrum-Body--large {
  color: rgb(200, 200, 200);
}
.spectrum--darkest .spectrum-Body--small {
  color: rgb(200, 200, 200);
}
.spectrum--darkest .spectrum-Body--secondary {
  color: rgb(162, 162, 162);
}
.spectrum--darkest .spectrum-Heading--display {
  color: rgb(239, 239, 239);
}
.spectrum--darkest .spectrum-Heading--pageTitle {
  color: rgb(162, 162, 162);
}
.spectrum--darkest .spectrum-Heading--subtitle1 {
  color: rgb(239, 239, 239);
}
.spectrum--darkest .spectrum-Heading--subtitle2 {
  color: rgb(239, 239, 239);
}
.spectrum--darkest .spectrum-Heading--subtitle3 {
  color: rgb(162, 162, 162);
}
