.spectrum--dark .spectrum-Thumbnail {
  background-color: rgb(255, 255, 255);
  background-image:
    linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
    linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
    linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
}
.spectrum--dark .spectrum-Thumbnail:before {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.5);
  }
.spectrum--dark .spectrum-Thumbnail.is-selected {
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }
.spectrum--dark .spectrum-Thumbnail.is-selected:before {
      box-shadow: inset 0 0 0 1px rgb(55, 142, 240);
    }
.spectrum--dark .spectrum-Thumbnail.is-focused,
.spectrum--dark .spectrum-Thumbnail.focus-ring {
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum--dark .spectrum-Thumbnail.is-focused:before,
.spectrum--dark .spectrum-Thumbnail.focus-ring:before {
      box-shadow: inset 0 0 0 1px rgb(55, 142, 240);
    }
