.spectrum--large .spectrum-Slider,
.spectrum--large .spectrum-Dial {
  min-height: 40px;
  min-width: 125px;
}
.spectrum--large .spectrum-Slider-controls,
.spectrum--large .spectrum-Dial-controls {
  width: calc(100% - 20px);
  margin-left: 10px;
  min-height: 40px;
}
.spectrum--large .spectrum-Slider-track,
.spectrum--large .spectrum-Slider-buffer,
.spectrum--large .spectrum-Slider-ramp,
.spectrum--large .spectrum-Slider-fill {
  height: 2px;
  top: 20px;

  margin-top: -1px;
}
.spectrum--large .spectrum-Slider-track,
.spectrum--large .spectrum-Slider-buffer,
.spectrum--large .spectrum-Slider-fill {
  padding: 0 4px 0 0;
  margin-left: -10px;
}
.spectrum--large .spectrum-Slider-track::before, .spectrum--large .spectrum-Slider-buffer::before, .spectrum--large .spectrum-Slider-fill::before {

    border-radius: 1px;
  }
.spectrum--large .spectrum-Slider-fill {
  padding: 0 0 0 14px;
}
.spectrum--large .spectrum-Slider-fill--right {
  padding: 0 14px 0 0;
}
.spectrum--large .spectrum-Slider-buffer {
  padding: 0 4px 0 0;
}
.spectrum--large .spectrum-Slider-track ~ .spectrum-Slider-track,
.spectrum--large .spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  right: 0;
  padding: 0 0 0 4px;
  margin-left: 0;
  margin-right: -10px;
}
.spectrum--large .spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-right: 0;
  padding: 0 0 0 14px
}
.spectrum--large .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      padding: 0 4px 0 0;
      left: 0;
      margin-left: -10px;
    }
.spectrum--large .spectrum-Slider--range .spectrum-Slider-track {
      padding: 0 14px 0 14px;
      margin: 0;
    }
.spectrum--large .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      padding: 0 0 0 4px;
      right: 0;
      margin-right: -10px;
    }
.spectrum--large .spectrum-Slider-ramp {
  margin-top: 0;
  height: 16px;
  left: -10px;
  right: -10px;
  top: 8px
}
.spectrum--large .spectrum-Slider-handle,
.spectrum--large .spectrum-Dial-handle {
  top: 20px;

  width: 20px;
  height: 20px;

  margin: -10px 0 0 -10px;

  border-width: 2px;

  border-radius: 10px;

  transition: border-width 130ms ease-in-out;
}
.spectrum--large .spectrum-Slider-handle:active,
.spectrum--large .spectrum-Slider-handle.is-focused,
.spectrum--large .spectrum-Slider-handle.is-dragged,
.spectrum--large .spectrum-Dial-handle:active {
    border-width: 8px;
  }
.spectrum--large .spectrum-Slider-input,
.spectrum--large .spectrum-Dial-input {

  width: 20px;
  height: 20px;
  top: -2.5px;
  left: -2.5px
}
.spectrum--large .spectrum-Slider-labelContainer,
.spectrum--large .spectrum-Dial-labelContainer {

  padding-top: 5px;

  font-size: 15px;
  line-height: 1.3;
}
.spectrum--large .spectrum-Slider-value {
  margin-left: 20px;
}
.spectrum--large .spectrum-Slider-ticks {

  margin: 0 -10px;
  margin-top: 11px;
}
.spectrum--large .spectrum-Slider-tick {

  width: 2px;
}
.spectrum--large .spectrum-Slider-tick:after {
    left: calc(50% - 1px);
    width: 2px;
    height: 10px;

    border-radius: 1px;
  }
.spectrum--large .spectrum-Slider-tick .spectrum-Slider-tickLabel {

    margin: 20px -20px 0 -20px;

    font-size: 15px;
    line-height: 1.3;
  }
.spectrum--large .spectrum-Slider-tick:first-of-type .spectrum-Slider-tickLabel, .spectrum--large .spectrum-Slider-tick:last-of-type .spectrum-Slider-tickLabel {
      margin: 20px 0 0 0;
    }
.spectrum--large .spectrum-Slider--color .spectrum-Slider-labelContainer,
.spectrum--large .spectrum-Slider--color .spectrum-Dial-labelContainer {
    padding-bottom: 6px;
  }
.spectrum--large .spectrum-Slider--color .spectrum-Slider-controls,
.spectrum--large .spectrum-Slider--color .spectrum-Slider-controls::before,
.spectrum--large .spectrum-Slider--color .spectrum-Slider-track,
.spectrum--large .spectrum-Slider--color .spectrum-Dial-controls,
.spectrum--large .spectrum-Slider--color .spectrum-Dial-controls::before {
    min-height: auto;
    height: 24px;
    margin-left: 0;
  }
.spectrum--large .spectrum-Slider--color .spectrum-Slider-controls::before,
.spectrum--large .spectrum-Slider--color .spectrum-Slider-track,
.spectrum--large .spectrum-Slider--color .spectrum-Dial-controls::before {
    top: 0;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    border-radius: 5px;
  }
.spectrum--large .spectrum-Slider--color .spectrum-Slider-handle,
.spectrum--large .spectrum-Slider--color .spectrum-Dial-handle {
    top: 50%;
  }
.spectrum--large .spectrum-Dial {
  min-width: 0;
  min-height: 0;
  width: 48px;
}
.spectrum--large .spectrum-Dial-labelContainer {
  margin-bottom: 6px;
}
.spectrum--large .spectrum-Dial-controls {
  width: 40px;
  height: 40px;
  min-height: 0;

  border-radius: 20px;
  margin: 0;
}
.spectrum--large .spectrum-Dial-controls::before,
  .spectrum--large .spectrum-Dial-controls::after {
    width: 4px;
    height: 2px;
    border-radius: 1px;
  }
.spectrum--large .spectrum-Dial-controls::before {
    right: -2px;
    transform: rotate(45deg);
  }
.spectrum--large .spectrum-Dial-controls::after {
    left: -2px;
    transform: rotate(-45deg);
  }
.spectrum--large .spectrum-Dial-handle {
  width: 100%;
  height: 100%;
  border-width: 2px;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  border-radius: 20px;
  transform: rotate(-45deg);

  transition: background-color 130ms ease-in-out;
}
.spectrum--large .spectrum-Dial-handle::after {
    left: -2px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    transition: background-color 130ms ease-in-out;
  }
.spectrum--large .spectrum-Dial-handle:active,
  .spectrum--large .spectrum-Dial-handle.is-focused,
  .spectrum--large .spectrum-Dial-handle.is-dragged {
    border-width: 2px;
  }
.spectrum--large .spectrum-Dial-input {
  width: 100%;
  height: 100%;
}
.spectrum--large .spectrum-Dial--small .spectrum-Dial-controls {
    width: 24px;
    height: 24px;
  }
.spectrum--large .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum--large .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active,
.spectrum--large .spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum--large .spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active,
.spectrum--large .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:hover,
.spectrum--large .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:active,
.spectrum--large .spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:hover,
.spectrum--large .spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:active {
          border-width: 1px;
        }
.spectrum-Slider,
.spectrum-Dial {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 32px;
  min-width: 100px;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
}
.spectrum-Slider-controls,
.spectrum-Dial-controls {
  display: inline-block;
  box-sizing: border-box;

  position: relative;
  z-index: auto;
  width: calc(100% - 16px);
  margin-left: 8px;
  min-height: 32px;

  vertical-align: top;
}
.spectrum-Slider-track,
.spectrum-Slider-buffer,
.spectrum-Slider-ramp,
.spectrum-Slider-fill {
  height: 2px;
  box-sizing: border-box;

  position: absolute;
  z-index: 1;
  top: 16px;
  left: 0;
  right: auto;

  margin-top: -1px;

  pointer-events: none;
}
.spectrum-Slider-track,
.spectrum-Slider-buffer,
.spectrum-Slider-fill {
  padding: 0 4px 0 0;
  margin-left: -8px;
}
.spectrum-Slider-track::before, .spectrum-Slider-buffer::before, .spectrum-Slider-fill::before {
    content: '';
    display: block;
    height: 100%;

    border-radius: 1px;
  }
.spectrum-Slider-fill {
  margin-left: 0;
  padding: 0 0 0 12px;
}
.spectrum-Slider-fill--right {
  padding: 0 12px 0 0;
}
.spectrum-Slider-buffer {
  padding: 0 4px 0 0;
}
.spectrum-Slider-track ~ .spectrum-Slider-track,
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  left: auto;
  right: 0;
  padding: 0 0 0 4px;
  margin-left: 0;
  margin-right: -8px;
}
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-right: 0;
  padding: 0 0 0 12px;
}
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer:after {
    display: none;
  }
.spectrum-Slider--range .spectrum-Slider-value {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
  }
.spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      padding: 0 4px 0 0;
      left: 0;
      right: auto;
      margin-left: -8px;
    }
.spectrum-Slider--range .spectrum-Slider-track {
      padding: 0 12px 0 12px;
      left: auto;
      right: auto;
      margin: 0;
    }
.spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      padding: 0 0 0 4px;
      left: auto;
      right: 0;
      margin-right: -8px;
    }
.spectrum-Slider-buffer {
  z-index: 2;
}
.spectrum-Slider-ramp {
  margin-top: 0;
  height: 16px;

  position: absolute;
  left: -8px;
  right: -8px;
  top: 8px;
}
.spectrum-Slider-ramp svg {
    width: 100%;
    height: 100%;
  }
.spectrum-Slider-handle,
.spectrum-Dial-handle {
  position: absolute;
  left: 0;
  top: 16px;
  z-index: 2;

  display: inline-block;
  box-sizing: border-box;

  width: 16px;
  height: 16px;

  margin: -8px 0 0 -8px;

  border-width: 2px;
  border-style: solid;

  border-radius: 8px;

  transition: border-width 130ms ease-in-out;

  outline: none;
  cursor: pointer;
  cursor: grab;
}
.spectrum-Slider-handle:active,
.spectrum-Slider-handle.is-focused,
.spectrum-Slider-handle.is-dragged,
.spectrum-Dial-handle:active {
    border-width: 6px;
    cursor: ns-resize;
    cursor: grabbing;
  }
.spectrum-Slider-handle:active,
.spectrum-Slider-handle.is-focused,
.spectrum-Slider-handle.is-dragged,
.spectrum-Slider-handle.is-tophandle,
.spectrum-Dial-handle:active {
    z-index: 3;
  }
.spectrum-Slider-input,
.spectrum-Dial-input {
  margin: 0;

  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  top: -2px;
  left: -2px;
  overflow: hidden;
  opacity: .000001;
  cursor: default;
  -webkit-appearance: none;
  border: 0;
  pointer-events: none;
}
.spectrum-Slider-input:focus,
.spectrum-Dial-input:focus {
    outline: none;
  }
.spectrum-Slider-labelContainer,
.spectrum-Dial-labelContainer {
  display: -ms-flexbox;
  display: flex;
  position: relative;

  width: auto;

  padding-top: 4px;

  font-size: 12px;
  line-height: 1.3;
}
.spectrum-Slider-label,
.spectrum-Dial-label {
  padding-left: 0;
  -ms-flex-positive: 1;
      flex-grow: 1;
}
.spectrum-Slider-value,
.spectrum-Dial-value {
  -ms-flex-positive: 0;
      flex-grow: 0;
  padding-right: 0;
  cursor: default;
}
.spectrum-Slider-value {
  margin-left: 16px;
}
.spectrum-Slider-ticks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;

  z-index: 0;

  margin: 0 -8px;
  margin-top: 11px;
}
.spectrum-Slider-tick {
  position: relative;

  width: 2px;
}
.spectrum-Slider-tick:after {
    display: block;
    position: absolute;
    top: 0;
    left: calc(50% - 1px);
    content: '';
    width: 2px;
    height: 10px;

    border-radius: 1px;
  }
.spectrum-Slider-tick .spectrum-Slider-tickLabel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;

    margin: 16px -16px 0 -16px;

    font-size: 12px;
    line-height: 1.3;
  }
.spectrum-Slider-tick:first-of-type .spectrum-Slider-tickLabel, .spectrum-Slider-tick:last-of-type .spectrum-Slider-tickLabel {
      display: block;
      position: absolute;
      margin: 16px 0 0 0;
    }
.spectrum-Slider-tick:first-of-type .spectrum-Slider-tickLabel {
      left: 0;
    }
.spectrum-Slider-tick:last-of-type .spectrum-Slider-tickLabel {
      right: 0;
    }
.spectrum-Slider--color .spectrum-Slider-labelContainer,
.spectrum-Slider--color .spectrum-Dial-labelContainer {
    padding-bottom: 5px;
  }
.spectrum-Slider--color .spectrum-Slider-controls,
.spectrum-Slider--color .spectrum-Slider-controls::before,
.spectrum-Slider--color .spectrum-Slider-track,
.spectrum-Slider--color .spectrum-Dial-controls,
.spectrum-Slider--color .spectrum-Dial-controls::before {
    min-height: auto;
    height: 24px;
    margin-left: 0;
    width: 100%;
  }
.spectrum-Slider--color .spectrum-Slider-controls::before,
.spectrum-Slider--color .spectrum-Dial-controls::before {
    display: block;
    content: '';
  }
.spectrum-Slider--color .spectrum-Slider-controls::before,
.spectrum-Slider--color .spectrum-Slider-track,
.spectrum-Slider--color .spectrum-Dial-controls::before {
    top: 0;
    padding: 0;
    margin-top: 0;
    margin-right: 0;
    border-radius: 4px;
  }
.spectrum-Slider--color .spectrum-Slider-handle,
.spectrum-Slider--color .spectrum-Dial-handle {
    top: 50%;
  }
.spectrum-Dial {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;

  height: auto;
  min-width: 0;
  min-height: 0;
  width: 48px;
}
.spectrum-Dial-labelContainer {
  margin-bottom: 5px;
}
.spectrum-Dial-label:only-child {
    text-align: center;
  }
.spectrum-Dial-controls {
  width: 32px;
  height: 32px;
  min-height: 0;

  border-radius: 16px;
  position: relative;
  display: inline-block;
  margin: 0;

  box-sizing: border-box;
  outline: none;
}
.spectrum-Dial-controls::before,
  .spectrum-Dial-controls::after {
    content: '';
    width: 4px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    bottom: 0;
  }
.spectrum-Dial-controls::before {
    left: auto;
    right: -2px;
    transform: rotate(45deg);
  }
.spectrum-Dial-controls::after {
    left: -2px;
    transform: rotate(-45deg);
  }
.spectrum-Dial-handle {
  width: 100%;
  height: 100%;
  border-width: 2px;
  box-shadow: none;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  border-radius: 16px;
  transform: rotate(-45deg);
  cursor: pointer;
  cursor: grab;

  transition: background-color 130ms ease-in-out;
}
.spectrum-Dial-handle::after {
    content: '';
    position: absolute;
    top: 50%;
    left: -2px;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    transform: translateY(-50%);
    transition: background-color 130ms ease-in-out;
  }
.spectrum-Dial-handle:active,
  .spectrum-Dial-handle.is-focused,
  .spectrum-Dial-handle.is-dragged {
    border-width: 2px;
    cursor: ns-resize;
    cursor: grabbing;
  }
.spectrum-Dial-input {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.spectrum-Dial--small .spectrum-Dial-controls {
    width: 24px;
    height: 24px;
  }
.spectrum-Slider.is-disabled, .spectrum-Dial.is-disabled {
    cursor: default;
  }
.spectrum-Slider.is-disabled .spectrum-Slider-handle,
.spectrum-Dial.is-disabled .spectrum-Slider-handle,
.spectrum-Slider.is-disabled .spectrum-Dial-handle,
.spectrum-Dial.is-disabled .spectrum-Dial-handle {
      cursor: default;
      pointer-events: none;
    }
.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active,
.spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active,
.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:hover,
.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:active,
.spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:hover,
.spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:active {
          border-width: 1px;
        }
.u-isGrabbing {
  cursor: ns-resize;
  cursor: grabbing;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.u-isGrabbing .spectrum-Dial .spectrum-Dial-label,
    .u-isGrabbing .spectrum-Dial .spectrum-Dial-value {
      cursor: inherit;
    }
.u-isGrabbing .spectrum-Slider .spectrum-Slider-label,
.u-isGrabbing .spectrum-Slider .spectrum-Slider-value,
.u-isGrabbing .spectrum-Dial .spectrum-Slider-label,
.u-isGrabbing .spectrum-Dial .spectrum-Slider-value {
      cursor: inherit;
    }
.spectrum--dark .spectrum-Slider-track::before {
    background: rgb(74, 74, 74);
  }
.spectrum--dark .spectrum-Slider-labelContainer,
.spectrum--dark .spectrum-Dial-labelContainer {
  color: rgb(185, 185, 185);
}
.spectrum--dark .spectrum-Slider--filled .spectrum-Slider-track:first-child::before {
      background: rgb(185, 185, 185);
    }
.spectrum--dark .spectrum-Slider-fill::before {
    background: rgb(185, 185, 185);
  }
.spectrum--dark .spectrum-Slider-buffer::before,
.spectrum--dark .spectrum-Slider-buffer::after {
    background: rgb(110, 110, 110);
  }
.spectrum--dark .spectrum-Slider-ramp path {
    fill: rgb(74, 74, 74);
  }
.spectrum--dark .spectrum-Slider-handle {
  border-color: rgb(185, 185, 185);
  background: rgb(50, 50, 50);
}
.spectrum--dark .spectrum-Slider-handle:hover {
    border-color: rgb(227, 227, 227);
  }
.spectrum--dark .spectrum-Slider-handle.is-focused {
    border-color: rgb(38, 128, 235);
  }
.spectrum--dark .spectrum-Slider-handle:active,
.spectrum--dark .spectrum-Slider-handle.is-dragged {
    border-color: rgb(227, 227, 227);
  }
.spectrum--dark .spectrum-Slider--ramp .spectrum-Slider-handle {
    box-shadow: 0 0 0 4px rgb(50, 50, 50);
  }
.spectrum--dark .spectrum-Slider-input {
  background: transparent;
}
.spectrum--dark .spectrum-Slider-tick:after {
    background-color: rgb(74, 74, 74);
  }
.spectrum--dark .spectrum-Slider-handle.is-focused {
    border-color: rgb(38, 128, 235);
    background: rgb(38, 128, 235);
  }
.spectrum--dark .spectrum-Slider-handle.is-dragged {
    border-color: rgb(227, 227, 227);
    background: transparent;
  }
.spectrum--dark .spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before {
        background: rgb(185, 185, 185);
      }
.spectrum--dark .spectrum-Slider--color .spectrum-Slider-controls::before {
    background-color: rgb(255, 255, 255);
    background-image:
      linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
      linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
      linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
      linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
    background-size:
      16px
      16px;
    background-position:
      0 0,
      0 8px,
      8px -8px,
      -8px 0;
    z-index: 0;
  }
.spectrum--dark .spectrum-Slider--color .spectrum-Slider-track {
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(38, 128, 235), rgb(90, 169, 250));
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
  }
.spectrum--dark .spectrum-Slider--color .spectrum-Slider-track::before {
      display: none;
    }
.spectrum--dark .spectrum-Slider--color .spectrum-Slider-handle {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05);
    border-color: rgb(37, 37, 37);
    background: transparent;
  }
.spectrum--dark .spectrum-Slider--color .spectrum-Slider-handle.is-focused {
      box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    }
.spectrum--dark .spectrum-Dial-handle {
  box-shadow: none;
}
.spectrum--dark .spectrum-Dial-handle::after {
    background-color: rgb(185, 185, 185);
  }
.spectrum--dark .spectrum-Dial-handle:hover::after {
      background-color: rgb(227, 227, 227);
    }
.spectrum--dark .spectrum-Dial-handle.is-focused {
    background-color: rgb(38, 128, 235);

    border-color: rgb(38, 128, 235);
  }
.spectrum--dark .spectrum-Dial-handle.is-focused::after {
      background-color: rgb(37, 37, 37);
    }
.spectrum--dark .spectrum-Dial-handle:active,
.spectrum--dark .spectrum-Dial-handle.is-dragged {
    background-color: rgb(227, 227, 227);

    border-color: rgb(227, 227, 227);
  }
.spectrum--dark .spectrum-Dial-handle:active::after,
.spectrum--dark .spectrum-Dial-handle.is-dragged::after {
      background-color: rgb(37, 37, 37);
    }
.spectrum--dark .spectrum-Dial-controls::before,
.spectrum--dark .spectrum-Dial-controls::after {
    background-color: rgb(144, 144, 144);
  }
.spectrum--dark .spectrum-Dial.is-disabled .spectrum-Dial-labelContainer {
      color: rgb(110, 110, 110);
    }
.spectrum--dark .spectrum-Dial.is-disabled .spectrum-Dial-controls::after,
.spectrum--dark .spectrum-Dial.is-disabled .spectrum-Dial-controls::before {
        background-color: rgb(90, 90, 90);
      }
.spectrum--dark .spectrum-Dial.is-disabled .spectrum-Dial-handle {
      border-color: rgb(90, 90, 90);
      background: rgb(50, 50, 50);
    }
.spectrum--dark .spectrum-Dial.is-disabled .spectrum-Dial-handle:hover,
.spectrum--dark .spectrum-Dial.is-disabled .spectrum-Dial-handle:active {
        border-color: rgb(90, 90, 90);
        background: transparent;
      }
.spectrum--dark .spectrum-Dial.is-disabled .spectrum-Dial-handle::after,
.spectrum--dark .spectrum-Dial.is-disabled .spectrum-Dial-handle::before {
        background-color: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-labelContainer,
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Dial-labelContainer {
      color: rgb(110, 110, 110);
    }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-handle {
      border-color: rgb(90, 90, 90);
      background: rgb(50, 50, 50);
    }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-handle:hover,
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-handle:active {
        border-color: rgb(90, 90, 90);
        background: transparent;
      }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-track::before {
        background: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--filled .spectrum-Slider-track:first-child::before {
          background: rgb(74, 74, 74);
        }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-fill::before {
        background: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-buffer::before {
        background: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-Slider.is-disabled .spectrum-Slider-ramp path {
        fill: rgb(62, 62, 62);
      }
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-track {
        background: rgb(62, 62, 62) !important;
        box-shadow: none;
      }
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle {
        background: transparent;
        box-shadow: none;
        border-color: rgb(90, 90, 90);
      }
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active {
          background: transparent;
          box-shadow: none;
          border-color: rgb(90, 90, 90);
        }
.spectrum--dark .spectrum-Slider.is-disabled.spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before {
            background: rgb(74, 74, 74);
          }
.spectrum--darkest .spectrum-Slider-track::before {
    background: rgb(57, 57, 57);
  }
.spectrum--darkest .spectrum-Slider-labelContainer,
.spectrum--darkest .spectrum-Dial-labelContainer {
  color: rgb(162, 162, 162);
}
.spectrum--darkest .spectrum-Slider--filled .spectrum-Slider-track:first-child::before {
      background: rgb(162, 162, 162);
    }
.spectrum--darkest .spectrum-Slider-fill::before {
    background: rgb(162, 162, 162);
  }
.spectrum--darkest .spectrum-Slider-buffer::before,
.spectrum--darkest .spectrum-Slider-buffer::after {
    background: rgb(92, 92, 92);
  }
.spectrum--darkest .spectrum-Slider-ramp path {
    fill: rgb(57, 57, 57);
  }
.spectrum--darkest .spectrum-Slider-handle {
  border-color: rgb(162, 162, 162);
  background: rgb(30, 30, 30);
}
.spectrum--darkest .spectrum-Slider-handle:hover {
    border-color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Slider-handle.is-focused {
    border-color: rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-Slider-handle:active,
.spectrum--darkest .spectrum-Slider-handle.is-dragged {
    border-color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Slider--ramp .spectrum-Slider-handle {
    box-shadow: 0 0 0 4px rgb(30, 30, 30);
  }
.spectrum--darkest .spectrum-Slider-input {
  background: transparent;
}
.spectrum--darkest .spectrum-Slider-tick:after {
    background-color: rgb(57, 57, 57);
  }
.spectrum--darkest .spectrum-Slider-handle.is-focused {
    border-color: rgb(20, 115, 230);
    background: rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-Slider-handle.is-dragged {
    border-color: rgb(200, 200, 200);
    background: transparent;
  }
.spectrum--darkest .spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before {
        background: rgb(162, 162, 162);
      }
.spectrum--darkest .spectrum-Slider--color .spectrum-Slider-controls::before {
    background-color: rgb(255, 255, 255);
    background-image:
      linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
      linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
      linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
      linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
    background-size:
      16px
      16px;
    background-position:
      0 0,
      0 8px,
      8px -8px,
      -8px 0;
    z-index: 0;
  }
.spectrum--darkest .spectrum-Slider--color .spectrum-Slider-track {
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(20, 115, 230), rgb(75, 156, 245));
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
  }
.spectrum--darkest .spectrum-Slider--color .spectrum-Slider-track::before {
      display: none;
    }
.spectrum--darkest .spectrum-Slider--color .spectrum-Slider-handle {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05);
    border-color: rgb(8, 8, 8);
    background: transparent;
  }
.spectrum--darkest .spectrum-Slider--color .spectrum-Slider-handle.is-focused {
      box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    }
.spectrum--darkest .spectrum-Dial-handle {
  box-shadow: none;
}
.spectrum--darkest .spectrum-Dial-handle::after {
    background-color: rgb(162, 162, 162);
  }
.spectrum--darkest .spectrum-Dial-handle:hover::after {
      background-color: rgb(200, 200, 200);
    }
.spectrum--darkest .spectrum-Dial-handle.is-focused {
    background-color: rgb(20, 115, 230);

    border-color: rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-Dial-handle.is-focused::after {
      background-color: rgb(8, 8, 8);
    }
.spectrum--darkest .spectrum-Dial-handle:active,
.spectrum--darkest .spectrum-Dial-handle.is-dragged {
    background-color: rgb(200, 200, 200);

    border-color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-Dial-handle:active::after,
.spectrum--darkest .spectrum-Dial-handle.is-dragged::after {
      background-color: rgb(8, 8, 8);
    }
.spectrum--darkest .spectrum-Dial-controls::before,
.spectrum--darkest .spectrum-Dial-controls::after {
    background-color: rgb(124, 124, 124);
  }
.spectrum--darkest .spectrum-Dial.is-disabled .spectrum-Dial-labelContainer {
      color: rgb(92, 92, 92);
    }
.spectrum--darkest .spectrum-Dial.is-disabled .spectrum-Dial-controls::after,
.spectrum--darkest .spectrum-Dial.is-disabled .spectrum-Dial-controls::before {
        background-color: rgb(73, 73, 73);
      }
.spectrum--darkest .spectrum-Dial.is-disabled .spectrum-Dial-handle {
      border-color: rgb(73, 73, 73);
      background: rgb(30, 30, 30);
    }
.spectrum--darkest .spectrum-Dial.is-disabled .spectrum-Dial-handle:hover,
.spectrum--darkest .spectrum-Dial.is-disabled .spectrum-Dial-handle:active {
        border-color: rgb(73, 73, 73);
        background: transparent;
      }
.spectrum--darkest .spectrum-Dial.is-disabled .spectrum-Dial-handle::after,
.spectrum--darkest .spectrum-Dial.is-disabled .spectrum-Dial-handle::before {
        background-color: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Slider-labelContainer,
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Dial-labelContainer {
      color: rgb(92, 92, 92);
    }
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Slider-handle {
      border-color: rgb(73, 73, 73);
      background: rgb(30, 30, 30);
    }
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Slider-handle:hover,
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Slider-handle:active {
        border-color: rgb(73, 73, 73);
        background: transparent;
      }
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Slider-track::before {
        background: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-Slider.is-disabled.spectrum-Slider--filled .spectrum-Slider-track:first-child::before {
          background: rgb(57, 57, 57);
        }
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Slider-fill::before {
        background: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Slider-buffer::before {
        background: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-Slider.is-disabled .spectrum-Slider-ramp path {
        fill: rgb(44, 44, 44);
      }
.spectrum--darkest .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-track {
        background: rgb(44, 44, 44) !important;
        box-shadow: none;
      }
.spectrum--darkest .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle {
        background: transparent;
        box-shadow: none;
        border-color: rgb(73, 73, 73);
      }
.spectrum--darkest .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum--darkest .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active {
          background: transparent;
          box-shadow: none;
          border-color: rgb(73, 73, 73);
        }
.spectrum--darkest .spectrum-Slider.is-disabled.spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before {
            background: rgb(57, 57, 57);
          }
.spectrum--light .spectrum-Slider-track::before {
    background: rgb(225, 225, 225);
  }
.spectrum--light .spectrum-Slider-labelContainer,
.spectrum--light .spectrum-Dial-labelContainer {
  color: rgb(110, 110, 110);
}
.spectrum--light .spectrum-Slider--filled .spectrum-Slider-track:first-child::before {
      background: rgb(110, 110, 110);
    }
.spectrum--light .spectrum-Slider-fill::before {
    background: rgb(110, 110, 110);
  }
.spectrum--light .spectrum-Slider-buffer::before,
.spectrum--light .spectrum-Slider-buffer::after {
    background: rgb(179, 179, 179);
  }
.spectrum--light .spectrum-Slider-ramp path {
    fill: rgb(225, 225, 225);
  }
.spectrum--light .spectrum-Slider-handle {
  border-color: rgb(110, 110, 110);
  background: rgb(245, 245, 245);
}
.spectrum--light .spectrum-Slider-handle:hover {
    border-color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Slider-handle.is-focused {
    border-color: rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Slider-handle:active,
.spectrum--light .spectrum-Slider-handle.is-dragged {
    border-color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Slider--ramp .spectrum-Slider-handle {
    box-shadow: 0 0 0 4px rgb(245, 245, 245);
  }
.spectrum--light .spectrum-Slider-input {
  background: transparent;
}
.spectrum--light .spectrum-Slider-tick:after {
    background-color: rgb(225, 225, 225);
  }
.spectrum--light .spectrum-Slider-handle.is-focused {
    border-color: rgb(38, 128, 235);
    background: rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Slider-handle.is-dragged {
    border-color: rgb(75, 75, 75);
    background: transparent;
  }
.spectrum--light .spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before {
        background: rgb(110, 110, 110);
      }
.spectrum--light .spectrum-Slider--color .spectrum-Slider-controls::before {
    background-color: rgb(255, 255, 255);
    background-image:
      linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
      linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
      linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
      linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
    background-size:
      16px
      16px;
    background-position:
      0 0,
      0 8px,
      8px -8px,
      -8px 0;
    z-index: 0;
  }
.spectrum--light .spectrum-Slider--color .spectrum-Slider-track {
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(38, 128, 235), rgb(9, 90, 186));
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
  }
.spectrum--light .spectrum-Slider--color .spectrum-Slider-track::before {
      display: none;
    }
.spectrum--light .spectrum-Slider--color .spectrum-Slider-handle {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05);
    border-color: rgb(255, 255, 255);
    background: transparent;
  }
.spectrum--light .spectrum-Slider--color .spectrum-Slider-handle.is-focused {
      box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    }
.spectrum--light .spectrum-Dial-handle {
  box-shadow: none;
}
.spectrum--light .spectrum-Dial-handle::after {
    background-color: rgb(110, 110, 110);
  }
.spectrum--light .spectrum-Dial-handle:hover::after {
      background-color: rgb(75, 75, 75);
    }
.spectrum--light .spectrum-Dial-handle.is-focused {
    background-color: rgb(38, 128, 235);

    border-color: rgb(38, 128, 235);
  }
.spectrum--light .spectrum-Dial-handle.is-focused::after {
      background-color: rgb(255, 255, 255);
    }
.spectrum--light .spectrum-Dial-handle:active,
.spectrum--light .spectrum-Dial-handle.is-dragged {
    background-color: rgb(75, 75, 75);

    border-color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-Dial-handle:active::after,
.spectrum--light .spectrum-Dial-handle.is-dragged::after {
      background-color: rgb(255, 255, 255);
    }
.spectrum--light .spectrum-Dial-controls::before,
.spectrum--light .spectrum-Dial-controls::after {
    background-color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-Dial.is-disabled .spectrum-Dial-labelContainer {
      color: rgb(179, 179, 179);
    }
.spectrum--light .spectrum-Dial.is-disabled .spectrum-Dial-controls::after,
.spectrum--light .spectrum-Dial.is-disabled .spectrum-Dial-controls::before {
        background-color: rgb(202, 202, 202);
      }
.spectrum--light .spectrum-Dial.is-disabled .spectrum-Dial-handle {
      border-color: rgb(202, 202, 202);
      background: rgb(245, 245, 245);
    }
.spectrum--light .spectrum-Dial.is-disabled .spectrum-Dial-handle:hover,
.spectrum--light .spectrum-Dial.is-disabled .spectrum-Dial-handle:active {
        border-color: rgb(202, 202, 202);
        background: transparent;
      }
.spectrum--light .spectrum-Dial.is-disabled .spectrum-Dial-handle::after,
.spectrum--light .spectrum-Dial.is-disabled .spectrum-Dial-handle::before {
        background-color: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Slider-labelContainer,
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Dial-labelContainer {
      color: rgb(179, 179, 179);
    }
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Slider-handle {
      border-color: rgb(202, 202, 202);
      background: rgb(245, 245, 245);
    }
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Slider-handle:hover,
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Slider-handle:active {
        border-color: rgb(202, 202, 202);
        background: transparent;
      }
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Slider-track::before {
        background: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-Slider.is-disabled.spectrum-Slider--filled .spectrum-Slider-track:first-child::before {
          background: rgb(225, 225, 225);
        }
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Slider-fill::before {
        background: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Slider-buffer::before {
        background: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-Slider.is-disabled .spectrum-Slider-ramp path {
        fill: rgb(234, 234, 234);
      }
.spectrum--light .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-track {
        background: rgb(234, 234, 234) !important;
        box-shadow: none;
      }
.spectrum--light .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle {
        background: transparent;
        box-shadow: none;
        border-color: rgb(202, 202, 202);
      }
.spectrum--light .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum--light .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active {
          background: transparent;
          box-shadow: none;
          border-color: rgb(202, 202, 202);
        }
.spectrum--light .spectrum-Slider.is-disabled.spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before {
            background: rgb(225, 225, 225);
          }
.spectrum--lightest .spectrum-Slider-track::before {
    background: rgb(234, 234, 234);
  }
.spectrum--lightest .spectrum-Slider-labelContainer,
.spectrum--lightest .spectrum-Dial-labelContainer {
  color: rgb(116, 116, 116);
}
.spectrum--lightest .spectrum-Slider--filled .spectrum-Slider-track:first-child::before {
      background: rgb(116, 116, 116);
    }
.spectrum--lightest .spectrum-Slider-fill::before {
    background: rgb(116, 116, 116);
  }
.spectrum--lightest .spectrum-Slider-buffer::before,
.spectrum--lightest .spectrum-Slider-buffer::after {
    background: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Slider-ramp path {
    fill: rgb(234, 234, 234);
  }
.spectrum--lightest .spectrum-Slider-handle {
  border-color: rgb(116, 116, 116);
  background: rgb(255, 255, 255);
}
.spectrum--lightest .spectrum-Slider-handle:hover {
    border-color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Slider-handle.is-focused {
    border-color: rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-Slider-handle:active,
.spectrum--lightest .spectrum-Slider-handle.is-dragged {
    border-color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Slider--ramp .spectrum-Slider-handle {
    box-shadow: 0 0 0 4px rgb(255, 255, 255);
  }
.spectrum--lightest .spectrum-Slider-input {
  background: transparent;
}
.spectrum--lightest .spectrum-Slider-tick:after {
    background-color: rgb(234, 234, 234);
  }
.spectrum--lightest .spectrum-Slider-handle.is-focused {
    border-color: rgb(55, 142, 240);
    background: rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-Slider-handle.is-dragged {
    border-color: rgb(80, 80, 80);
    background: transparent;
  }
.spectrum--lightest .spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before {
        background: rgb(116, 116, 116);
      }
.spectrum--lightest .spectrum-Slider--color .spectrum-Slider-controls::before {
    background-color: rgb(255, 255, 255);
    background-image:
      linear-gradient(-45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
      linear-gradient(45deg, transparent 75.5%, rgb(188, 188, 188) 75.5%),
      linear-gradient(-45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%),
      linear-gradient(45deg, rgb(188, 188, 188) 25.5%, transparent 25.5%);
    background-size:
      16px
      16px;
    background-position:
      0 0,
      0 8px,
      8px -8px,
      -8px 0;
    z-index: 0;
  }
.spectrum--lightest .spectrum-Slider--color .spectrum-Slider-track {
    background-color: transparent;
    background-image: linear-gradient(to right, rgb(55, 142, 240), rgb(13, 102, 208));
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05);
  }
.spectrum--lightest .spectrum-Slider--color .spectrum-Slider-track::before {
      display: none;
    }
.spectrum--lightest .spectrum-Slider--color .spectrum-Slider-handle {
    box-shadow: inset 0 0 0 1px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.05);
    border-color: rgb(255, 255, 255);
    background: transparent;
  }
.spectrum--lightest .spectrum-Slider--color .spectrum-Slider-handle.is-focused {
      box-shadow: 0 0 0 1px rgba(0,0,0,0.05);
    }
.spectrum--lightest .spectrum-Dial-handle {
  box-shadow: none;
}
.spectrum--lightest .spectrum-Dial-handle::after {
    background-color: rgb(116, 116, 116);
  }
.spectrum--lightest .spectrum-Dial-handle:hover::after {
      background-color: rgb(80, 80, 80);
    }
.spectrum--lightest .spectrum-Dial-handle.is-focused {
    background-color: rgb(55, 142, 240);

    border-color: rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-Dial-handle.is-focused::after {
      background-color: rgb(255, 255, 255);
    }
.spectrum--lightest .spectrum-Dial-handle:active,
.spectrum--lightest .spectrum-Dial-handle.is-dragged {
    background-color: rgb(80, 80, 80);

    border-color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-Dial-handle:active::after,
.spectrum--lightest .spectrum-Dial-handle.is-dragged::after {
      background-color: rgb(255, 255, 255);
    }
.spectrum--lightest .spectrum-Dial-controls::before,
.spectrum--lightest .spectrum-Dial-controls::after {
    background-color: rgb(149, 149, 149);
  }
.spectrum--lightest .spectrum-Dial.is-disabled .spectrum-Dial-labelContainer {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-Dial.is-disabled .spectrum-Dial-controls::after,
.spectrum--lightest .spectrum-Dial.is-disabled .spectrum-Dial-controls::before {
        background-color: rgb(211, 211, 211);
      }
.spectrum--lightest .spectrum-Dial.is-disabled .spectrum-Dial-handle {
      border-color: rgb(211, 211, 211);
      background: rgb(255, 255, 255);
    }
.spectrum--lightest .spectrum-Dial.is-disabled .spectrum-Dial-handle:hover,
.spectrum--lightest .spectrum-Dial.is-disabled .spectrum-Dial-handle:active {
        border-color: rgb(211, 211, 211);
        background: transparent;
      }
.spectrum--lightest .spectrum-Dial.is-disabled .spectrum-Dial-handle::after,
.spectrum--lightest .spectrum-Dial.is-disabled .spectrum-Dial-handle::before {
        background-color: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Slider-labelContainer,
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Dial-labelContainer {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Slider-handle {
      border-color: rgb(211, 211, 211);
      background: rgb(255, 255, 255);
    }
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Slider-handle:hover,
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Slider-handle:active {
        border-color: rgb(211, 211, 211);
        background: transparent;
      }
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Slider-track::before {
        background: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-Slider.is-disabled.spectrum-Slider--filled .spectrum-Slider-track:first-child::before {
          background: rgb(234, 234, 234);
        }
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Slider-fill::before {
        background: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Slider-buffer::before {
        background: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-Slider.is-disabled .spectrum-Slider-ramp path {
        fill: rgb(244, 244, 244);
      }
.spectrum--lightest .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-track {
        background: rgb(244, 244, 244) !important;
        box-shadow: none;
      }
.spectrum--lightest .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle {
        background: transparent;
        box-shadow: none;
        border-color: rgb(211, 211, 211);
      }
.spectrum--lightest .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum--lightest .spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active {
          background: transparent;
          box-shadow: none;
          border-color: rgb(211, 211, 211);
        }
.spectrum--lightest .spectrum-Slider.is-disabled.spectrum-Slider--range .spectrum-Slider-track:not(:first-of-type):not(:last-of-type):before {
            background: rgb(234, 234, 234);
          }
