.spectrum-Slider,
.spectrum-Dial {
  position: relative;
  z-index: 1;
  display: block;
  min-height: 32px;
  min-width: 100px;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
}
[dir="ltr"] .spectrum-Slider-controls,[dir="ltr"] 
.spectrum-Dial-controls {
  margin-left: 8px;
}
[dir="rtl"] .spectrum-Slider-controls,[dir="rtl"] 
.spectrum-Dial-controls {
  margin-right: 8px;
}
.spectrum-Slider-controls,
.spectrum-Dial-controls {
  display: inline-block;
  box-sizing: border-box;

  position: relative;
  z-index: auto;
  width: calc(100% - 16px);
  min-height: 32px;

  vertical-align: top;
}
[dir="ltr"] .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer,[dir="ltr"] 
.spectrum-Slider-ramp,[dir="ltr"] 
.spectrum-Slider-fill {
  left: 0;
}
[dir="rtl"] .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer,[dir="rtl"] 
.spectrum-Slider-ramp,[dir="rtl"] 
.spectrum-Slider-fill {
  right: 0;
}
[dir="ltr"] .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer,[dir="ltr"] 
.spectrum-Slider-ramp,[dir="ltr"] 
.spectrum-Slider-fill {
  right: auto;
}
[dir="rtl"] .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer,[dir="rtl"] 
.spectrum-Slider-ramp,[dir="rtl"] 
.spectrum-Slider-fill {
  left: auto;
}
.spectrum-Slider-track,
.spectrum-Slider-buffer,
.spectrum-Slider-ramp,
.spectrum-Slider-fill {
  height: 2px;
  box-sizing: border-box;

  position: absolute;
  z-index: 1;
  top: 16px;

  margin-top: -1px;

  pointer-events: none;
}
[dir="ltr"] .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer,[dir="ltr"] 
.spectrum-Slider-fill {
  padding-left: 0;
  padding-right: 4px;
}
[dir="rtl"] .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer,[dir="rtl"] 
.spectrum-Slider-fill {
  padding-right: 0;
  padding-left: 4px;
}
[dir="ltr"] .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer,[dir="ltr"] 
.spectrum-Slider-fill {
  margin-left: -8px;
}
[dir="rtl"] .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer,[dir="rtl"] 
.spectrum-Slider-fill {
  margin-right: -8px;
}
.spectrum-Slider-track,
.spectrum-Slider-buffer,
.spectrum-Slider-fill {
  padding-top: 0;
  padding-bottom: 0;
}
.spectrum-Slider-track::before, .spectrum-Slider-buffer::before, .spectrum-Slider-fill::before {
    content: '';
    display: block;
    height: 100%;

    border-radius: 1px;
  }
[dir="ltr"] .spectrum-Slider-fill {
  margin-left: 0;
}
[dir="rtl"] .spectrum-Slider-fill {
  margin-right: 0;
}
[dir="ltr"] .spectrum-Slider-fill {
  padding-left: 12px;
  padding-right: 0;
}
[dir="rtl"] .spectrum-Slider-fill {
  padding-right: 12px;
  padding-left: 0;
}
.spectrum-Slider-fill {
  padding-top: 0;
  padding-bottom: 0;
}
[dir="ltr"] .spectrum-Slider-fill--right {
  padding-left: 0;
  padding-right: 12px;
}
[dir="rtl"] .spectrum-Slider-fill--right {
  padding-right: 0;
  padding-left: 12px;
}
.spectrum-Slider-fill--right {
  padding-top: 0;
  padding-bottom: 0;
}
[dir="ltr"] .spectrum-Slider-buffer {
  padding-left: 0;
  padding-right: 4px;
}
[dir="rtl"] .spectrum-Slider-buffer {
  padding-right: 0;
  padding-left: 4px;
}
.spectrum-Slider-buffer {
  padding-top: 0;
  padding-bottom: 0;
}
[dir="ltr"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  left: auto;
}
[dir="rtl"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  right: auto;
}
[dir="ltr"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  right: 0;
}
[dir="rtl"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  left: 0;
}
[dir="ltr"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  padding-left: 4px;
  padding-right: 0;
}
[dir="rtl"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  padding-right: 4px;
  padding-left: 0;
}
[dir="ltr"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-left: 0;
}
[dir="rtl"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-right: 0;
}
[dir="ltr"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-right: -8px;
}
[dir="rtl"] .spectrum-Slider-track ~ .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-left: -8px;
}
.spectrum-Slider-track ~ .spectrum-Slider-track,
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  padding-top: 0;
  padding-bottom: 0;
}
[dir="ltr"] .spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-right: 0;
}
[dir="rtl"] .spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  margin-left: 0;
}
[dir="ltr"] .spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  padding-left: 12px;
  padding-right: 0;
}
[dir="rtl"] .spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  padding-right: 12px;
  padding-left: 0;
}
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer {
  padding-top: 0;
  padding-bottom: 0;
}
.spectrum-Slider-buffer ~ .spectrum-Slider-buffer:after {
    display: none;
  }
.spectrum-Slider--range .spectrum-Slider-value {
    -webkit-user-select: text;
       -moz-user-select: text;
        -ms-user-select: text;
            user-select: text;
  }
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      padding-left: 0;
      padding-right: 4px;
}
[dir="rtl"] .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      padding-right: 0;
      padding-left: 4px;
}
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      left: 0;
}
[dir="rtl"] .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      right: 0;
}
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      right: auto;
}
[dir="rtl"] .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      left: auto;
}
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      margin-left: -8px;
}
[dir="rtl"] .spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      margin-right: -8px;
}
.spectrum-Slider--range .spectrum-Slider-track:first-of-type {
      padding-top: 0;
      padding-bottom: 0;
    }
[dir="ltr"] [dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track,[dir="ltr"] [dir="rtl"] 
    .spectrum-Slider--range .spectrum-Slider-track {
      left: auto;
}
[dir="rtl"] [dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track,[dir="rtl"] [dir="rtl"] 
    .spectrum-Slider--range .spectrum-Slider-track {
      right: auto;
}
[dir="ltr"] [dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track,[dir="ltr"] [dir="rtl"] 
    .spectrum-Slider--range .spectrum-Slider-track {
      right: auto;
}
[dir="rtl"] [dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track,[dir="rtl"] [dir="rtl"] 
    .spectrum-Slider--range .spectrum-Slider-track {
      left: auto;
}
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track,[dir="rtl"] 
    .spectrum-Slider--range .spectrum-Slider-track {
      padding-top: 0;
      padding-bottom: 0;
      padding-left: 12px;
      padding-right: 12px;
      margin-left: 0;
      margin-right: 0;
      margin-top: 0;
      margin-bottom: 0;
    }
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      padding-left: 4px;
      padding-right: 0;
}
[dir="rtl"] .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      padding-right: 4px;
      padding-left: 0;
}
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      left: auto;
}
[dir="rtl"] .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      right: auto;
}
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      right: 0;
}
[dir="rtl"] .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      left: 0;
}
[dir="ltr"] .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      margin-right: -8px;
}
[dir="rtl"] .spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      margin-left: -8px;
}
.spectrum-Slider--range .spectrum-Slider-track:last-of-type {
      padding-top: 0;
      padding-bottom: 0;
    }
.spectrum-Slider-buffer {
  z-index: 2;
}
[dir="ltr"] .spectrum-Slider-ramp {
  left: -8px;
}
[dir="rtl"] .spectrum-Slider-ramp {
  right: -8px;
}
[dir="ltr"] .spectrum-Slider-ramp {
  right: -8px;
}
[dir="rtl"] .spectrum-Slider-ramp {
  left: -8px;
}
.spectrum-Slider-ramp {
  margin-top: 0;
  height: 16px;

  position: absolute;
  top: 8px;
}
[dir="rtl"] .spectrum-Slider-ramp svg { transform: matrix(-1, 0, 0, 1, 0, 0) ; }
.spectrum-Slider-ramp svg {
    width: 100%;
    height: 100%;
  }
[dir="ltr"] .spectrum-Slider-handle,[dir="ltr"] 
.spectrum-Dial-handle {
  left: 0;
}
[dir="rtl"] .spectrum-Slider-handle,[dir="rtl"] 
.spectrum-Dial-handle {
  right: 0;
}
[dir="ltr"] .spectrum-Slider-handle,[dir="ltr"] 
.spectrum-Dial-handle {
  margin-left: -8px;
  margin-right: 0;
}
[dir="rtl"] .spectrum-Slider-handle,[dir="rtl"] 
.spectrum-Dial-handle {
  margin-right: -8px;
  margin-left: 0;
}
.spectrum-Slider-handle,
.spectrum-Dial-handle {
  position: absolute;
  top: 16px;
  z-index: 2;

  display: inline-block;
  box-sizing: border-box;

  width: 16px;
  height: 16px;

  margin-top: -8px;

  margin-bottom: 0;

  border-width: 2px;
  border-style: solid;

  border-radius: 8px;

  transition: border-width 130ms ease-in-out;

  outline: none;
  cursor: pointer;
  cursor: grab;
}
.spectrum-Slider-handle:active,
.spectrum-Slider-handle.is-focused,
.spectrum-Slider-handle.is-dragged,
.spectrum-Dial-handle:active {
    cursor: ns-resize;
    cursor: grabbing;
  }
.spectrum-Slider-handle:active,
.spectrum-Slider-handle.is-focused,
.spectrum-Slider-handle.is-dragged,
.spectrum-Slider-handle.is-tophandle,
.spectrum-Dial-handle:active {
    z-index: 3;
  }
.spectrum-Slider-handle:before,
.spectrum-Dial-handle:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;

    transition: box-shadow 130ms ease-out,
                width 130ms ease-out,
                height 130ms ease-out;

    width: 16px;
    height: 16px;

    transform: translate(-50%, -50%);

    border-radius: 100%;
  }
.spectrum-Slider-handle.is-focused:before {
      width: 20px;
      height: 20px;
    }
[dir="ltr"] .spectrum-Slider-input,[dir="ltr"] 
.spectrum-Dial-input {
  left: -2px;
}
[dir="rtl"] .spectrum-Slider-input,[dir="rtl"] 
.spectrum-Dial-input {
  right: -2px;
}
.spectrum-Slider-input,
.spectrum-Dial-input {
  margin: 0;

  width: 16px;
  height: 16px;
  padding: 0;
  position: absolute;
  top: -2px;
  overflow: hidden;
  opacity: .000001;
  cursor: default;
  -webkit-appearance: none;
  border: 0;
  pointer-events: none;
}
.spectrum-Slider-input:focus,
.spectrum-Dial-input:focus {
    outline: none;
  }
.spectrum-Slider-labelContainer,
.spectrum-Dial-labelContainer {
  display: -ms-flexbox;
  display: flex;
  position: relative;

  width: auto;

  padding-top: 4px;

  font-size: 12px;
  line-height: 1.3;
}
[dir="ltr"] .spectrum-Slider-label,[dir="ltr"] 
.spectrum-Dial-label {
  padding-left: 0;
}
[dir="rtl"] .spectrum-Slider-label,[dir="rtl"] 
.spectrum-Dial-label {
  padding-right: 0;
}
.spectrum-Slider-label,
.spectrum-Dial-label {
  -ms-flex-positive: 1;
      flex-grow: 1;
}
[dir="ltr"] .spectrum-Slider-value,[dir="ltr"] 
.spectrum-Dial-value {
  padding-right: 0;
}
[dir="rtl"] .spectrum-Slider-value,[dir="rtl"] 
.spectrum-Dial-value {
  padding-left: 0;
}
.spectrum-Slider-value,
.spectrum-Dial-value {
  -ms-flex-positive: 0;
      flex-grow: 0;
  cursor: default;
}
[dir="ltr"] .spectrum-Slider-value {
  margin-left: 16px;
}
[dir="rtl"] .spectrum-Slider-value {
  margin-right: 16px;
}
.spectrum-Slider-ticks {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;

  z-index: 0;

  margin: 0 -8px;
  margin-top: 11px;
}
.spectrum-Slider-tick {
  position: relative;

  width: 2px;
}
[dir="ltr"] .spectrum-Slider-tick:after {
    left: calc(50% - 1px);
}
[dir="rtl"] .spectrum-Slider-tick:after {
    right: calc(50% - 1px);
}
.spectrum-Slider-tick:after {
    display: block;
    position: absolute;
    top: 0;
    content: '';
    width: 2px;
    height: 10px;

    border-radius: 1px;
  }
.spectrum-Slider-tick .spectrum-Slider-tickLabel {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center;

    margin-top: 16px;

    margin-bottom: 0;
    margin-left: -16px;
    margin-right: -16px;

    font-size: 12px;
    line-height: 1.3;
  }
.spectrum-Slider-tick:first-of-type .spectrum-Slider-tickLabel, .spectrum-Slider-tick:last-of-type .spectrum-Slider-tickLabel {
      display: block;
      position: absolute;
      margin-top: 16px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 0;
    }
[dir="ltr"] .spectrum-Slider-tick:first-of-type .spectrum-Slider-tickLabel {
      left: 0;
}
[dir="rtl"] .spectrum-Slider-tick:first-of-type .spectrum-Slider-tickLabel {
      right: 0;
}
[dir="ltr"] .spectrum-Slider-tick:last-of-type .spectrum-Slider-tickLabel {
      right: 0;
}
[dir="rtl"] .spectrum-Slider-tick:last-of-type .spectrum-Slider-tickLabel {
      left: 0;
}
.spectrum-Slider--color .spectrum-Slider-labelContainer,
.spectrum-Slider--color .spectrum-Dial-labelContainer {
    padding-bottom: 5px;
  }
[dir="ltr"] .spectrum-Slider--color .spectrum-Slider-controls,[dir="ltr"] 
.spectrum-Slider--color .spectrum-Slider-controls::before,[dir="ltr"] 
.spectrum-Slider--color .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider--color .spectrum-Dial-controls,[dir="ltr"] 
.spectrum-Slider--color .spectrum-Dial-controls::before {
    margin-left: 0;
}
[dir="rtl"] .spectrum-Slider--color .spectrum-Slider-controls,[dir="rtl"] 
.spectrum-Slider--color .spectrum-Slider-controls::before,[dir="rtl"] 
.spectrum-Slider--color .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider--color .spectrum-Dial-controls,[dir="rtl"] 
.spectrum-Slider--color .spectrum-Dial-controls::before {
    margin-right: 0;
}
.spectrum-Slider--color .spectrum-Slider-controls,
.spectrum-Slider--color .spectrum-Slider-controls::before,
.spectrum-Slider--color .spectrum-Slider-track,
.spectrum-Slider--color .spectrum-Dial-controls,
.spectrum-Slider--color .spectrum-Dial-controls::before {
    min-height: auto;
    height: 24px;
    width: 100%;
  }
.spectrum-Slider--color .spectrum-Slider-controls::before,
.spectrum-Slider--color .spectrum-Dial-controls::before {
    display: block;
    content: '';
  }
[dir="ltr"] .spectrum-Slider--color .spectrum-Slider-controls::before,[dir="ltr"] 
.spectrum-Slider--color .spectrum-Slider-track,[dir="ltr"] 
.spectrum-Slider--color .spectrum-Dial-controls::before {
    margin-right: 0;
}
[dir="rtl"] .spectrum-Slider--color .spectrum-Slider-controls::before,[dir="rtl"] 
.spectrum-Slider--color .spectrum-Slider-track,[dir="rtl"] 
.spectrum-Slider--color .spectrum-Dial-controls::before {
    margin-left: 0;
}
.spectrum-Slider--color .spectrum-Slider-controls::before,
.spectrum-Slider--color .spectrum-Slider-track,
.spectrum-Slider--color .spectrum-Dial-controls::before {
    top: 0;
    padding: 0;
    margin-top: 0;
    border-radius: 4px;
  }
.spectrum-Slider--color .spectrum-Slider-handle,
.spectrum-Slider--color .spectrum-Dial-handle {
    top: 50%;
  }
.spectrum-Dial {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;

  height: auto;
  min-width: 0;
  min-height: 0;
  width: 48px;
}
.spectrum-Dial-labelContainer {
  margin-bottom: 5px;
}
.spectrum-Dial-label:only-child {
    text-align: center;
  }
.spectrum-Dial-controls {
  width: 32px;
  height: 32px;
  min-height: 0;

  border-radius: 16px;
  position: relative;
  display: inline-block;
  margin: 0;

  box-sizing: border-box;
  outline: none;
}
.spectrum-Dial-controls::before,
  .spectrum-Dial-controls::after {
    content: '';
    width: 4px;
    height: 2px;
    border-radius: 1px;
    position: absolute;
    bottom: 0;
  }
[dir="ltr"] .spectrum-Dial-controls::before {
    left: auto;
}
[dir="rtl"] .spectrum-Dial-controls::before {
    right: auto;
}
[dir="ltr"] .spectrum-Dial-controls::before {
    right: -2px;
}
[dir="rtl"] .spectrum-Dial-controls::before {
    left: -2px;
}
.spectrum-Dial-controls::before {
    transform: rotate(45deg);
  }
[dir="ltr"] .spectrum-Dial-controls::after {
    left: -2px;
}
[dir="rtl"] .spectrum-Dial-controls::after {
    right: -2px;
}
.spectrum-Dial-controls::after {
    transform: rotate(-45deg);
  }
[dir="ltr"] .spectrum-Dial-handle {
  left: 8px;
}
[dir="rtl"] .spectrum-Dial-handle {
  right: 8px;
}
[dir="ltr"] .spectrum-Dial-handle {
  right: 8px;
}
[dir="rtl"] .spectrum-Dial-handle {
  left: 8px;
}
.spectrum-Dial-handle {
  width: 100%;
  height: 100%;
  border-width: 2px;
  box-shadow: none;
  position: absolute;
  top: 8px;
  bottom: 8px;
  border-radius: 16px;
  transform: rotate(-45deg);
  cursor: pointer;
  cursor: grab;

  transition: background-color 130ms ease-in-out;
}
[dir="ltr"] .spectrum-Dial-handle::after {
    left: -2px;
}
[dir="rtl"] .spectrum-Dial-handle::after {
    right: -2px;
}
.spectrum-Dial-handle::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 12px;
    height: 2px;
    border-radius: 1px;
    transform: translateY(-50%);
    transition: background-color 130ms ease-in-out;
  }
.spectrum-Dial-handle:active,
  .spectrum-Dial-handle.is-focused,
  .spectrum-Dial-handle.is-dragged {
    border-width: 2px;
    cursor: ns-resize;
    cursor: grabbing;
  }
[dir="ltr"] .spectrum-Dial-input {
  left: 0;
}
[dir="rtl"] .spectrum-Dial-input {
  right: 0;
}
.spectrum-Dial-input {
  width: 100%;
  height: 100%;
  top: 0;
}
.spectrum-Dial--small .spectrum-Dial-controls {
    width: 24px;
    height: 24px;
  }
.spectrum-Slider.is-disabled, .spectrum-Dial.is-disabled {
    cursor: default;
  }
.spectrum-Slider.is-disabled .spectrum-Slider-handle,
.spectrum-Dial.is-disabled .spectrum-Slider-handle,
.spectrum-Slider.is-disabled .spectrum-Dial-handle,
.spectrum-Dial.is-disabled .spectrum-Dial-handle {
      cursor: default;
      pointer-events: none;
    }
.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active,
.spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:hover,
.spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Slider-handle:active,
.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:hover,
.spectrum-Slider.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:active,
.spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:hover,
.spectrum-Dial.is-disabled.spectrum-Slider--color .spectrum-Dial-handle:active {
          border-width: 1px;
        }
.u-isGrabbing {
  cursor: ns-resize;
  cursor: grabbing;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.u-isGrabbing .spectrum-Dial .spectrum-Dial-label,
    .u-isGrabbing .spectrum-Dial .spectrum-Dial-value {
      cursor: inherit;
    }
.u-isGrabbing .spectrum-Slider .spectrum-Slider-label,
.u-isGrabbing .spectrum-Slider .spectrum-Slider-value,
.u-isGrabbing .spectrum-Dial .spectrum-Slider-label,
.u-isGrabbing .spectrum-Dial .spectrum-Slider-value {
      cursor: inherit;
    }
