.spectrum--large .spectrum-DecoratedTextfield-icon {
  width: 22px;
  height: 22px;
  bottom: 9px;
  right: 9px;
}
.spectrum--large .spectrum-DecoratedTextfield-field {
  padding-right: 40px;
}
.spectrum-DecoratedTextfield {
  display: inline-block;
  position: relative;
}
.spectrum-DecoratedTextfield-icon {
  width: 18px;
  height: 18px;

  position: absolute;
  bottom: 7px;
  right: 7px;
}
.spectrum-DecoratedTextfield-field {
  padding-right: 32px;
}
