.spectrum--large .spectrum-QuickActions {

  transition: transform 130ms ease-in-out,
              opacity 130ms ease-in-out,
              visibility 0ms linear 130ms;
}
.spectrum--large .spectrum-QuickActions--left.is-open {
  transform: translateX(8px);
}
.spectrum--large .spectrum-QuickActions--right.is-open {
  transform: translateX(-8px);
}
.spectrum--large .spectrum-QuickActions {

  padding-top: 5px;

  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;

  height: 50px;

  border-radius: 5px;
}
.spectrum--large [dir="ltr"] .spectrum-QuickActions .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: 10px;
}
.spectrum--large [dir="rtl"] .spectrum-QuickActions .spectrum-ActionButton + .spectrum-ActionButton {
    margin-right: 10px;
}
.spectrum--large [dir="ltr"] .spectrum-QuickActions--textOnly .spectrum-ActionButton + .spectrum-ActionButton {
    margin-left: 5px;
}
.spectrum--large [dir="rtl"] .spectrum-QuickActions--textOnly .spectrum-ActionButton + .spectrum-ActionButton {
    margin-right: 5px;
}
