.spectrum--dark .spectrum-Link {
  color: rgb(75, 156, 245);
}
.spectrum--dark .spectrum-Link:hover {
    color: rgb(75, 156, 245);
  }
.spectrum--dark .spectrum-Link:active {
    color: rgb(90, 169, 250);
  }
.spectrum--dark .spectrum-Link.focus-ring {
    color: rgb(75, 156, 245);
  }
.spectrum--dark .spectrum-Link--secondary{
  color: inherit;
}
.spectrum--dark .spectrum-Link--secondary:hover {
    color: inherit;
  }
.spectrum--dark .spectrum-Link--secondary:active {
    color: inherit;
  }
.spectrum--dark .spectrum-Link--secondary:focus {
    color: inherit;
  }
.spectrum--dark .spectrum-Link--overBackground {
  color: rgb(255, 255, 255);
}
.spectrum--dark .spectrum-Link--overBackground:hover {
    color: rgb(255, 255, 255);
  }
.spectrum--dark .spectrum-Link--overBackground:active {
    color: rgb(255, 255, 255);
  }
.spectrum--dark .spectrum-Link--overBackground:focus {
    color: rgb(255, 255, 255);
  }
