.spectrum--lightest .spectrum-Stepper:hover:not(.is-disabled):not(.is-invalid):not(.is-focused):not(.is-keyboardFocused) .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper:hover:not(.is-disabled):not(.is-invalid):not(.is-focused):not(.is-keyboardFocused) .spectrum-Stepper-stepDown,
.spectrum--lightest .spectrum-Stepper:hover:not(.is-disabled):not(.is-invalid):not(.is-focused):not(.is-keyboardFocused) .spectrum-Stepper-input {
      border-color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-Stepper.is-focused {
    border-color: rgb(38, 128, 235);
  }
.spectrum--lightest .spectrum-Stepper.is-focused .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper.is-focused .spectrum-Stepper-stepDown {
      border-color: rgb(38, 128, 235);
    }
.spectrum--lightest .spectrum-Stepper.is-focused .spectrum-Stepper-input {
      border-color: rgb(38, 128, 235);
      box-shadow: none;
    }
.spectrum--lightest .spectrum-Stepper.is-focused.is-invalid {
      border-color: rgb(215, 55, 63);
    }
.spectrum--lightest .spectrum-Stepper.is-focused.is-invalid .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper.is-focused.is-invalid .spectrum-Stepper-stepDown {
        border-color: rgb(215, 55, 63);
      }
.spectrum--lightest .spectrum-Stepper.is-focused.is-invalid .spectrum-Stepper-input {
        border-color: rgb(215, 55, 63);
      }
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused {
    box-shadow: 0 0 0 1px rgb(55, 142, 240);
  }
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused .spectrum-Stepper-input,
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused .spectrum-Stepper-buttons {
      box-shadow: 0 0 0 1px rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused .spectrum-Stepper-input,
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused .spectrum-Stepper-stepDown {
      border-color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused.is-invalid {
      box-shadow: 0 0 0 1px rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused.is-invalid .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused.is-invalid .spectrum-Stepper-stepDown {
        border-color: rgb(55, 142, 240);
      }
.spectrum--lightest .spectrum-Stepper.is-keyboardFocused.is-invalid .spectrum-Stepper-buttons {
        box-shadow: 0 0 0 1px rgb(55, 142, 240);
      }
.spectrum--lightest .spectrum-Stepper.is-invalid .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper.is-invalid .spectrum-Stepper-stepDown {
      border-color: rgb(227, 72, 80);
    }
.spectrum--lightest .spectrum-Stepper.is-invalid .spectrum-Stepper-input {
      border-color: rgb(227, 72, 80);
    }
.spectrum--lightest .spectrum-Stepper.is-invalid.is-keyboardFocused .spectrum-Stepper-input {
        border-color: rgb(55, 142, 240);
        box-shadow: 0 0 0 1px rgb(55, 142, 240);
      }
.spectrum--lightest .spectrum-Stepper.is-invalid.is-keyboardFocused .spectrum-Stepper-buttons {
        box-shadow: 0 0 0 1px rgb(55, 142, 240);
      }
.spectrum--lightest .spectrum-Stepper.is-disabled .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper.is-disabled .spectrum-Stepper-stepDown {
      border-color: transparent;
    }
.spectrum--lightest .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper-stepDown {
  border-color: rgb(211, 211, 211);
}
.spectrum--lightest .spectrum-Stepper-stepUp:disabled,
.spectrum--lightest .spectrum-Stepper-stepDown:disabled {
    border-color: transparent;
  }
.spectrum--lightest .spectrum-Stepper--quiet.is-disabled .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper--quiet.is-disabled .spectrum-Stepper-stepDown {
      border-color: rgb(234, 234, 234);
    }
.spectrum--lightest .spectrum-Stepper--quiet .spectrum-Stepper-stepUp,
.spectrum--lightest .spectrum-Stepper--quiet .spectrum-Stepper-stepDown {
    border-color: rgb(211, 211, 211);
  }
.spectrum--lightest .spectrum-Stepper--quiet .spectrum-Stepper-stepUp:disabled,
.spectrum--lightest .spectrum-Stepper--quiet .spectrum-Stepper-stepDown:disabled {
      border-color: rgb(234, 234, 234);
    }
.spectrum--lightest .spectrum-Stepper--quiet .spectrum-Stepper-input {
    box-shadow: none;
  }
.spectrum--lightest .spectrum-Stepper--quiet.is-invalid .spectrum-Stepper-input {
      border-color: rgb(227, 72, 80);
    }
.spectrum--lightest .spectrum-Stepper--quiet.is-invalid .spectrum-Stepper-stepDown {
      border-color: rgb(227, 72, 80);
    }
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused {
    box-shadow: none;
  }
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused .spectrum-Stepper-buttons,
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused .spectrum-Stepper-input,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused .spectrum-Stepper-buttons,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused .spectrum-Stepper-input {
      box-shadow: 0 1px 0 0 rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused .spectrum-Stepper-stepDown,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused .spectrum-Stepper-stepDown {
      border-color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused.is-invalid,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused.is-invalid {
      box-shadow: none;
    }
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused.is-invalid .spectrum-Stepper-input,
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused.is-invalid .spectrum-Stepper-buttons,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused.is-invalid .spectrum-Stepper-input,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused.is-invalid .spectrum-Stepper-buttons {
        box-shadow: 0 1px 0 0 rgb(227, 72, 80);
      }
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused.is-invalid .spectrum-Stepper-input,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused.is-invalid .spectrum-Stepper-input {
        border-color: rgb(227, 72, 80);
      }
.spectrum--lightest .spectrum-Stepper--quiet.is-keyboardFocused.is-invalid .spectrum-Stepper-stepDown,
.spectrum--lightest .spectrum-Stepper--quiet.is-focused.is-invalid .spectrum-Stepper-stepDown {
        border-color: rgb(227, 72, 80);
      }
