/* Put any css that you don't want compiled into this file */

    .CheckeredBackground {
        background: linear-gradient(-45deg, transparent 75.5%, rgb(188,188,188) 75.5%), linear-gradient(45deg, transparent 75.5%, rgb(188,188,188) 75.5%), linear-gradient(-45deg, rgb(188,188,188) 25.5%, transparent 25.5%), linear-gradient(45deg, rgb(188,188,188) 25.5%, transparent 25.5%);
        background-color: white;
        background-size: 16px 16px;
        background-position: 0 0, 0 8px, 8px -8px, -8px 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        border-radius: 4px;
    }
