/* Put any css that you don't want compiled into this file */

.spectrum-Toast-container{
  z-index: 1;
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.spectrum-Toast-container.show {
  visibility: visible;
  -webkit-animation: spectrum-toast-fadein 0.5s;
  animation: spectrum-toast-fadein 0.5s;
}

.spectrum-Toast-container.hide {
  visibility: visible;
  -webkit-animation: spectrum-toast-fadeout 0.5s;
  animation: spectrum-toast-fadeout 0.5s;
}

@-webkit-keyframes spectrum-toast-fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes spectrum-toast-fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

/* @-webkit-keyframes expand {
  from {min-width: 50px} 
  to {min-width: 350px}
} */

/* @keyframes expand {
  from {min-width: 50px}
  to {min-width: 350px}
} */

/* @-webkit-keyframes stay {
  from {min-width: 350px} 
  to {min-width: 350px}
} */

/* @keyframes stay {
  from {min-width: 350px}
  to {min-width: 350px}
} */

/* @-webkit-keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
} */

/* @keyframes shrink {
  from {min-width: 350px;} 
  to {min-width: 50px;}
} */

@-webkit-keyframes spectrum-toast-fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0px; opacity: 0;}
}

@keyframes spectrum-toast-fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0px; opacity: 0;}
}