.spectrum--large .spectrum-Card {
  min-width: 300px;

  border: 1px solid transparent;
  border-radius: 5px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-actions {
  right: 13px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-actions {
  left: 13px;
}
.spectrum--large .spectrum-Card-actions {
  top: 13px;
  height: 50px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-quickActions {
  left: 20px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-quickActions {
  right: 20px;
}
.spectrum--large .spectrum-Card-quickActions {
  top: 20px;

  width: 50px;
  height: 50px;
}
.spectrum--large .spectrum-Card-coverPhoto {
  height: 170px;

  border-bottom: 1px solid transparent;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-body {
  padding-right: 30px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-body {
  padding-left: 30px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-body {
  padding-left: 30px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-body {
  padding-right: 30px;
}
.spectrum--large .spectrum-Card-body {
  padding-top: 25px;
  padding-bottom: 25px;
}
.spectrum--large .spectrum-Card-body:last-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }
.spectrum--large .spectrum-Card-preview {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.spectrum--large .spectrum-Card-header {
  height: 22px;
}
.spectrum--large .spectrum-Card-content {
  height: 18px;
  margin-top: 8px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-title {
  padding-right: 10px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-title {
  padding-left: 10px;
}
.spectrum--large .spectrum-Card-title {
  font-size: 17px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-subtitle {
  padding-right: 10px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-subtitle {
  padding-left: 10px;
}
.spectrum--large .spectrum-Card-subtitle {
  font-size: 13px;
  letter-spacing: 0.06em;
}
.spectrum--large .spectrum-Card-description {
  font-size: 13px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-subtitle + .spectrum-Card-description:before {
  padding-right: 10px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-subtitle + .spectrum-Card-description:before {
  padding-left: 10px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-footer {
  margin-right: 30px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-footer {
  margin-left: 30px;
}
.spectrum--large [dir="ltr"] .spectrum-Card-footer {
  margin-left: 30px;
}
.spectrum--large [dir="rtl"] .spectrum-Card-footer {
  margin-right: 30px;
}
.spectrum--large .spectrum-Card-footer {
  padding-top: 18px;
  padding-bottom: 25px;

  border-top: 1px solid;
}
.spectrum--large .spectrum-Card--quiet .spectrum-Card-preview {
    min-height: 170px;
  }
.spectrum--large .spectrum-Card--quiet,
.spectrum--large .spectrum-Card--gallery {
  min-width: 170px;
}
.spectrum--large .spectrum-Card--quiet .spectrum-Card-preview, .spectrum--large .spectrum-Card--gallery .spectrum-Card-preview {
    padding: 25px;
    border-radius: 5px;
    transition: background-color 130ms;
  }
.spectrum--large .spectrum-Card--quiet .spectrum-Card-preview:before, .spectrum--large .spectrum-Card--gallery .spectrum-Card-preview:before {
      border: 1px solid transparent;
    }
.spectrum--large .spectrum-Card--quiet .spectrum-Card-header, .spectrum--large .spectrum-Card--gallery .spectrum-Card-header {
    height: 22px;
    margin-top: 18px;
  }
.spectrum--large .spectrum-Card--small {
  min-width: 90px;
}
.spectrum--large [dir="ltr"] .spectrum-Card--small .spectrum-Card-quickActions {
    left: 13px;
}
.spectrum--large [dir="rtl"] .spectrum-Card--small .spectrum-Card-quickActions {
    right: 13px;
}
.spectrum--large .spectrum-Card--small .spectrum-Card-quickActions {
    top: 13px;
  }
.spectrum--large .spectrum-Card--small .spectrum-Card-preview {
    padding: 15px;
    min-height: 90px;
  }
.spectrum--large .spectrum-Card--small .spectrum-Card-header {
    margin-top: 10px;
    height: 15px;
  }
.spectrum--large .spectrum-Card--small .spectrum-Card-title {
    font-size: 17px;
  }
.spectrum--large [dir="ltr"] .spectrum-Card--horizontal .spectrum-Card-preview {

    border-top-left-radius: 5px;
}
.spectrum--large [dir="rtl"] .spectrum-Card--horizontal .spectrum-Card-preview {

    border-top-right-radius: 5px;
}
.spectrum--large [dir="ltr"] .spectrum-Card--horizontal .spectrum-Card-preview {
    border-bottom-left-radius: 5px;
}
.spectrum--large [dir="rtl"] .spectrum-Card--horizontal .spectrum-Card-preview {
    border-bottom-right-radius: 5px;
}
.spectrum--large [dir="ltr"] .spectrum-Card--horizontal .spectrum-Card-preview {

    border-right: 1px solid transparent;
}
.spectrum--large [dir="rtl"] .spectrum-Card--horizontal .spectrum-Card-preview {

    border-left: 1px solid transparent;
}
.spectrum--large .spectrum-Card--horizontal .spectrum-Card-preview {

    padding: 18px;
  }
.spectrum--large .spectrum-Card--horizontal .spectrum-Card-body {
    padding-left: 20px;
    padding-right: 20px;
  }
