.spectrum--darkest .spectrum-InputGroup.is-focused:not(.is-invalid) .spectrum-InputGroup-textfield .spectrum-InputGroup-input {
          border-color: rgb(20, 115, 230);
        }
.spectrum--darkest .spectrum-InputGroup.is-focused:not(.is-invalid) .spectrum-InputGroup-button {
        border-color: rgb(20, 115, 230);
      }
.spectrum--darkest .spectrum-InputGroup:hover:not(.is-focused):not(.is-keyboardFocused):not(.is-disabled) .spectrum-InputGroup-textfield .spectrum-InputGroup-input {
          border-color: rgb(151, 151, 151);
        }
.spectrum--darkest .spectrum-InputGroup:hover:not(.is-focused):not(.is-keyboardFocused):not(.is-disabled) .spectrum-InputGroup-button {
        border-color: rgb(151, 151, 151);
      }
.spectrum--darkest .spectrum-InputGroup:hover:not(.is-focused):not(.is-keyboardFocused):not(.is-disabled).is-invalid .spectrum-InputGroup-textfield .spectrum-InputGroup-input {
            border-color: rgb(236, 91, 98);
          }
.spectrum--darkest .spectrum-InputGroup:hover:not(.is-focused):not(.is-keyboardFocused):not(.is-disabled).is-invalid .spectrum-InputGroup-button {
          border-color: rgb(236, 91, 98);
        }
.spectrum--darkest .spectrum-InputGroup.is-disabled .spectrum-Datepicker-rangeDash {
      color: rgb(151, 151, 151);
    }
.spectrum--darkest .spectrum-InputGroup.is-focused .spectrum-InputGroup-button,
.spectrum--darkest .spectrum-InputGroup.is-focused .spectrum-InputGroup-input {
    border-color: rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-InputGroup.is-focused.is-invalid .spectrum-InputGroup-button,
.spectrum--darkest .spectrum-InputGroup.is-focused.is-invalid .spectrum-InputGroup-input {
      border-color: rgb(227, 72, 80);
    }
.spectrum--darkest .spectrum-InputGroup:not(.spectrum-InputGroup--quiet).is-keyboardFocused {
    box-shadow: 0 0 0 1px rgb(20, 115, 230);
  }
.spectrum--darkest .spectrum-InputGroup:not(.spectrum-InputGroup--quiet).is-keyboardFocused .spectrum-InputGroup-input,
.spectrum--darkest .spectrum-InputGroup:not(.spectrum-InputGroup--quiet).is-keyboardFocused .spectrum-InputGroup-input.focus-ring {
    box-shadow: none ;
  }
.spectrum--darkest .spectrum-InputGroup:not(.spectrum-InputGroup--quiet).is-keyboardFocused.is-invalid {
      box-shadow: 0 0 0 1px rgb(20, 115, 230);
    }
.spectrum--darkest .spectrum-InputGroup:not(.spectrum-InputGroup--quiet).is-keyboardFocused.is-invalid .spectrum-InputGroup-button,
.spectrum--darkest .spectrum-InputGroup:not(.spectrum-InputGroup--quiet).is-keyboardFocused.is-invalid .spectrum-InputGroup-input {
      border-color: rgb(20, 115, 230);
    }
.spectrum--darkest .spectrum-InputGroup:not(.spectrum-InputGroup--quiet).is-keyboardFocused .spectrum-InputGroup-button {
    box-shadow: none;
  }
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button,
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:hover,
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:focus,
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:active,
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button.is-selected,
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button.is-invalid,
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:disabled,
.spectrum--darkest .spectrum-InputGroup--quiet .spectrum-InputGroup-button:disabled:hover {
      border-color: rgb(73, 73, 73);
    }
.spectrum--darkest .spectrum-InputGroup--quiet:hover:not(.is-focused):not(.is-keyboardFocused):not(.is-disabled) .spectrum-InputGroup-input,
.spectrum--darkest .spectrum-InputGroup--quiet:hover:not(.is-focused):not(.is-keyboardFocused):not(.is-disabled) .spectrum-InputGroup-button {
      border-color: rgb(151, 151, 151);
    }
.spectrum--darkest .spectrum-InputGroup--quiet.is-invalid .spectrum-InputGroup-input,
.spectrum--darkest .spectrum-InputGroup--quiet.is-invalid .spectrum-InputGroup-button {
      border-color: rgb(227, 72, 80);
    }
.spectrum--darkest .spectrum-InputGroup--quiet.is-focused .spectrum-InputGroup-input,
.spectrum--darkest .spectrum-InputGroup--quiet.is-focused .spectrum-InputGroup-button {
      border-color: rgb(38, 128, 235);
    }
.spectrum--darkest .spectrum-InputGroup--quiet.is-focused.is-invalid .spectrum-InputGroup-input,
.spectrum--darkest .spectrum-InputGroup--quiet.is-focused.is-invalid .spectrum-InputGroup-button {
        border-color: rgb(236, 91, 98);
      }
.spectrum--darkest .spectrum-InputGroup--quiet.is-keyboardFocused .spectrum-InputGroup-input,
.spectrum--darkest .spectrum-InputGroup--quiet.is-keyboardFocused .spectrum-InputGroup-button {
      box-shadow: 0 1px 0 rgb(20, 115, 230);
      border-color: rgb(20, 115, 230);
    }
.spectrum--darkest .spectrum-InputGroup--quiet.is-keyboardFocused.is-invalid .spectrum-InputGroup-input,
.spectrum--darkest .spectrum-InputGroup--quiet.is-keyboardFocused.is-invalid .spectrum-InputGroup-button {
        box-shadow: 0 1px 0 rgb(20, 115, 230);
        border-color: rgb(20, 115, 230);
      }
