.spectrum--large [dir="ltr"] .spectrum-SplitView-gripper {
  left: -4px;
}
.spectrum--large [dir="rtl"] .spectrum-SplitView-gripper {
  right: -4px;
}
.spectrum--large .spectrum-SplitView-gripper {
  border-radius: 2px;
  width: 4px;
  height: 16px;
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 3px;
  border-right-width: 3px;
}
.spectrum--large .spectrum-SplitView-splitter {

  width: 2px;
}
.spectrum--large [dir="ltr"] .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper:before,.spectrum--large [dir="ltr"]  .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper:before {
        left: calc(50% - 1px);
}
.spectrum--large [dir="rtl"] .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper:before,.spectrum--large [dir="rtl"]  .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper:before {
        right: calc(50% - 1px);
}
.spectrum--large .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper:before, .spectrum--large .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper:before {
        width: 2px;
      }
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-pane {
    width: 100%;
  }
.spectrum--large [dir="ltr"] .spectrum-SplitView--vertical .spectrum-SplitView-gripper {
    left: 50%;
}
.spectrum--large [dir="rtl"] .spectrum-SplitView--vertical .spectrum-SplitView-gripper {
    right: 50%;
}
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-gripper {
    top: -4px;

    transform: translate(-50%, 0);
    width: 16px;
    height: 4px;
    border-top-width: 3px;
    border-bottom-width: 3px;
    border-left-width: 4px;
    border-right-width: 4px;
  }
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-splitter {
    width: 100%;
    height: 2px;
  }
.spectrum--large [dir="ltr"] .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper,.spectrum--large [dir="ltr"]  .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper {
        left: 50%;
}
.spectrum--large [dir="rtl"] .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper,.spectrum--large [dir="rtl"]  .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper {
        right: 50%;
}
.spectrum--large [dir="ltr"] .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper:before,.spectrum--large [dir="ltr"]  .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper:before {
          left: 0;
}
.spectrum--large [dir="rtl"] .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper:before,.spectrum--large [dir="rtl"]  .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper:before {
          right: 0;
}
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper:before, .spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper:before {
          top: calc(50% - 1px);
          width: 100%;
          height: 2px;
        }
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-start .spectrum-SplitView-gripper {
        top: 0;
      }
.spectrum--large .spectrum-SplitView--vertical .spectrum-SplitView-splitter.is-collapsed-end .spectrum-SplitView-gripper {
        bottom: 0;
      }
