.spectrum--large .spectrum-ColorSlider.is-focused .spectrum-ColorSlider-handle {
  width: 40px;
  height: 40px;

  margin-left: -20px;
  margin-top: -20px;
}
.spectrum--large .spectrum-ColorSlider {
  width: 240px;
  height: 30px;
}
.spectrum--large .spectrum-ColorSlider--vertical {

  width: 30px;
  height: 240px;
}
.spectrum--large .spectrum-ColorSlider-handle:after {
    border-radius: 0%;
    width: 30px;
    height: 30px;
  }
.spectrum--large .spectrum-ColorSlider-checkerboard {
  background-size:
    16px
    16px;
  background-position:
    0 0,
    0 8px,
    8px -8px,
    -8px 0;
}
.spectrum--large .spectrum-ColorSlider-checkerboard:before {
    border-radius: 5px;
  }
.spectrum--large .spectrum-ColorSlider-gradient,
.spectrum--large .spectrum-ColorSlider-checkerboard {
  border-radius: 5px;
}
