.spectrum-Accordion {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
}
[dir="ltr"] .spectrum-Accordion-itemIndicator {
  left: 16px;
}
[dir="rtl"] .spectrum-Accordion-itemIndicator {
  right: 16px;
}
[dir="rtl"] .spectrum-Accordion-itemIndicator { transform: matrix(-1, 0, 0, 1, 0, 0) ; }
.spectrum-Accordion-itemIndicator {
  display: block;

  position: absolute;
  top: 14.5px;

  transition: transform ease 130ms;
}
.spectrum-Accordion-item {
  z-index: inherit;
  position: relative;

  display: list-item;
  margin: 0;

  border-bottom: 1px solid transparent;
}
.spectrum-Accordion-item:first-of-type {
    border-top: 1px solid transparent;
  }
.spectrum-Accordion-itemHeading {
  margin: 0;
}
[dir="ltr"] .spectrum-Accordion-itemHeader {
  padding-left: 34px;
  padding-right: 16px;
}
[dir="rtl"] .spectrum-Accordion-itemHeader {
  padding-right: 34px;
  padding-left: 16px;
}
[dir="ltr"] .spectrum-Accordion-itemHeader {
  text-align: left;
}
[dir="rtl"] .spectrum-Accordion-itemHeader {
  text-align: right;
}
.spectrum-Accordion-itemHeader {
  position: relative;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;

  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 12px;
  margin: 0;

  min-height: 39px;

  font-size: 11px;
  line-height: 1.3;
  text-transform: uppercase;
  letter-spacing: 0.0006em;

  text-overflow: ellipsis;
  cursor: pointer;
  font-weight: 500;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: inherit;
  border: 0;
  font-family: inherit;
  width: 100%;
}
.spectrum-Accordion-itemHeader:focus {
    outline: none;
  }
[dir="ltr"] .spectrum-Accordion-itemHeader:focus::after {
      left: 0;
}
[dir="rtl"] .spectrum-Accordion-itemHeader:focus::after {
      right: 0;
}
.spectrum-Accordion-itemHeader:focus::after {
      content: '';

      position: absolute;
      top: -1px;
      bottom: -1px;

      width: 2px;
    }
.spectrum-Accordion-itemContent {
  padding-top: 0;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  display: none;
}
[dir="ltr"] .spectrum-Accordion-item.is-open > .spectrum-Accordion-itemHeading > .spectrum-Accordion-itemIndicator { transform: rotate(90deg); }
[dir="rtl"] .spectrum-Accordion-item.is-open > .spectrum-Accordion-itemHeading > .spectrum-Accordion-itemIndicator { transform: matrix(-1, 0, 0, 1, 0, 0) rotate(90deg); }
[dir="ltr"] .spectrum-Accordion-item.is-open > .spectrum-Accordion-itemIndicator { transform: rotate(90deg); }
[dir="rtl"] .spectrum-Accordion-item.is-open > .spectrum-Accordion-itemIndicator { transform: matrix(-1, 0, 0, 1, 0, 0) rotate(90deg); }
.spectrum-Accordion-item.is-open > .spectrum-Accordion-itemHeader::after {
      height: 39px;
    }
.spectrum-Accordion-item.is-open > .spectrum-Accordion-itemContent {
      display: block;
    }
.spectrum-Accordion-item.is-disabled .spectrum-Accordion-itemHeader {
      cursor: default;
    }
