.spectrum-Tabs {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 0;

  margin: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 8px;
  padding-right: 8px;
  vertical-align: top;
}
.spectrum-Tabs-item {
  position: relative;

  box-sizing: border-box;

  height: 46px;
  line-height: 46px;
  z-index: 1;

  text-decoration: none;
  white-space: nowrap;

  transition: color 130ms ease-out;
  cursor: pointer;
  outline: none;
}
.spectrum-Tabs-item.is-disabled {
    cursor: default;
  }
.spectrum-Tabs-item.is-disabled .spectrum-Tabs-itemLabel {
      cursor: default;
    }
.spectrum-Tabs-item .spectrum-Icon {
    height: 46px;
  }
[dir="ltr"] .spectrum-Tabs-item .spectrum-Icon + .spectrum-Tabs-itemLabel {
      margin-left: 5px;
}
[dir="rtl"] .spectrum-Tabs-item .spectrum-Icon + .spectrum-Tabs-itemLabel {
      margin-right: 5px;
}
[dir="ltr"] .spectrum-Tabs-item::before {
    left: -8px;
}
[dir="rtl"] .spectrum-Tabs-item::before {
    right: -8px;
}
[dir="ltr"] .spectrum-Tabs-item::before {
    right: -8px;
}
[dir="rtl"] .spectrum-Tabs-item::before {
    left: -8px;
}
.spectrum-Tabs-item::before {
    content: '';
    position: absolute;
    top: 50%;

    box-sizing: border-box;

    height: 32px;
    margin-top: -15px;
    border: 2px solid transparent;
    border-radius: 5px;

    pointer-events: none;
  }
.spectrum-Tabs-itemLabel {
  cursor: pointer;
  vertical-align: top;
  display: inline-block;

  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}
.spectrum-Tabs-itemLabel:empty {
    display: none;
  }
[dir="ltr"] .spectrum-Tabs-selectionIndicator {
  left: 0;
}
[dir="rtl"] .spectrum-Tabs-selectionIndicator {
  right: 0;
}
.spectrum-Tabs-selectionIndicator {
  position: absolute;
  z-index: 0;

  transition: transform 130ms ease-in-out;
  transform-origin: top left;

  border-radius: 1px;
}
.spectrum-Tabs--compact .spectrum-Tabs-item {
    height: 30px;
    line-height: 30px;
  }
.spectrum-Tabs--compact .spectrum-Tabs-item .spectrum-Icon {
      height: 30px;
    }
.spectrum-Tabs--horizontal {
  -ms-flex-align: center;
      align-items: center;

  border-bottom: 2px solid;
}
.spectrum-Tabs--horizontal .spectrum-Tabs-item {
    vertical-align: top;
  }
[dir="ltr"] .spectrum-Tabs--horizontal .spectrum-Tabs-item + *:not(.spectrum-Tabs-selectionIndicator) {
      margin-left: 24px;
}
[dir="rtl"] .spectrum-Tabs--horizontal .spectrum-Tabs-item + *:not(.spectrum-Tabs-selectionIndicator) {
      margin-right: 24px;
}
.spectrum-Tabs--horizontal .spectrum-Tabs-selectionIndicator {
    position: absolute;
    bottom: 0;
    height: 2px;

    bottom: -2px;
  }
.spectrum-Tabs--horizontal.spectrum-Tabs--compact {
    box-sizing: content-box;
    height: 30px;
    -ms-flex-align: end;
        align-items: end;
  }
.spectrum-Tabs--quiet {
  display: -ms-inline-flexbox;
  display: inline-flex;
}
[dir="ltr"] .spectrum-Tabs--vertical {
  border-left: 2px solid;
}
[dir="rtl"] .spectrum-Tabs--vertical {
  border-right: 2px solid;
}
.spectrum-Tabs--vertical {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0;
}
[dir="ltr"] .spectrum-Tabs--vertical .spectrum-Tabs-item {
    margin-left: 4px;
}
[dir="rtl"] .spectrum-Tabs--vertical .spectrum-Tabs-item {
    margin-right: 4px;
}
.spectrum-Tabs--vertical .spectrum-Tabs-item {
    height: 44px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 4px;
  }
[dir="ltr"] .spectrum-Tabs--vertical .spectrum-Tabs-item::before {
      left: -2px;
}
[dir="rtl"] .spectrum-Tabs--vertical .spectrum-Tabs-item::before {
      right: -2px;
}
[dir="ltr"] .spectrum-Tabs--vertical .spectrum-Tabs-item::before {
      right: -2px;
}
[dir="rtl"] .spectrum-Tabs--vertical .spectrum-Tabs-item::before {
      left: -2px;
}
.spectrum-Tabs--vertical .spectrum-Tabs-item::before {
      margin-top: -16px;
    }
.spectrum-Tabs--vertical.spectrum-Tabs--compact .spectrum-Tabs-item {
      height: 32px;
      line-height: 32px;
      margin-bottom: 4px;
    }
.spectrum-Tabs--vertical.spectrum-Tabs--compact .spectrum-Tabs-item .spectrum-Icon {
        height: 32px;
      }
[dir="ltr"] .spectrum-Tabs--vertical .spectrum-Tabs-selectionIndicator {
    left: 0px;
}
[dir="rtl"] .spectrum-Tabs--vertical .spectrum-Tabs-selectionIndicator {
    right: 0px;
}
[dir="ltr"] .spectrum-Tabs--vertical .spectrum-Tabs-selectionIndicator {

    left: -2px;
}
[dir="rtl"] .spectrum-Tabs--vertical .spectrum-Tabs-selectionIndicator {

    right: -2px;
}
.spectrum-Tabs--vertical .spectrum-Tabs-selectionIndicator {
    position: absolute;
    width: 2px;
  }
