.spectrum--large .spectrum-SideNav-item {

  margin-top: 5px;

  margin-bottom: 5px;
}
.spectrum--large .spectrum-SideNav-itemLink {
  min-height: 40px;

  padding-left: 15px;

  padding-right: 15px;
  padding-top: 6px;
  padding-bottom: 6px;

  border-radius: 5px;

  font-size: 17px;
  font-weight: 400;

  transition: background-color 130ms ease-out,
              color 130ms ease-out;
}
.spectrum--large .spectrum-SideNav-itemLink.focus-ring::before {

    border-top: 2px solid transparent;

    border-bottom: 2px solid transparent;
    border-radius: 5px;
  }
.spectrum--large [dir="ltr"] .spectrum-SideNav-itemLink .spectrum-SideNav-itemIcon {
    margin-right: 10px;
}
.spectrum--large [dir="rtl"] .spectrum-SideNav-itemLink .spectrum-SideNav-itemIcon {
    margin-left: 10px;
}
.spectrum--large .spectrum-SideNav-heading {
  height: 40px;
  line-height: 40px;

  margin-top: 20px;
  margin-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;

  border-radius: 5px;

  font-size: 13px;
  font-weight: 500;
  letter-spacing: 0.06em;
}
.spectrum--large .spectrum-SideNav--multiLevel .spectrum-SideNav-itemLink {
    font-weight: 700;
  }
.spectrum--large [dir="ltr"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {

      padding-left: 30px;
}
.spectrum--large [dir="rtl"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {

      padding-right: 30px;
}
.spectrum--large .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {
      font-weight: 400;
    }
.spectrum--large [dir="ltr"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav .spectrum-SideNav-itemLink {
        padding-left: 45px;
}
.spectrum--large [dir="rtl"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav .spectrum-SideNav-itemLink {
        padding-right: 45px;
}
.spectrum-SideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.spectrum-SideNav-item {
  list-style-type: none;

  margin-top: 4px;

  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
}
.spectrum-SideNav-itemLink {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: left;
      justify-content: left;
  box-sizing: border-box;

  width: 100%;
  min-height: 32px;

  padding-left: 12px;

  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 4px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;

  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;

  cursor: pointer;

  transition: background-color 130ms ease-out,
              color 130ms ease-out;
}
.spectrum-SideNav-itemLink:focus {
    outline: none;
  }
[dir="ltr"] .spectrum-SideNav-itemLink.focus-ring::before {
    left: 0;
}
[dir="rtl"] .spectrum-SideNav-itemLink.focus-ring::before {
    right: 0;
}
[dir="ltr"] .spectrum-SideNav-itemLink.focus-ring::before {
    right: 0;
}
[dir="rtl"] .spectrum-SideNav-itemLink.focus-ring::before {
    left: 0;
}
.spectrum-SideNav-itemLink.focus-ring::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;

    border-top: 2px solid transparent;

    border-bottom: 2px solid transparent;
    border-radius: 4px;
  }
[dir="ltr"] .spectrum-SideNav-itemLink .spectrum-SideNav-itemIcon {
    margin-right: 8px;
}
[dir="rtl"] .spectrum-SideNav-itemLink .spectrum-SideNav-itemIcon {
    margin-left: 8px;
}
[dir="ltr"] .spectrum-SideNav-heading {
  margin-right: 0;
}
[dir="rtl"] .spectrum-SideNav-heading {
  margin-left: 0;
}
[dir="ltr"] .spectrum-SideNav-heading {
  margin-left: 0;
}
[dir="rtl"] .spectrum-SideNav-heading {
  margin-right: 0;
}
.spectrum-SideNav-heading {
  height: 32px;
  line-height: 32px;

  margin-top: 16px;
  margin-bottom: 4px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;

  border-radius: 4px;

  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}
.spectrum-SideNav--multiLevel .spectrum-SideNav-itemLink {
    font-weight: 700;
  }
.spectrum-SideNav--multiLevel .spectrum-SideNav {
    margin: 0;
    padding: 0;
  }
[dir="ltr"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {

      padding-left: 24px;
}
[dir="rtl"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {

      padding-right: 24px;
}
.spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {
      font-weight: 400;
    }
[dir="ltr"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav .spectrum-SideNav-itemLink {
        padding-left: 36px;
}
[dir="rtl"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav .spectrum-SideNav-itemLink {
        padding-right: 36px;
}
.spectrum--dark .spectrum-SideNav-item.is-selected > .spectrum-SideNav-itemLink {
      color: rgb(203, 203, 203);
      background-color: rgba(255,255,255,0.07);
    }
.spectrum--dark .spectrum-SideNav-item .is-active > .spectrum-SideNav-itemLink {
      background-color: rgba(255,255,255,0.07);
    }
.spectrum--dark .spectrum-SideNav-item.is-disabled .spectrum-SideNav-itemLink {
      background-color: transparent;
      color: rgb(198, 198, 198);

      cursor: default;
      pointer-events: none;
    }
.spectrum--dark .spectrum-SideNav-itemLink {
  background-color: transparent;
  color: rgb(203, 203, 203);
}
.spectrum--dark .spectrum-SideNav-itemLink:hover {
    background-color: rgba(255,255,255,0.07);
    color: rgb(203, 203, 203);
  }
.spectrum--dark .spectrum-SideNav-itemLink:active {
    background-color: rgba(255,255,255,0.07);
  }
.spectrum--dark .spectrum-SideNav-itemLink.focus-ring {
    background-color: rgba(255,255,255,0.07);
    color: rgb(203, 203, 203);
  }
.spectrum--dark .spectrum-SideNav-itemLink.focus-ring::before {
      border-color: rgb(38, 128, 235);
    }
.spectrum--dark .spectrum-SideNav-heading {
  color: rgb(185, 185, 185);
}
.spectrum--darkest .spectrum-SideNav-item.is-selected > .spectrum-SideNav-itemLink {
      color: rgb(255, 255, 255);
      background-color: rgba(255,255,255,0.08);
    }
.spectrum--darkest .spectrum-SideNav-item .is-active > .spectrum-SideNav-itemLink {
      background-color: rgba(255,255,255,0.08);
    }
.spectrum--darkest .spectrum-SideNav-item.is-disabled .spectrum-SideNav-itemLink {
      background-color: transparent;
      color: rgb(151, 151, 151);

      cursor: default;
      pointer-events: none;
    }
.spectrum--darkest .spectrum-SideNav-itemLink {
  background-color: transparent;
  color: rgb(255, 255, 255);
}
.spectrum--darkest .spectrum-SideNav-itemLink:hover {
    background-color: rgba(255,255,255,0.08);
    color: rgb(255, 255, 255);
  }
.spectrum--darkest .spectrum-SideNav-itemLink:active {
    background-color: rgba(255,255,255,0.08);
  }
.spectrum--darkest .spectrum-SideNav-itemLink.focus-ring {
    background-color: rgba(255,255,255,0.08);
    color: rgb(255, 255, 255);
  }
.spectrum--darkest .spectrum-SideNav-itemLink.focus-ring::before {
      border-color: rgb(20, 115, 230);
    }
.spectrum--darkest .spectrum-SideNav-heading {
  color: rgb(162, 162, 162);
}
.spectrum--light .spectrum-SideNav-item.is-selected > .spectrum-SideNav-itemLink {
      color: rgb(40, 40, 40);
      background-color: rgba(40,40,40,0.06);
    }
.spectrum--light .spectrum-SideNav-item .is-active > .spectrum-SideNav-itemLink {
      background-color: rgba(40,40,40,0.06);
    }
.spectrum--light .spectrum-SideNav-item.is-disabled .spectrum-SideNav-itemLink {
      background-color: transparent;
      color: rgb(179, 179, 179);

      cursor: default;
      pointer-events: none;
    }
.spectrum--light .spectrum-SideNav-itemLink {
  background-color: transparent;
  color: rgb(40, 40, 40);
}
.spectrum--light .spectrum-SideNav-itemLink:hover {
    background-color: rgba(40,40,40,0.06);
    color: rgb(40, 40, 40);
  }
.spectrum--light .spectrum-SideNav-itemLink:active {
    background-color: rgba(40,40,40,0.06);
  }
.spectrum--light .spectrum-SideNav-itemLink.focus-ring {
    background-color: rgba(40,40,40,0.06);
    color: rgb(40, 40, 40);
  }
.spectrum--light .spectrum-SideNav-itemLink.focus-ring::before {
      border-color: rgb(38, 128, 235);
    }
.spectrum--light .spectrum-SideNav-heading {
  color: rgb(110, 110, 110);
}
.spectrum--lightest .spectrum-SideNav-item.is-selected > .spectrum-SideNav-itemLink {
      color: rgb(73, 73, 73);
      background-color: rgba(73,73,73,0.06);
    }
.spectrum--lightest .spectrum-SideNav-item .is-active > .spectrum-SideNav-itemLink {
      background-color: rgba(73,73,73,0.06);
    }
.spectrum--lightest .spectrum-SideNav-item.is-disabled .spectrum-SideNav-itemLink {
      background-color: transparent;
      color: rgb(188, 188, 188);

      cursor: default;
      pointer-events: none;
    }
.spectrum--lightest .spectrum-SideNav-itemLink {
  background-color: transparent;
  color: rgb(73, 73, 73);
}
.spectrum--lightest .spectrum-SideNav-itemLink:hover {
    background-color: rgba(73,73,73,0.06);
    color: rgb(73, 73, 73);
  }
.spectrum--lightest .spectrum-SideNav-itemLink:active {
    background-color: rgba(73,73,73,0.06);
  }
.spectrum--lightest .spectrum-SideNav-itemLink.focus-ring {
    background-color: rgba(73,73,73,0.06);
    color: rgb(73, 73, 73);
  }
.spectrum--lightest .spectrum-SideNav-itemLink.focus-ring::before {
      border-color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-SideNav-heading {
  color: rgb(116, 116, 116);
}
