@namespace "library://ns.unhurdle.com/spectrum";

Menu
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("com.unhurdle.spectrum.MenuMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.MenuItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}

List
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.ListItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
SideNav
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.SideNavItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
Breadcrumbs
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.BreadcrumbsItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
AssetList
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.AssetListItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
/* Tabs
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.TabsItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
} */
ComboBox
{
	IBeadModel: ClassReference("com.unhurdle.spectrum.ComboBoxModel");
	IBeadView: ClassReference("com.unhurdle.spectrum.ComboBoxView");
	IBeadController: ClassReference("com.unhurdle.spectrum.ComboBoxController");
	IPopUp: ClassReference("com.unhurdle.spectrum.ComboBoxList");
}
DatePicker {
	IBeadModel:  ClassReference("com.unhurdle.spectrum.models.DatePickerModel");
	IFormatBead: ClassReference("org.apache.royale.html.accessories.DateFormatYYYYMMDD");
}
