@namespace "library://ns.unhurdle.com/spectrum";
@namespace js "library://ns.apache.org/royale/basic";
@namespace colorarea "com.unhurdle.spectrum.colorarea.*";

Menu
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("com.unhurdle.spectrum.MenuMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.SelectableItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.MenuItemRenderer");
	ISelectableItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.SelectableItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}

List
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.SelectableItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.ListItemRenderer");
	ISelectableItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.SelectableItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
Tree
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.TreeModel");
	IBeadView:  ClassReference("org.apache.royale.html.beads.ListView");
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.TreeSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForHierarchicalData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.SelectableItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.TreeItemRendererInitializer");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.TreeItemRenderer");
	ISelectableItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.SelectableItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
	border: 1px solid #222222;
}

Breadcrumbs
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.SelectableItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.BreadcrumbsItemRenderer");
	ISelectableItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.SelectableItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}
AssetList
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.SelectableItemRendererClassFactory");
	IItemRendererInitializer: ClassReference("org.apache.royale.html.beads.IndexedItemRendererInitializer");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.AssetListItemRenderer");
	ISelectableItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.SelectableItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
}

/* Tabs
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.AssetListItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
} */
/* MillerColumns
{
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ArraySelectionModel");
	IBeadView:  ClassReference("com.unhurdle.spectrum.MenuView");			
	IBeadController: ClassReference("org.apache.royale.html.beads.controllers.ListSingleSelectionMouseController");
	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
	IDataProviderItemRendererMapper: ClassReference("org.apache.royale.html.beads.DataItemRendererFactoryForArrayData");
	IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.MillerColumnsItemRenderer");
	IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport");
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
} */
ComboBox
{
	IBeadModel: ClassReference("com.unhurdle.spectrum.ComboBoxModel");
	IBeadView: ClassReference("com.unhurdle.spectrum.ComboBoxView");
	IBeadController: ClassReference("com.unhurdle.spectrum.ComboBoxController");
	IPopUp: ClassReference("com.unhurdle.spectrum.ComboBoxList");
}
DatePicker {
	IBeadModel:  ClassReference("com.unhurdle.spectrum.model.DatePickerModel");
	IFormatter: ClassReference("org.apache.royale.html.accessories.DateFormatYYYYMMDD");
}

Table {

	IBeadLayout: ClassReference("org.apache.royale.html.beads.layouts.NoLayout");
  IBeadView: ClassReference("com.unhurdle.spectrum.TableView");
  IBeadModel: ClassReference("com.unhurdle.spectrum.model.TableModel");
  IItemRendererClassFactory: ClassReference("org.apache.royale.core.ItemRendererClassFactory");
	IItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.TableItemRenderer");
	ISelectableItemRenderer: ClassReference("com.unhurdle.spectrum.renderers.SelectableItemRenderer");
  IBeadController: ClassReference("com.unhurdle.spectrum.controllers.TableCellSelectionMouseController");
  IDataProviderItemRendererMapper: ClassReference("com.unhurdle.spectrum.renderers.TableItemRendererFactoryForCollectionView");
  IViewport: ClassReference("org.apache.royale.html.supportClasses.ScrollingViewport"); 
	IViewportModel: ClassReference("org.apache.royale.html.beads.models.ViewportModel");
	IContentView: ClassReference("com.unhurdle.spectrum.TBodyContentArea");
}

TableItemRenderer{
  IBeadController: ClassReference("com.unhurdle.spectrum.controllers.ItemRendererMouseController");
}

js|HueSelector {
	IBeadLayout: ClassReference("com.unhurdle.spectrum.colorarea.VerticalSliderLayout");
	IBeadView: ClassReference("com.unhurdle.spectrum.colorarea.ColorAreaSliderView");
	IBeadController: ClassReference("com.unhurdle.spectrum.colorarea.VSliderMouseController");
	border-radius: 4px;
}

js|ColorSpectrum {
	IBeadView:  ClassReference("com.unhurdle.spectrum.colorarea.MyColorSpectrumView");
}

js|ColorPalette {
	IItemRenderer: ClassReference("com.unhurdle.spectrum.colorarea.MyColorItemRenderer");
}

colorarea|MyAlphaSelector {
	IBeadLayout: ClassReference("com.unhurdle.spectrum.colorarea.VerticalSliderLayout");
	IBeadModel: ClassReference("com.unhurdle.spectrum.colorarea.MyAlphaSelectorModel");
	IBeadView: ClassReference("com.unhurdle.spectrum.colorarea.MyAlphaSelectorView");
	IBeadController: ClassReference("com.unhurdle.spectrum.colorarea.VSliderMouseController");
	border-radius: 4px;
}

colorarea|ColorArea {
	IPopUp: ClassReference("com.unhurdle.spectrum.colorarea.MyColorPickerPopUpWithPalette");
	IBeadView: ClassReference("com.unhurdle.spectrum.colorarea.MyColorPickerView");
	IBeadModel: ClassReference("com.unhurdle.spectrum.colorarea.ArrayColorSelectionWithAlphaModel");
}

colorarea|MyAlphaTextField {
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.RangeModel");
	IBeadController: ClassReference("com.unhurdle.spectrum.colorarea.AlphaTextFieldController");
}

colorarea|MyColorTextField {
	IBeadModel: ClassReference("org.apache.royale.html.beads.models.ColorModel");
	IBeadController: ClassReference("com.unhurdle.spectrum.colorarea.ColorTextFieldController");
}

.ColorSpectrum {
	border-radius: 4px;
}
