.spectrum-Tags {
  display: inline-block;

  margin: 0;
  padding: 0;
  list-style: none;
}
.spectrum-Tags-item {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  box-sizing: border-box;

  margin-top: 4px;

  margin-bottom: 4px;
  margin-left: 4px;
  margin-right: 4px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: calc(10px - var(--spectrum-tag-border-size));
  padding-right: calc(10px - var(--spectrum-tag-border-size));
  height: 24px;
  max-width: 100%;

  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  transition: border-color 130ms ease-in-out,
    color 130ms ease-in-out,
    box-shadow 130ms ease-in-out,
    background-color 130ms ease-in-out;
}
.spectrum-Tags-item.is-disabled {
    pointer-events: none;
  }
[dir="ltr"] .spectrum-Tags-item > .spectrum-Icon,[dir="ltr"] 
  .spectrum-Tags-item > .spectrum-Avatar {
    margin-right: 8px;
}
[dir="rtl"] .spectrum-Tags-item > .spectrum-Icon,[dir="rtl"] 
  .spectrum-Tags-item > .spectrum-Avatar {
    margin-left: 8px;
}
[dir="ltr"] .spectrum-Tags-item > .spectrum-Icon,[dir="ltr"] 
  .spectrum-Tags-item > .spectrum-Avatar {
    margin-left: -2px;
}
[dir="rtl"] .spectrum-Tags-item > .spectrum-Icon,[dir="rtl"] 
  .spectrum-Tags-item > .spectrum-Avatar {
    margin-right: -2px;
}
[dir="ltr"] .spectrum-Tags-item > .spectrum-Icon ~ .spectrum-Tags-itemLabel,[dir="ltr"]  .spectrum-Tags-item > .spectrum-Avatar ~ .spectrum-Tags-itemLabel {
      margin-right: -2px;
}
[dir="rtl"] .spectrum-Tags-item > .spectrum-Icon ~ .spectrum-Tags-itemLabel,[dir="rtl"]  .spectrum-Tags-item > .spectrum-Avatar ~ .spectrum-Tags-itemLabel {
      margin-left: -2px;
}
[dir="ltr"] .spectrum-Tags-item .spectrum-ClearButton {
    margin-right: -10px;
}
[dir="rtl"] .spectrum-Tags-item .spectrum-ClearButton {
    margin-left: -10px;
}
.spectrum-Tags-itemLabel {
  height: 100%;
  line-height: 22px;
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;
  font-size: 12px;
  cursor: default;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
