.spectrum--large .spectrum-Dialog {

  transition: transform 130ms ease-in-out,
              opacity 130ms ease-in-out,
              visibility 0ms linear 130ms;
}
.spectrum--large .spectrum-Dialog {
  transform: translateX(-50%) translateY(-50%) translateY(25px);
  max-width: 90vw;
  max-height: 90vh;
  min-width: 288px;

  padding: 24px;

  border-radius: 5px;
  transition: opacity 130ms cubic-bezier(.50, 0, 1, 1) 0ms,
              visibility 0ms linear 130ms,
              transform 0ms linear 130ms;
}
.spectrum--large .spectrum-Dialog.is-open {
    transition: transform 250ms cubic-bezier(0, 0, 0.40, 1) 160ms,
                opacity 250ms cubic-bezier(0, 0, 0.40, 1) 160ms;

    transform: translate(-50%, calc(-50% + -2vh));
  }
.spectrum--large .spectrum-Dialog--small {
  width: 400px;
}
.spectrum--large .spectrum-Dialog--medium {
  width: 480px;
}
.spectrum--large .spectrum-Dialog--large {
  width: 640px;
}
.spectrum--large [dir="ltr"] .spectrum-Dialog-hero {

  margin-left: -24px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-hero {

  margin-right: -24px;
}
.spectrum--large [dir="ltr"] .spectrum-Dialog-hero {
  margin-right: -24px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-hero {
  margin-left: -24px;
}
.spectrum--large [dir="ltr"] .spectrum-Dialog-hero {

  border-top-left-radius: 5px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-hero {

  border-top-right-radius: 5px;
}
.spectrum--large [dir="ltr"] .spectrum-Dialog-hero {
  border-top-right-radius: 5px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-hero {
  border-top-left-radius: 5px;
}
.spectrum--large .spectrum-Dialog-hero {
  height: 160px;
  margin-top: -24px;
  margin-bottom: 24px;
}
.spectrum--large .spectrum-Dialog-header {

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  padding-bottom: 30px;
}
.spectrum--large .spectrum-Dialog-header::after {
    bottom: 16px;

    height: 2px;
  }
.spectrum--large .spectrum-Dialog-wrapper {
  transition: visibility 0ms linear 130ms;
}
.spectrum--large .spectrum-Dialog-wrapper .spectrum-Dialog:not(.spectrum-Dialog--fullscreen):not(.spectrum-Dialog--fullscreenTakeover) {
    transform: translateY(25px);
    margin-top: -2vh;
  }
.spectrum--large [dir="ltr"] .spectrum-Dialog-closeButton {
  right: -35px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-closeButton {
  left: -35px;
}
.spectrum--large .spectrum-Dialog-closeButton {
  top: -35px;
}
.spectrum--large [dir="ltr"] .spectrum-Dialog-typeIcon {
  margin-left: 24px;
}
.spectrum--large [dir="rtl"] .spectrum-Dialog-typeIcon {
  margin-right: 24px;
}
.spectrum--large .spectrum-Dialog-content {

  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
}
.spectrum--large .spectrum-Dialog-footer {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding-top: 35px;

  margin: -10px;
}
.spectrum--large .spectrum-Dialog-footer > *,
  .spectrum--large .spectrum-Dialog-footer > .spectrum-Button + .spectrum-Button {
    margin: 10px;
  }
.spectrum--large .spectrum-Dialog-title {

  font-size: 19px;
  font-weight: 700;
  line-height: 1.3;
}
.spectrum--large .spectrum-Dialog--alert {
  width: 480px;
}
.spectrum--large .spectrum-Dialog--fullscreen {
  top: 32px;
  right: 32px;
  bottom: 32px;
  left: 32px;

  transform: translate(0, 25px);
}
.spectrum--large .spectrum-Dialog--fullscreen,
.spectrum--large .spectrum-Dialog--fullscreenTakeover {

  padding-top: 14px;
}
.spectrum--large .spectrum-Dialog--fullscreen .spectrum-Dialog-title, .spectrum--large .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-title {
    font-size: 28px;
    font-weight: 100;
  }
.spectrum-Dialog {
  visibility: hidden;

  opacity: 0;

  transition: transform 130ms ease-in-out,
              opacity 130ms ease-in-out,
              visibility 0ms linear 130ms;

  pointer-events: none;
}
.spectrum-Dialog.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
.spectrum-Dialog {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%) translateY(20px);
  z-index: 2;
  box-sizing: border-box;
  max-width: 90vw;
  max-height: 90vh;
  width: -webkit-fit-content;
  width: fit-content;
  min-width: 288px;

  padding: 40px;

  border-radius: 4px;
  outline: none;
  transition: opacity 130ms cubic-bezier(.50, 0, 1, 1) 0ms,
              visibility 0ms linear 130ms,
              transform 0ms linear 130ms;
}
.spectrum-Dialog.is-open {
    transition: transform 250ms cubic-bezier(0, 0, 0.40, 1) 160ms,
                opacity 250ms cubic-bezier(0, 0, 0.40, 1) 160ms;

    transform: translate(-50%, calc(-50% + -2vh));
  }
.spectrum-Dialog .spectrum-Dialog-closeButton {
    display: none;
  }
.spectrum-Dialog--small {
  width: 400px;
}
.spectrum-Dialog--medium {
  width: 480px;
}
.spectrum-Dialog--large {
  width: 640px;
}
[dir="ltr"] .spectrum-Dialog-hero {

  margin-left: -40px;
}
[dir="rtl"] .spectrum-Dialog-hero {

  margin-right: -40px;
}
[dir="ltr"] .spectrum-Dialog-hero {
  margin-right: -40px;
}
[dir="rtl"] .spectrum-Dialog-hero {
  margin-left: -40px;
}
[dir="ltr"] .spectrum-Dialog-hero {

  border-top-left-radius: 4px;
}
[dir="rtl"] .spectrum-Dialog-hero {

  border-top-right-radius: 4px;
}
[dir="ltr"] .spectrum-Dialog-hero {
  border-top-right-radius: 4px;
}
[dir="rtl"] .spectrum-Dialog-hero {
  border-top-left-radius: 4px;
}
.spectrum-Dialog-hero {
  height: 128px;
  margin-top: -40px;
  margin-bottom: 40px;

  background-size: cover;
  background-position: center center;
}
.spectrum-Dialog-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;

  position: relative;
  box-sizing: border-box;
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  outline: none;

  padding-bottom: 30px;
}
.spectrum-Dialog-header::after {
    position: absolute;
    bottom: 16px;
    left: 0;
    right: 0;
    content: '';

    height: 2px;
  }
.spectrum-Dialog-wrapper {
  position: fixed;
  left: 0;
  right: 0;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  visibility: hidden;
  pointer-events: none;
  z-index: 2;
  transition: visibility 0ms linear 130ms;
}
.spectrum-Dialog-wrapper.is-open {
    visibility: visible;
  }
.spectrum-Dialog-wrapper .spectrum-Dialog:not(.spectrum-Dialog--fullscreen):not(.spectrum-Dialog--fullscreenTakeover) {
    pointer-events: auto;

    position: relative;
    left: auto;
    top: auto;
    transform: translateY(20px);
    margin-top: -2vh;
  }
.spectrum-Dialog-wrapper .spectrum-Dialog:not(.spectrum-Dialog--fullscreen):not(.spectrum-Dialog--fullscreenTakeover).is-open {
      transform: translateY(0);
    }
@media
only screen and (max-device-width: 400px), only screen and (max-device-height: 350px) {
  .spectrum-Dialog--responsive {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 0;
  }
    .spectrum-Dialog-wrapper .spectrum-Dialog--responsive {
      margin-top: 0;
    }
}
.spectrum-Dialog--noDivider .spectrum-Dialog-header::after {
      display: none;
    }
.spectrum-Dialog--dismissible .spectrum-Dialog-footer {
    display: none;
  }
.spectrum-Dialog--dismissible .spectrum-Dialog-closeButton {
    display: initial;
  }
[dir="ltr"] .spectrum-Dialog-closeButton {
  right: -28px;
}
[dir="rtl"] .spectrum-Dialog-closeButton {
  left: -28px;
}
.spectrum-Dialog-closeButton {
  position: absolute;
  top: -28px;
}
[dir="ltr"] .spectrum-Dialog-typeIcon {
  margin-left: 24px;
}
[dir="rtl"] .spectrum-Dialog-typeIcon {
  margin-right: 24px;
}
.spectrum-Dialog-typeIcon {
  display: block;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.spectrum-Dialog-content {
  display: block;
  box-sizing: border-box;

  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  -ms-flex: 1 1 auto;

      flex: 1 1 auto;

  outline: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .spectrum-Dialog-content {
    max-height: 70vh;
  }
}
.spectrum-Dialog-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  padding-top: 28px;

  -ms-flex: 0 1 auto;

      flex: 0 1 auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;

  outline: none;

  margin: -8px;
  margin-top: 0;
}
.spectrum-Dialog-footer > *,
  .spectrum-Dialog-footer > .spectrum-Button + .spectrum-Button {
    margin: 8px;
  }
.spectrum-Dialog-title {
  -ms-flex: 1 1 auto;
      flex: 1 1 auto;

  margin: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 1.3;

  outline: none;
}
.spectrum-Dialog--alert {
  width: 480px;
}
.spectrum-Dialog--fullscreen {
  top: 32px;
  right: 32px;
  bottom: 32px;
  left: 32px;

  transform: translate(0, 20px);
}
.spectrum-Dialog--fullscreen.is-open {
    transform: translate(0, 0);
  }
.spectrum-Dialog--fullscreen,
.spectrum-Dialog--fullscreenTakeover {
  width: auto;
  max-height: none;
  max-width: none;

  padding-top: 30px;
}
.spectrum-Dialog--fullscreen .spectrum-Dialog-header, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-header {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
.spectrum-Dialog--fullscreen .spectrum-Dialog-title, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-title {
    font-size: 28px;
    font-weight: 100;
  }
.spectrum-Dialog--fullscreen .spectrum-Dialog-content, .spectrum-Dialog--fullscreenTakeover .spectrum-Dialog-content {
    max-height: none;
  }
.spectrum-Dialog--fullscreenTakeover {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  box-sizing: border-box;
  border: none;
  border-radius: 0;
}
.spectrum-Dialog--fullscreenTakeover,
  .spectrum-Dialog--fullscreenTakeover.is-open {
    transform: none;
  }
.spectrum--dark .spectrum-Dialog {
  background: rgb(84, 84, 84);
}
.spectrum--dark .spectrum-Dialog-header {
  background: rgb(84, 84, 84);
}
.spectrum--dark .spectrum-Dialog-header:after {
    background: rgb(74, 74, 74);
  }
.spectrum--dark .spectrum-Dialog-title {
  color: rgb(203, 203, 203);
}
.spectrum--dark .spectrum-Dialog-content {
  color: rgb(203, 203, 203);
}
.spectrum--dark .spectrum-Dialog-typeIcon {
  color: rgb(203, 203, 203);
}
.spectrum--dark .spectrum-Dialog-footer {
  background: rgb(84, 84, 84);
}
.spectrum--dark .spectrum-Dialog--error .spectrum-Dialog-title {
    color: rgb(203, 203, 203);
  }
.spectrum--dark .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(247, 109, 116);
  }
.spectrum--darkest .spectrum-Dialog {
  background: rgb(53, 53, 53);
}
.spectrum--darkest .spectrum-Dialog-header {
  background: rgb(53, 53, 53);
}
.spectrum--darkest .spectrum-Dialog-header:after {
    background: rgb(57, 57, 57);
  }
.spectrum--darkest .spectrum-Dialog-title {
  color: rgb(255, 255, 255);
}
.spectrum--darkest .spectrum-Dialog-content {
  color: rgb(255, 255, 255);
}
.spectrum--darkest .spectrum-Dialog-typeIcon {
  color: rgb(255, 255, 255);
}
.spectrum--darkest .spectrum-Dialog-footer {
  background: rgb(53, 53, 53);
}
.spectrum--darkest .spectrum-Dialog--error .spectrum-Dialog-title {
    color: rgb(255, 255, 255);
  }
.spectrum--darkest .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(236, 91, 98);
  }
.spectrum--light .spectrum-Dialog {
  background: rgb(184, 184, 184);
}
.spectrum--light .spectrum-Dialog-header {
  background: rgb(184, 184, 184);
}
.spectrum--light .spectrum-Dialog-header:after {
    background: rgb(225, 225, 225);
  }
.spectrum--light .spectrum-Dialog-title {
  color: rgb(40, 40, 40);
}
.spectrum--light .spectrum-Dialog-content {
  color: rgb(40, 40, 40);
}
.spectrum--light .spectrum-Dialog-typeIcon {
  color: rgb(40, 40, 40);
}
.spectrum--light .spectrum-Dialog-footer {
  background: rgb(184, 184, 184);
}
.spectrum--light .spectrum-Dialog--error .spectrum-Dialog-title {
    color: rgb(40, 40, 40);
  }
.spectrum--light .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(201, 37, 45);
  }
.spectrum--lightest .spectrum-Dialog {
  background: rgb(240, 240, 240);
}
.spectrum--lightest .spectrum-Dialog-header {
  background: rgb(240, 240, 240);
}
.spectrum--lightest .spectrum-Dialog-header:after {
    background: rgb(234, 234, 234);
  }
.spectrum--lightest .spectrum-Dialog-title {
  color: rgb(73, 73, 73);
}
.spectrum--lightest .spectrum-Dialog-content {
  color: rgb(73, 73, 73);
}
.spectrum--lightest .spectrum-Dialog-typeIcon {
  color: rgb(73, 73, 73);
}
.spectrum--lightest .spectrum-Dialog-footer {
  background: rgb(240, 240, 240);
}
.spectrum--lightest .spectrum-Dialog--error .spectrum-Dialog-title {
    color: rgb(73, 73, 73);
  }
.spectrum--lightest .spectrum-Dialog--error .spectrum-Dialog-typeIcon {
    color: rgb(215, 55, 63);
  }
