.spectrum-Search {
  display: inline-block;
  position: relative;
}
[dir="ltr"] .spectrum-Search-clearButton {
  right: 0;
}
[dir="rtl"] .spectrum-Search-clearButton {
  left: 0;
}
.spectrum-Search-clearButton {
  position: absolute;
  top: 0;
}
.spectrum-Search-input {
  -webkit-appearance: none;
  outline-offset: -2px;
}
.spectrum-Search-input::-webkit-search-cancel-button,
  .spectrum-Search-input::-webkit-search-decoration {
    -webkit-appearance: none;
  }
.spectrum-Search--quiet .spectrum-Search-clearButton {
    transform: translateX(12px);
  }
