.spectrum--darkest .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
      border-color: rgb(38, 128, 235);
    }
.spectrum--darkest .spectrum-Radio-label {
  color: rgb(255, 255, 255);
}
.spectrum--darkest .spectrum-Radio-button:before {
    background-color: rgb(26, 26, 26);
    border-color: rgb(162, 162, 162);
  }
.spectrum--darkest .spectrum-Radio:hover .spectrum-Radio-button:before {
        border-color: rgb(162, 162, 162);
        box-shadow: none;
      }
.spectrum--darkest .spectrum-Radio:hover .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(55, 142, 240);
      }
.spectrum--darkest .spectrum-Radio:hover .spectrum-Radio-label {
      color: rgb(255, 255, 255);
    }
.spectrum--darkest .spectrum-Radio:active .spectrum-Radio-button:before {
        border-color: rgb(255, 255, 255);
      }
.spectrum--darkest .spectrum-Radio:active .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(75, 156, 245);
      }
.spectrum--darkest .spectrum-Radio:active .spectrum-Radio-label {
      color: rgb(255, 255, 255);
    }
.spectrum--darkest .spectrum-Radio--quiet .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
      border-color: rgb(162, 162, 162);
    }
.spectrum--darkest .spectrum-Radio--quiet:hover .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(255, 255, 255);
      }
.spectrum--darkest .spectrum-Radio--quiet:active .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(255, 255, 255);
      }
.spectrum--darkest .spectrum-Radio.is-invalid:hover .spectrum-Radio-input + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio--quiet.is-invalid:hover .spectrum-Radio-input + .spectrum-Radio-button:before {
        border-color: rgb(236, 91, 98);
      }
.spectrum--darkest .spectrum-Radio.is-invalid:hover .spectrum-Radio-label,
.spectrum--darkest .spectrum-Radio--quiet.is-invalid:hover .spectrum-Radio-label {
      color: rgb(236, 91, 98);
    }
.spectrum--darkest .spectrum-Radio.is-invalid:active .spectrum-Radio-input + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio--quiet.is-invalid:active .spectrum-Radio-input + .spectrum-Radio-button:before {
        border-color: rgb(247, 109, 116);
      }
.spectrum--darkest .spectrum-Radio.is-invalid:active .spectrum-Radio-label,
.spectrum--darkest .spectrum-Radio--quiet.is-invalid:active .spectrum-Radio-label {
      color: rgb(247, 109, 116);
    }
.spectrum--darkest .spectrum-Radio.is-invalid .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio.is-invalid .spectrum-Radio-input:checked + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio--quiet.is-invalid .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio--quiet.is-invalid .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(227, 72, 80);
      }
.spectrum--darkest .spectrum-Radio.is-invalid .spectrum-Radio-label,
.spectrum--darkest .spectrum-Radio--quiet.is-invalid .spectrum-Radio-label {
      color: rgb(227, 72, 80);
    }
.spectrum--darkest .spectrum-Radio .spectrum-Radio-input:disabled + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio .spectrum-Radio-input:checked:disabled + .spectrum-Radio-button:before {
      border-color: rgb(73, 73, 73);
    }
.spectrum--darkest .spectrum-Radio .spectrum-Radio-input:disabled ~ .spectrum-Radio-label,
.spectrum--darkest .spectrum-Radio .spectrum-Radio-input:checked:disabled ~ .spectrum-Radio-label {
    color: rgb(151, 151, 151);
  }
.spectrum--darkest .spectrum-Radio .spectrum-Radio-input + .spectrum-Radio-button:after,
.spectrum--darkest .spectrum-Radio:hover .spectrum-Radio-input + .spectrum-Radio-button:after,
.spectrum--darkest .spectrum-Radio--quiet .spectrum-Radio-input + .spectrum-Radio-button:after,
.spectrum--darkest .spectrum-Radio--quiet:hover .spectrum-Radio-input + .spectrum-Radio-button:after {
        box-shadow: 0 0 0 2px rgb(20, 115, 230);
        opacity: 0;
      }
.spectrum--darkest .spectrum-Radio .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before {
        border-color: rgb(162, 162, 162);
      }
.spectrum--darkest .spectrum-Radio .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--darkest .spectrum-Radio:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--darkest .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--darkest .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after {
        opacity: 1;
      }
.spectrum--darkest .spectrum-Radio .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio:hover .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--darkest .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before {
        border-color: rgb(55, 142, 240);
      }
