.spectrum--lightest .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
      border-color: rgb(38, 128, 235);
    }
.spectrum--lightest .spectrum-Radio-label {
  color: rgb(73, 73, 73);
}
.spectrum--lightest .spectrum-Radio-button:before {
    background-color: rgb(255, 255, 255);
    border-color: rgb(149, 149, 149);
  }
.spectrum--lightest .spectrum-Radio:hover .spectrum-Radio-button:before {
        border-color: rgb(116, 116, 116);
        box-shadow: none;
      }
.spectrum--lightest .spectrum-Radio:hover .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(20, 115, 230);
      }
.spectrum--lightest .spectrum-Radio:hover .spectrum-Radio-label {
      color: rgb(73, 73, 73);
    }
.spectrum--lightest .spectrum-Radio:active .spectrum-Radio-button:before {
        border-color: rgb(73, 73, 73);
      }
.spectrum--lightest .spectrum-Radio:active .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(13, 102, 208);
      }
.spectrum--lightest .spectrum-Radio:active .spectrum-Radio-label {
      color: rgb(73, 73, 73);
    }
.spectrum--lightest .spectrum-Radio--quiet .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
      border-color: rgb(116, 116, 116);
    }
.spectrum--lightest .spectrum-Radio--quiet:hover .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(73, 73, 73);
      }
.spectrum--lightest .spectrum-Radio--quiet:active .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(73, 73, 73);
      }
.spectrum--lightest .spectrum-Radio.is-invalid:hover .spectrum-Radio-input + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio--quiet.is-invalid:hover .spectrum-Radio-input + .spectrum-Radio-button:before {
        border-color: rgb(215, 55, 63);
      }
.spectrum--lightest .spectrum-Radio.is-invalid:hover .spectrum-Radio-label,
.spectrum--lightest .spectrum-Radio--quiet.is-invalid:hover .spectrum-Radio-label {
      color: rgb(215, 55, 63);
    }
.spectrum--lightest .spectrum-Radio.is-invalid:active .spectrum-Radio-input + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio--quiet.is-invalid:active .spectrum-Radio-input + .spectrum-Radio-button:before {
        border-color: rgb(201, 37, 45);
      }
.spectrum--lightest .spectrum-Radio.is-invalid:active .spectrum-Radio-label,
.spectrum--lightest .spectrum-Radio--quiet.is-invalid:active .spectrum-Radio-label {
      color: rgb(201, 37, 45);
    }
.spectrum--lightest .spectrum-Radio.is-invalid .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio.is-invalid .spectrum-Radio-input:checked + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio--quiet.is-invalid .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio--quiet.is-invalid .spectrum-Radio-input:checked + .spectrum-Radio-button:before {
        border-color: rgb(227, 72, 80);
      }
.spectrum--lightest .spectrum-Radio.is-invalid .spectrum-Radio-label,
.spectrum--lightest .spectrum-Radio--quiet.is-invalid .spectrum-Radio-label {
      color: rgb(227, 72, 80);
    }
.spectrum--lightest .spectrum-Radio .spectrum-Radio-input:disabled + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio .spectrum-Radio-input:checked:disabled + .spectrum-Radio-button:before {
      border-color: rgb(211, 211, 211);
    }
.spectrum--lightest .spectrum-Radio .spectrum-Radio-input:disabled ~ .spectrum-Radio-label,
.spectrum--lightest .spectrum-Radio .spectrum-Radio-input:checked:disabled ~ .spectrum-Radio-label {
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Radio .spectrum-Radio-input + .spectrum-Radio-button:after,
.spectrum--lightest .spectrum-Radio:hover .spectrum-Radio-input + .spectrum-Radio-button:after,
.spectrum--lightest .spectrum-Radio--quiet .spectrum-Radio-input + .spectrum-Radio-button:after,
.spectrum--lightest .spectrum-Radio--quiet:hover .spectrum-Radio-input + .spectrum-Radio-button:after {
        box-shadow: 0 0 0 2px rgb(55, 142, 240);
        opacity: 0;
      }
.spectrum--lightest .spectrum-Radio .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:before {
        border-color: rgb(116, 116, 116);
      }
.spectrum--lightest .spectrum-Radio .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--lightest .spectrum-Radio:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--lightest .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after,
.spectrum--lightest .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring + .spectrum-Radio-button:after {
        opacity: 1;
      }
.spectrum--lightest .spectrum-Radio .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio:hover .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio--quiet .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before,
.spectrum--lightest .spectrum-Radio--quiet:hover .spectrum-Radio-input.focus-ring:checked + .spectrum-Radio-button:before {
        border-color: rgb(20, 115, 230);
      }
