.spectrum-Calendar {
  width: 280px;
  display: inline-block;
}
.spectrum-Calendar--padded {
  margin: 32px 24px;
}
.spectrum-Calendar-header {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-align: center;
      align-items: center;
}
.spectrum-Calendar-title {
  font-size: 18px;
  font-weight: bold;

  line-height: 32px;
  margin: 0;
  -ms-flex-order: 1;
      order: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;


  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
[dir="ltr"] .spectrum-Calendar .spectrum-Calendar-prevMonth,[dir="ltr"] 
  .spectrum-Calendar .spectrum-Calendar-nextMonth,[dir="rtl"] 
  .spectrum-Calendar .spectrum-Calendar-prevMonth,[dir="rtl"] 
  .spectrum-Calendar .spectrum-Calendar-nextMonth {
    margin: 0 3px;
  }
[dir="rtl"] .spectrum-Calendar-prevMonth,[dir="rtl"] 
.spectrum-Calendar-nextMonth { transform: matrix(-1, 0, 0, 1, 0, 0) ; }
.spectrum-Calendar-prevMonth {
  -ms-flex-order: 0;
      order: 0;
}
.spectrum-Calendar-nextMonth {
  -ms-flex-order: 2;
      order: 2;
}
.spectrum-Calendar-dayOfWeek {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  height: 100%;

  width: 32px;

  border-bottom: none !important;

  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none !important;

  cursor: default;
}
.spectrum-Calendar-dayOfWeek[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted;
    letter-spacing: 0.06em;
  }
.spectrum-Calendar-body {
  outline: none;
}
.spectrum-Calendar-table {
  table-layout: fixed;

  border-collapse: collapse;
  border-spacing: 0;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.spectrum-Calendar-tableCell {
  text-align: center;
  padding: 0;
  position: relative;
  box-sizing: content-box;
  height: 32px;
  width: 32px;
  padding: 4px;
}
.spectrum-Calendar-tableCell:focus {
    outline: 0;
  }
[dir="ltr"] .spectrum-Calendar-date {
  left: 0;
}
[dir="rtl"] .spectrum-Calendar-date {
  right: 0;
}
.spectrum-Calendar-date {
  position: absolute;
  display: block;
  top: 0;

  box-sizing: border-box;

  height: 32px;
  width: 32px;
  margin: 4px;

  border-radius: 32px;
  border: 2px solid transparent;

  font-size: 14px;
  line-height: 28px;
  white-space: nowrap;

  cursor: pointer;
}
.spectrum-Calendar-date:lang(ja), .spectrum-Calendar-date:lang(zh), .spectrum-Calendar-date:lang(ko) {
    font-size: 11px;
  }
.spectrum-Calendar-date.is-disabled {
    cursor: default;
    pointer-events: none;
  }
.spectrum-Calendar-date.is-outsideMonth {
    visibility: hidden;
  }
[dir="ltr"] .spectrum-Calendar-date:before {
    left: calc(50% - 16px);
}
[dir="rtl"] .spectrum-Calendar-date:before {
    right: calc(50% - 16px);
}
.spectrum-Calendar-date:before {
    content: '';
    position: absolute;
    top: calc(50% - 16px);
    box-sizing: border-box;
    width: 32px;
    height: 32px;
    border-radius: 32px;
    border: 2px solid transparent;
  }
.spectrum-Calendar-date.is-selected:not(.is-range-selection) {
    font-weight: 700;
  }
.spectrum-Calendar-date.is-selected:not(.is-range-selection):before {
      display: none;
    }
.spectrum-Calendar-date.is-today {
    font-weight: 700;
  }
.spectrum-Calendar-date.is-range-selection {
    margin: 4px 0;
    border-width: 0;
    line-height: 32px;
    border-radius: 0;
    width: 40px;
  }
.spectrum-Calendar-date.is-range-selection.is-range-start,
    .spectrum-Calendar-date.is-range-selection.is-range-end,
    .spectrum-Calendar-date.is-range-selection.is-selection-start,
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      width: 36px;
    }
.spectrum-Calendar-date.is-range-selection.is-selection-start,
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      font-weight: 700;
    }
.spectrum-Calendar-date.is-range-selection.is-selection-start:after, .spectrum-Calendar-date.is-range-selection.is-selection-end:after {
        position: absolute;
        top: 0;

        display: block;

        height: 32px;
        width: 32px;

        border-radius: 32px;

        content: '';
      }
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-start,[dir="ltr"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-start {
      padding-right: 4px;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-start,[dir="rtl"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-start {
      padding-left: 4px;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-start,[dir="ltr"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-start {
      margin-left: 4px;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-start,[dir="rtl"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-start {
      margin-right: 4px;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-start,[dir="ltr"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-start {
      border-top-left-radius: 32px;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-start,[dir="rtl"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-start {
      border-top-right-radius: 32px;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-start,[dir="ltr"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-start {
      border-bottom-left-radius: 32px;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-start,[dir="rtl"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-start {
      border-bottom-right-radius: 32px;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-start:before,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-range-start:after,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-start:before,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-start:after {
        left: 0;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-start:before,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-range-start:after,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-start:before,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-start:after {
        right: 0;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-end,[dir="ltr"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      padding-left: 4px;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-end,[dir="rtl"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      padding-right: 4px;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-end,[dir="ltr"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      margin-right: 4px;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-end,[dir="rtl"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      margin-left: 4px;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-end,[dir="ltr"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      border-top-right-radius: 32px;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-end,[dir="rtl"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      border-top-left-radius: 32px;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-end,[dir="ltr"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      border-bottom-right-radius: 32px;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-end,[dir="rtl"] 
    .spectrum-Calendar-date.is-range-selection.is-selection-end {
      border-bottom-left-radius: 32px;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-end:before,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-range-end:after,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-end:before,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-end:after {
        left: auto;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-end:before,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-range-end:after,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-end:before,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-end:after {
        right: auto;
}
[dir="ltr"] .spectrum-Calendar-date.is-range-selection.is-range-end:before,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-range-end:after,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-end:before,[dir="ltr"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-end:after {
        right: 0;
}
[dir="rtl"] .spectrum-Calendar-date.is-range-selection.is-range-end:before,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-range-end:after,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-end:before,[dir="rtl"] 
      .spectrum-Calendar-date.is-range-selection.is-selection-end:after {
        left: 0;
}
.spectrum-Calendar-date.is-range-selection.is-selection-start.is-selection-end,
    .spectrum-Calendar-date.is-range-selection.is-selection-start.is-range-end,
    .spectrum-Calendar-date.is-range-selection.is-selection-end.is-range-start,
    .spectrum-Calendar-date.is-range-selection.is-range-start.is-range-end {
      width: 32px;
      border-radius: 32px;
    }
