.spectrum--dark .spectrum-Textfield:hover .spectrum-Textfield-input {
      border-color: rgb(110, 110, 110);
      box-shadow: none;
    }
.spectrum--dark .spectrum-Textfield:hover .spectrum-Textfield-input::placeholder {
        color: rgb(255, 255, 255);
      }
.spectrum--dark .spectrum-Textfield:hover .spectrum-Textfield-icon {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Textfield:active .spectrum-Textfield-input {
      border-color: rgb(55, 142, 240);
    }
.spectrum--dark .spectrum-Textfield:active .spectrum-Textfield-icon {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-Textfield.is-valid .spectrum-Textfield-validationIcon {
      color: rgb(57, 185, 144);
    }
.spectrum--dark .spectrum-Textfield.is-invalid .spectrum-Textfield-validationIcon {
      color: rgb(247, 109, 116);
    }
.spectrum--dark .spectrum-Textfield.is-invalid:hover .spectrum-Textfield-input {
        border-color: rgb(247, 109, 116);
      }
.spectrum--dark .spectrum-Textfield.is-disabled .spectrum-Textfield-validationIcon {
      color: rgb(110, 110, 110);
    }
.spectrum--dark .spectrum-Textfield.is-disabled .spectrum-Textfield-icon {
      color: rgb(110, 110, 110);
    }
.spectrum--dark .spectrum-Textfield-icon {
  color: rgb(185, 185, 185);
}
.spectrum--dark .spectrum-Textfield-input {
  background-color: rgb(37, 37, 37);
  border-color: rgb(90, 90, 90);
  color: rgb(227, 227, 227);
}
.spectrum--dark .spectrum-Textfield-input::placeholder {
    color: rgb(144, 144, 144);
  }
.spectrum--dark .spectrum-Textfield.is-focused .spectrum-Textfield-input,
.spectrum--dark .spectrum-Textfield-input:focus {
    border-color: rgb(55, 142, 240);
  }
.spectrum--dark .spectrum-Textfield.is-keyboardFocused .spectrum-Textfield-input,
.spectrum--dark .spectrum-Textfield-input.focus-ring {
    border-color: rgb(38, 128, 235);
    box-shadow: 0 0 0 1px rgb(38, 128, 235);
  }
.spectrum--dark .spectrum-Textfield.is-invalid .spectrum-Textfield-input {
    border-color: rgb(236, 91, 98);
  }
.spectrum--dark .is-keyboardFocused.spectrum-Textfield.is-invalid .spectrum-Textfield-input,
.spectrum--dark .spectrum-Textfield.is-invalid .spectrum-Textfield-input.focus-ring {
      border-color: rgb(38, 128, 235);
      box-shadow: 0 0 0 1px rgb(38, 128, 235);
    }
.spectrum--dark .spectrum-Textfield.is-disabled .spectrum-Textfield-input,
.spectrum--dark .spectrum-Textfield.is-disabled:hover .spectrum-Textfield-input,
.spectrum--dark .spectrum-Textfield-input [disabled] {
    background-color: rgb(62, 62, 62);
    border-color: transparent;
    color: rgb(110, 110, 110);
    -webkit-text-fill-color: rgb(110, 110, 110);
  }
.spectrum--dark .spectrum-Textfield.is-disabled .spectrum-Textfield-input::placeholder,
.spectrum--dark .spectrum-Textfield.is-disabled:hover .spectrum-Textfield-input::placeholder,
.spectrum--dark .spectrum-Textfield-input [disabled]::placeholder {
      color: rgb(110, 110, 110);
    }
.spectrum--dark .spectrum-Textfield--quiet .spectrum-Textfield-input {
    background-color: transparent;
    border-color: rgb(90, 90, 90);
  }
.spectrum--dark :hover.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(110, 110, 110);
    }
.spectrum--dark :active.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(55, 142, 240);
    }
.spectrum--dark .is-focused.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--dark .spectrum-Textfield--quiet .spectrum-Textfield-input:focus {
      border-color: rgb(55, 142, 240);
    }
.spectrum--dark .is-keyboardFocused.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--dark .spectrum-Textfield--quiet .spectrum-Textfield-input.focus-ring {
      border-color: rgb(38, 128, 235);
      box-shadow: 0 1px 0 rgb(38, 128, 235);
    }
.spectrum--dark .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input {
      border-color: rgb(236, 91, 98);
    }
.spectrum--dark .is-focused.is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--dark .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input:focus {
        border-color: rgb(247, 109, 116);
      }
.spectrum--dark .is-keyboardFocused.is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--dark .is-invalid.spectrum-Textfield--quiet .spectrum-Textfield-input.focus-ring {
        border-color: rgb(38, 128, 235);
        box-shadow: 0 1px 0 rgb(38, 128, 235);
      }
.spectrum--dark .is-disabled:hover.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--dark .is-disabled.spectrum-Textfield--quiet .spectrum-Textfield-input,
.spectrum--dark .spectrum-Textfield--quiet .spectrum-Textfield-input [disabled] {
      background-color: transparent;
      border-color: rgb(74, 74, 74);
    }
