.spectrum--large .spectrum-Tray {

  transition: transform 130ms ease-in-out,
              opacity 130ms ease-in-out,
              visibility 0ms linear 130ms;
}
.spectrum--large .spectrum-Tray {
  width: 100%;
  max-width: 375px;
  min-height: 64px;
  max-height: calc(100vh - 64px);
  border-radius: 5px 5px 0px 0px;
  padding: 0 8px;
  transition: opacity 130ms cubic-bezier(0.5, 0, 1, 1) 0ms,
    visibility 0ms linear 130ms,
    transform 130ms cubic-bezier(0.5, 0, 1, 1) 0ms;
}
.spectrum--large .spectrum-Tray.is-open {
    transition: transform 250ms cubic-bezier(0, 0, 0.40, 1) 160ms,
      opacity 250ms cubic-bezier(0, 0, 0.40, 1) 160ms;
  }
@media (max-inline-size: 375px) {
  .spectrum--large .spectrum-Tray {
    border-radius: 0px;
  }
}
.spectrum-Tray {
  visibility: hidden;

  opacity: 0;

  transition: transform 130ms ease-in-out,
              opacity 130ms ease-in-out,
              visibility 0ms linear 130ms;

  pointer-events: none;
}
.spectrum-Tray.is-open {
  visibility: visible;

  opacity: 1;

  transition-delay: 0ms;

  pointer-events: auto;
}
[dir="ltr"] .spectrum-Tray-wrapper {
  left: 0;
}
[dir="rtl"] .spectrum-Tray-wrapper {
  right: 0;
}
.spectrum-Tray-wrapper {
  position: fixed;
  bottom: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 100%;
  z-index: 2;
}
.spectrum-Tray {
  width: 100%;
  max-width: 375px;
  min-height: 64px;
  max-height: calc(100vh - 64px);
  overflow: auto;
  outline: none;
  border-radius: 4px 4px 0px 0px;
  padding: 0 8px;
  transform: translateY(100%);
  transition: opacity 130ms cubic-bezier(0.5, 0, 1, 1) 0ms,
    visibility 0ms linear 130ms,
    transform 130ms cubic-bezier(0.5, 0, 1, 1) 0ms;
}
.spectrum-Tray.is-open {
    transition: transform 250ms cubic-bezier(0, 0, 0.40, 1) 160ms,
      opacity 250ms cubic-bezier(0, 0, 0.40, 1) 160ms;
    transform: translateY(0);
  }
@media (max-inline-size: 375px) {
  .spectrum-Tray {
    border-radius: 0px;
  }
}
