.spectrum--large .spectrum-Tray {

  transition: transform 130ms ease-in-out,
              opacity 130ms ease-in-out,
              visibility 0ms linear 130ms;
}
.spectrum--large .spectrum-Tray {
  width: 100%;
  max-width: 375px;
  min-height: 64px;
  max-height: calc(100vh - 64px);
  border-radius: 5px 5px 0px 0px;
  padding: 0 8px;
  transition: opacity 130ms cubic-bezier(0.5, 0, 1, 1) 0ms,
    visibility 0ms linear 130ms,
    transform 130ms cubic-bezier(0.5, 0, 1, 1) 0ms;
}
.spectrum--large .spectrum-Tray.is-open {
    transition: transform 250ms cubic-bezier(0, 0, 0.40, 1) 160ms,
      opacity 250ms cubic-bezier(0, 0, 0.40, 1) 160ms;
  }
@media (max-inline-size: 375px) {
  .spectrum--large .spectrum-Tray {
    border-radius: 0px;
  }
}
