.spectrum--lightest .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-TreeView-item.is-disabled > .spectrum-TreeView-itemLink .spectrum-Icon {
        color: rgb(211, 211, 211);
      }
.spectrum--lightest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
        background-color: rgba(38,128,235,0.1);
        border-color: rgb(55, 142, 240);
      }
.spectrum--lightest .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink .spectrum-TreeView-itemIcon {
        color: rgb(50, 50, 50);
      }
.spectrum--lightest .spectrum-TreeView-item.is-drop-target > .spectrum-TreeView-itemLink:before {
        background-color: rgba(38,128,235,0.1);
        border-color: rgb(55, 142, 240);
      }
.spectrum--lightest .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink:before {
          background-color: rgba(50,50,50,0.06);
          border-color: transparent;
        }
.spectrum--lightest .spectrum-TreeView--quiet .spectrum-TreeView-item.is-selected > .spectrum-TreeView-itemLink.focus-ring:before {
            border-color: rgb(55, 142, 240);
          }
.spectrum--lightest .spectrum-TreeView-itemIcon {
  color: rgb(116, 116, 116);
}
.spectrum--lightest .spectrum-TreeView-itemLink {
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-TreeView-itemLink:hover {
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-TreeView-itemLink:hover:before {
      background-color: rgba(50,50,50,0.04);
    }
.spectrum--lightest .spectrum-TreeView-itemLink:hover .spectrum-TreeView-itemIcon {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-TreeView-itemLink.focus-ring {
    color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-TreeView-itemLink.focus-ring::before {
      background-color: rgba(50,50,50,0.04);

      border-color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-TreeView-itemLink.focus-ring .spectrum-TreeView-itemIcon {
      color: rgb(50, 50, 50);
    }
