.spectrum-SideNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.spectrum-SideNav-item {
  list-style-type: none;

  margin-top: 4px;

  margin-bottom: 4px;
  margin-left: 0;
  margin-right: 0;
}
.spectrum-SideNav-itemLink {
  position: relative;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: left;
      justify-content: left;
  box-sizing: border-box;

  width: 100%;
  min-height: 32px;

  padding-left: 12px;

  padding-right: 12px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 4px;

  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;

  word-break: break-word;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;

  cursor: pointer;

  transition: background-color 130ms ease-out,
              color 130ms ease-out;
}
.spectrum-SideNav-itemLink:focus {
    outline: none;
  }
[dir="ltr"] .spectrum-SideNav-itemLink.focus-ring::before {
    left: 0;
}
[dir="rtl"] .spectrum-SideNav-itemLink.focus-ring::before {
    right: 0;
}
[dir="ltr"] .spectrum-SideNav-itemLink.focus-ring::before {
    right: 0;
}
[dir="rtl"] .spectrum-SideNav-itemLink.focus-ring::before {
    left: 0;
}
.spectrum-SideNav-itemLink.focus-ring::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;

    border-top: 2px solid transparent;

    border-bottom: 2px solid transparent;
    border-radius: 4px;
  }
[dir="ltr"] .spectrum-SideNav-itemLink .spectrum-SideNav-itemIcon {
    margin-right: 8px;
}
[dir="rtl"] .spectrum-SideNav-itemLink .spectrum-SideNav-itemIcon {
    margin-left: 8px;
}
[dir="ltr"] .spectrum-SideNav-heading {
  margin-right: 0;
}
[dir="rtl"] .spectrum-SideNav-heading {
  margin-left: 0;
}
[dir="ltr"] .spectrum-SideNav-heading {
  margin-left: 0;
}
[dir="rtl"] .spectrum-SideNav-heading {
  margin-right: 0;
}
.spectrum-SideNav-heading {
  height: 32px;
  line-height: 32px;

  margin-top: 16px;
  margin-bottom: 4px;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 12px;
  padding-right: 12px;

  border-radius: 4px;

  font-size: 11px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0.06em;

  text-transform: uppercase;
}
.spectrum-SideNav--multiLevel .spectrum-SideNav-itemLink {
    font-weight: 700;
  }
.spectrum-SideNav--multiLevel .spectrum-SideNav {
    margin: 0;
    padding: 0;
  }
[dir="ltr"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {

      padding-left: 24px;
}
[dir="rtl"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {

      padding-right: 24px;
}
.spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav-itemLink {
      font-weight: 400;
    }
[dir="ltr"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav .spectrum-SideNav-itemLink {
        padding-left: 36px;
}
[dir="rtl"] .spectrum-SideNav--multiLevel .spectrum-SideNav .spectrum-SideNav .spectrum-SideNav-itemLink {
        padding-right: 36px;
}
