.spectrum--large [dir="ltr"] .spectrum-ToggleSwitch {

  margin-right: 20px;
}
.spectrum--large [dir="rtl"] .spectrum-ToggleSwitch {

  margin-left: 20px;
}
.spectrum--large .spectrum-ToggleSwitch {

  min-height: 40px;
}
.spectrum--large [dir='ltr'] .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::before {
      transform: translateX(calc(100% - 2px));
    }
.spectrum--large [dir='rtl'] .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::before {
      transform: translateX(calc(-100% + 2px));
    }
.spectrum--large .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after {
        margin: -2px;
      }
.spectrum--large .spectrum-ToggleSwitch-label {
  margin-left: 13px;
  margin-right: 13px;
  margin-top: 6px;
  font-size: 17px;
  line-height: 1.49;
  transition: color 160ms ease-in-out;
}
.spectrum--large .spectrum-ToggleSwitch-switch {

  width: 36px;
  margin-top: 11px;
  margin-bottom: 11px;

  transition: background 130ms ease-in-out, border 130ms ease-in-out;

  height: 18px;

  border-radius: 9px;
}
.spectrum--large .spectrum-ToggleSwitch-switch:before {
    transition: background 130ms ease-in-out, border 130ms ease-in-out, transform 130ms ease-in-out, box-shadow 130ms ease-in-out;

    width: 18px;
    height: 18px;

    border-width: 2px;
    border-radius: 9px;
  }
.spectrum--large .spectrum-ToggleSwitch-switch:after {
    border-radius: 13px;

    transition: opacity 130ms ease-out,
                margin 130ms ease-out;
  }
[dir="ltr"] .spectrum-ToggleSwitch {

  margin-right: 16px;
}
[dir="rtl"] .spectrum-ToggleSwitch {

  margin-left: 16px;
}
.spectrum-ToggleSwitch {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: start;
      align-items: flex-start;

  position: relative;

  min-height: 32px;
  max-width: 100%;

  vertical-align: top;
}
[dir="ltr"] .spectrum-ToggleSwitch-input {
  left: 0;
}
[dir="rtl"] .spectrum-ToggleSwitch-input {
  right: 0;
}
.spectrum-ToggleSwitch-input {
  margin: 0;
  box-sizing: border-box;
  padding: 0;

  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: .0001;
  z-index: 1;

  cursor: pointer;
}
[dir='ltr'] .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::before {
      transform: translateX(calc(100% - 2px));
    }
[dir='rtl'] .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch::before {
      transform: translateX(calc(-100% + 2px));
    }
.spectrum-ToggleSwitch-input:disabled,
  .spectrum-ToggleSwitch-input[disabled] {
    cursor: default;
  }
.spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after {
        margin: -2px;
      }
.spectrum-ToggleSwitch-label {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.49;
  transition: color 160ms ease-in-out;
}
[dir="ltr"] .spectrum-ToggleSwitch-switch {

  left: 0;
}
[dir="rtl"] .spectrum-ToggleSwitch-switch {

  right: 0;
}
[dir="ltr"] .spectrum-ToggleSwitch-switch {
  right: 0;
}
[dir="rtl"] .spectrum-ToggleSwitch-switch {
  left: 0;
}
.spectrum-ToggleSwitch-switch {
  display: inline-block;
  box-sizing: border-box;
  position: relative;

  width: 26px;
  margin-top: 9px;
  margin-bottom: 9px;
  margin-left: 0;
  margin-right: 0;

  -ms-flex-positive: 0;

      flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;

  vertical-align: middle;

  transition: background 130ms ease-in-out, border 130ms ease-in-out;

  height: 14px;

  border-radius: 7px;
}
.spectrum-ToggleSwitch-switch:before {
    display: block;
    position: absolute;
    content: "";
    box-sizing: border-box;
  }
[dir="ltr"] .spectrum-ToggleSwitch-switch:before {
    left: 0;
}
[dir="rtl"] .spectrum-ToggleSwitch-switch:before {
    right: 0;
}
.spectrum-ToggleSwitch-switch:before {
    transition: background 130ms ease-in-out, border 130ms ease-in-out, transform 130ms ease-in-out, box-shadow 130ms ease-in-out;

    width: 14px;
    height: 14px;

    top: 0;

    border-width: 2px;
    border-radius: 7px;
    border-style: solid;
  }
[dir="ltr"] .spectrum-ToggleSwitch-switch:after {
    left: 0;
}
[dir="rtl"] .spectrum-ToggleSwitch-switch:after {
    right: 0;
}
[dir="ltr"] .spectrum-ToggleSwitch-switch:after {
    right: 0;
}
[dir="rtl"] .spectrum-ToggleSwitch-switch:after {
    left: 0;
}
.spectrum-ToggleSwitch-switch:after {
    border-radius: 11px;
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    top: 0;
    margin: 0;

    transition: opacity 130ms ease-out,
                margin 130ms ease-out;
  }
.spectrum--dark .spectrum-ToggleSwitch-switch {
  background-color: rgb(74, 74, 74);
}
.spectrum--dark .spectrum-ToggleSwitch-switch:before {
    background-color: rgb(47, 47, 47);
    border-color: rgb(144, 144, 144);
  }
.spectrum--dark .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
  color: rgb(227, 227, 227);
}
.spectrum--dark .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
    background-color: rgb(55, 142, 240);
  }
.spectrum--dark .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(55, 142, 240);
    }
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(185, 185, 185);
        box-shadow: none;
      }
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
      background-color: rgb(75, 156, 245);
    }
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(75, 156, 245);
      }
.spectrum--dark .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(227, 227, 227);
      }
.spectrum--dark .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
      background-color: rgb(90, 169, 250);
    }
.spectrum--dark .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(90, 169, 250);
      }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(74, 74, 74);
  }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(90, 90, 90);
    }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled ~ .spectrum-ToggleSwitch-label {
    color: rgb(110, 110, 110);
  }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch {
      background-color: rgb(90, 90, 90);
    }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(90, 90, 90);
      }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked ~ .spectrum-ToggleSwitch-label {
      color: rgb(110, 110, 110);
    }
.spectrum--dark .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
    background-color: rgb(185, 185, 185);
  }
.spectrum--dark .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(185, 185, 185);
    }
.spectrum--dark .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(227, 227, 227);
  }
.spectrum--dark .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(227, 227, 227);
    }
.spectrum--dark .spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(255, 255, 255);
  }
.spectrum--dark .spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(255, 255, 255);
    }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:after,
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:after {
        box-shadow: 0 0 0 2px rgb(38, 128, 235);
        opacity: 0;
      }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after,
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after {
        opacity: 1;
      }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:before,
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(185, 185, 185);
      }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch,
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(75, 156, 245);
      }
.spectrum--dark .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before,
.spectrum--dark .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(75, 156, 245);
        }
.spectrum--dark .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch,
.spectrum--dark .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(227, 227, 227);
      }
.spectrum--dark .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before,
.spectrum--dark .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(227, 227, 227);
        }
.spectrum--dark .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
      background-color: rgb(74, 74, 74);
    }
.spectrum--dark .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(144, 144, 144);
      }
.spectrum--dark .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(185, 185, 185);
        }
.spectrum--dark .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(90, 90, 90);
        }
.spectrum--dark .spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(185, 185, 185);
        }
.spectrum--dark .spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(74, 74, 74);
      }
.spectrum--dark .spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(227, 227, 227);
        }
.spectrum--darkest .spectrum-ToggleSwitch-switch {
  background-color: rgb(57, 57, 57);
}
.spectrum--darkest .spectrum-ToggleSwitch-switch:before {
    background-color: rgb(26, 26, 26);
    border-color: rgb(124, 124, 124);
  }
.spectrum--darkest .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
  color: rgb(200, 200, 200);
}
.spectrum--darkest .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
    background-color: rgb(38, 128, 235);
  }
.spectrum--darkest .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(38, 128, 235);
    }
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(162, 162, 162);
        box-shadow: none;
      }
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: rgb(239, 239, 239);
    }
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
      background-color: rgb(55, 142, 240);
    }
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(55, 142, 240);
      }
.spectrum--darkest .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(200, 200, 200);
      }
.spectrum--darkest .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: rgb(239, 239, 239);
    }
.spectrum--darkest .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
      background-color: rgb(75, 156, 245);
    }
.spectrum--darkest .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(75, 156, 245);
      }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(57, 57, 57);
  }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(73, 73, 73);
    }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled ~ .spectrum-ToggleSwitch-label {
    color: rgb(92, 92, 92);
  }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch {
      background-color: rgb(73, 73, 73);
    }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(73, 73, 73);
      }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked ~ .spectrum-ToggleSwitch-label {
      color: rgb(92, 92, 92);
    }
.spectrum--darkest .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
    background-color: rgb(162, 162, 162);
  }
.spectrum--darkest .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(162, 162, 162);
    }
.spectrum--darkest .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(200, 200, 200);
  }
.spectrum--darkest .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(200, 200, 200);
    }
.spectrum--darkest .spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(239, 239, 239);
  }
.spectrum--darkest .spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(239, 239, 239);
    }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:after,
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:after {
        box-shadow: 0 0 0 2px rgb(20, 115, 230);
        opacity: 0;
      }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after,
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after {
        opacity: 1;
      }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:before,
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(162, 162, 162);
      }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch,
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(55, 142, 240);
      }
.spectrum--darkest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before,
.spectrum--darkest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(55, 142, 240);
        }
.spectrum--darkest .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch,
.spectrum--darkest .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(200, 200, 200);
      }
.spectrum--darkest .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before,
.spectrum--darkest .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(200, 200, 200);
        }
.spectrum--darkest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
      background-color: rgb(57, 57, 57);
    }
.spectrum--darkest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(124, 124, 124);
      }
.spectrum--darkest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(162, 162, 162);
        }
.spectrum--darkest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(73, 73, 73);
        }
.spectrum--darkest .spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(162, 162, 162);
        }
.spectrum--darkest .spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(57, 57, 57);
      }
.spectrum--darkest .spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(200, 200, 200);
        }
.spectrum--light .spectrum-ToggleSwitch-switch {
  background-color: rgb(225, 225, 225);
}
.spectrum--light .spectrum-ToggleSwitch-switch:before {
    background-color: rgb(250, 250, 250);
    border-color: rgb(142, 142, 142);
  }
.spectrum--light .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
  color: rgb(75, 75, 75);
}
.spectrum--light .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
    background-color: rgb(20, 115, 230);
  }
.spectrum--light .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(20, 115, 230);
    }
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(110, 110, 110);
        box-shadow: none;
      }
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
      background-color: rgb(13, 102, 208);
    }
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(13, 102, 208);
      }
.spectrum--light .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(75, 75, 75);
      }
.spectrum--light .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
      background-color: rgb(9, 90, 186);
    }
.spectrum--light .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(9, 90, 186);
      }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(225, 225, 225);
  }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(202, 202, 202);
    }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled ~ .spectrum-ToggleSwitch-label {
    color: rgb(179, 179, 179);
  }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch {
      background-color: rgb(202, 202, 202);
    }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(202, 202, 202);
      }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked ~ .spectrum-ToggleSwitch-label {
      color: rgb(179, 179, 179);
    }
.spectrum--light .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
    background-color: rgb(110, 110, 110);
  }
.spectrum--light .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(110, 110, 110);
    }
.spectrum--light .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(75, 75, 75);
  }
.spectrum--light .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(75, 75, 75);
    }
.spectrum--light .spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(44, 44, 44);
  }
.spectrum--light .spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(44, 44, 44);
    }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:after,
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:after {
        box-shadow: 0 0 0 2px rgb(38, 128, 235);
        opacity: 0;
      }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after,
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after {
        opacity: 1;
      }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:before,
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(110, 110, 110);
      }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch,
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(13, 102, 208);
      }
.spectrum--light .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before,
.spectrum--light .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(13, 102, 208);
        }
.spectrum--light .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch,
.spectrum--light .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(75, 75, 75);
      }
.spectrum--light .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before,
.spectrum--light .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(75, 75, 75);
        }
.spectrum--light .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
      background-color: rgb(225, 225, 225);
    }
.spectrum--light .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(142, 142, 142);
      }
.spectrum--light .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(110, 110, 110);
        }
.spectrum--light .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(202, 202, 202);
        }
.spectrum--light .spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(110, 110, 110);
        }
.spectrum--light .spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(225, 225, 225);
      }
.spectrum--light .spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(75, 75, 75);
        }
.spectrum--lightest .spectrum-ToggleSwitch-switch {
  background-color: rgb(234, 234, 234);
}
.spectrum--lightest .spectrum-ToggleSwitch-switch:before {
    background-color: rgb(255, 255, 255);
    border-color: rgb(149, 149, 149);
  }
.spectrum--lightest .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
  color: rgb(80, 80, 80);
}
.spectrum--lightest .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
    background-color: rgb(38, 128, 235);
  }
.spectrum--lightest .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(38, 128, 235);
    }
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(116, 116, 116);
        box-shadow: none;
      }
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
      background-color: rgb(20, 115, 230);
    }
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(20, 115, 230);
      }
.spectrum--lightest .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(80, 80, 80);
      }
.spectrum--lightest .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input ~ .spectrum-ToggleSwitch-label {
      color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
      background-color: rgb(13, 102, 208);
    }
.spectrum--lightest .spectrum-ToggleSwitch:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(13, 102, 208);
      }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(234, 234, 234);
  }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(211, 211, 211);
    }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled ~ .spectrum-ToggleSwitch-label {
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch {
      background-color: rgb(211, 211, 211);
    }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(211, 211, 211);
      }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input:disabled:checked ~ .spectrum-ToggleSwitch-label {
      color: rgb(188, 188, 188);
    }
.spectrum--lightest .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
    background-color: rgb(116, 116, 116);
  }
.spectrum--lightest .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(116, 116, 116);
    }
.spectrum--lightest .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(80, 80, 80);
  }
.spectrum--lightest .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(80, 80, 80);
    }
.spectrum--lightest .spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
    background-color: rgb(50, 50, 50);
  }
.spectrum--lightest .spectrum-ToggleSwitch.spectrum-ToggleSwitch--quiet:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
      border-color: rgb(50, 50, 50);
    }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:after,
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input + .spectrum-ToggleSwitch-switch:after {
        box-shadow: 0 0 0 2px rgb(55, 142, 240);
        opacity: 0;
      }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after,
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:after {
        opacity: 1;
      }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:before,
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(116, 116, 116);
      }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch,
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(20, 115, 230);
      }
.spectrum--lightest .spectrum-ToggleSwitch .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before,
.spectrum--lightest .spectrum-ToggleSwitch:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(20, 115, 230);
        }
.spectrum--lightest .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch,
.spectrum--lightest .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(80, 80, 80);
      }
.spectrum--lightest .spectrum-ToggleSwitch--quiet .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before,
.spectrum--lightest .spectrum-ToggleSwitch--quiet:hover .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(80, 80, 80);
        }
.spectrum--lightest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch {
      background-color: rgb(234, 234, 234);
    }
.spectrum--lightest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:checked + .spectrum-ToggleSwitch-switch:before {
        border-color: rgb(149, 149, 149);
      }
.spectrum--lightest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input.focus-ring:checked + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(116, 116, 116);
        }
.spectrum--lightest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled:checked + .spectrum-ToggleSwitch-switch {
        background-color: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-ToggleSwitch--ab .spectrum-ToggleSwitch-input:disabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(211, 211, 211);
        }
.spectrum--lightest .spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-ToggleSwitch--ab:hover .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(116, 116, 116);
        }
.spectrum--lightest .spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch {
        background-color: rgb(234, 234, 234);
      }
.spectrum--lightest .spectrum-ToggleSwitch--ab:active .spectrum-ToggleSwitch-input:checked:enabled + .spectrum-ToggleSwitch-switch:before {
          border-color: rgb(80, 80, 80);
        }
