.spectrum--lightest .spectrum-Calendar-prevMonth {
  color: rgb(116, 116, 116);
}
.spectrum--lightest .spectrum-Calendar-nextMonth {
  color: rgb(116, 116, 116);
}
.spectrum--lightest .spectrum-Calendar-dayOfWeek {
  color: rgb(116, 116, 116);
}
.spectrum--lightest .spectrum-Calendar-date:hover {
    color: rgb(73, 73, 73);
  }
.spectrum--lightest .spectrum-Calendar-date:hover:not(.is-selection-end):not(.is-selection-start):before {
        background: rgba(73,73,73,0.06);
      }
.spectrum--lightest .spectrum-Calendar-date:hover.is-selected {
      color: rgb(73, 73, 73);
    }
.spectrum--lightest .spectrum-Calendar-date:hover.is-selected:not(.is-selection-end):not(.is-selection-start):before {
          background: rgba(38,128,235,0.2);
        }
.spectrum--lightest .spectrum-Calendar-date:hover.is-range-selection:before {
        background: rgba(38,128,235,0.2);
      }
.spectrum--lightest .spectrum-Calendar-date:active {
    background-color: rgba(73,73,73,0.1);
  }
.spectrum--lightest .spectrum-Calendar-date.is-selected {
    color: rgb(73, 73, 73);
    background: rgba(38,128,235,0.1);
  }
.spectrum--lightest .spectrum-Calendar-date.is-selected:not(.is-range-selection) {
    background: rgba(38,128,235,0.2);
  }
.spectrum--lightest .spectrum-Calendar-date.is-today {
    color: rgb(73, 73, 73);
    border-color: rgb(73, 73, 73);
  }
.spectrum--lightest .spectrum-Calendar-date.is-today:before {
      border-color: rgb(73, 73, 73);
    }
.spectrum--lightest .spectrum-Calendar-date.is-today:hover.is-selected:not(.is-range-selection):before {
          background: rgba(38,128,235,0.2);
        }
.spectrum--lightest .spectrum-Calendar-date.is-today.is-disabled {
      color: rgb(188, 188, 188);
      border-color: rgb(211, 211, 211);
    }
.spectrum--lightest .spectrum-Calendar-date.is-today.is-disabled:before {
        border-color: rgb(211, 211, 211);
      }
.spectrum--lightest .spectrum-Calendar-date.is-focused:not(.is-range-selection) {
    background: rgba(73,73,73,0.06);
    border-color: rgb(55, 142, 240);
    color: rgb(73, 73, 73);
  }
.spectrum--lightest .spectrum-Calendar-date.is-focused:not(.is-range-selection).is-today {
      border-color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Calendar-date.is-focused:not(.is-range-selection):active,
.spectrum--lightest .spectrum-Calendar-date.is-focused:not(.is-range-selection).is-selected {
      color: rgb(73, 73, 73);
      background: rgba(38,128,235,0.2);
      border-color: rgb(55, 142, 240);
    }
.spectrum--lightest .spectrum-Calendar-date.is-focused.is-selected:before {
        background: rgba(38,128,235,0.2);
      }
.spectrum--lightest .spectrum-Calendar-date.is-focused.is-range-selection:before {
        background: rgba(38,128,235,0.2);
      }
.spectrum--lightest .spectrum-Calendar-date.is-disabled {
    color: rgb(188, 188, 188);
  }
.spectrum--lightest .spectrum-Calendar-date.is-selection-start,
.spectrum--lightest .spectrum-Calendar-date.is-selection-end {
    color: rgb(73, 73, 73);
  }
.spectrum--lightest .spectrum-Calendar-date.is-selection-start:after,
.spectrum--lightest .spectrum-Calendar-date.is-selection-end:after {
      background-color: rgba(38,128,235,0.1);
    }
.spectrum--lightest .spectrum-Calendar-date.is-selection-start.is-disabled,
.spectrum--lightest .spectrum-Calendar-date.is-selection-end.is-disabled {
      color: rgb(188, 188, 188);
    }
