.spectrum--large .spectrum-Modal {

  transition: transform 130ms ease-in-out,
              opacity 130ms ease-in-out,
              visibility 0ms linear 130ms;
}
.spectrum--large .spectrum-Modal-wrapper {
  transition: visibility 0ms linear
    130ms;
}
.spectrum--large .spectrum-Modal {
  transform: translateY(25px);
  max-height: 90vh;

  border-radius: 5px;
  transition: opacity 130ms
      cubic-bezier(0.5, 0, 1, 1) 0ms,
    visibility 0ms linear
      130ms,
    transform 0ms linear
      130ms;
}
.spectrum--large .spectrum-Modal.is-open {
    transition: transform 250ms
        cubic-bezier(0, 0, 0.4, 1) 160ms,
      opacity 250ms
        cubic-bezier(0, 0, 0.4, 1) 160ms;
  }
.spectrum--large .spectrum-Modal--fullscreen {
  left: 32px;
  top: 32px;
  right: 32px;
  bottom: 32px;
}
